In [1]:
# _*_ coding: utf-8 _*_
# @Time: 2021/12/24 14:15 
# @Author: yuyongsheng
# @Software: PyCharm
# @Description: 新华医院生脉注射液：1. 数据处理：201907041611133032包含在其他科原始数据中，它们和心内科用的受试者编号对应不同人

# 数据处理

## 导入程序包

In [2]:
# 导入程序包
import pymysql as MySQLDB
import pandas as pd
import numpy as np

import re
import sys
import os
project_path = os.getcwd()

## 导入预定义函数

In [3]:
# 字符串转换为时间格式
import datetime
def str_to_datetime(x):
    try:
        a = datetime.datetime.strptime(x, "%d/%m/%Y %H:%M:%S")
        return a
    except:
        return np.NaN

In [4]:
# 过滤特征字符
def filter_spec_character(df,feature):
    df[feature]=df[feature].apply(lambda x: re.sub('<|>|\+|\/','',str(x)))
    return df

In [5]:
# 过滤文字
import numpy as np
def filter_string(df,feature):
    # 过滤文字!!!!!!!!!!!!!!!!!!!!!!!!!!!
    df=df[df[feature].str.contains('\d')]
    return df

In [6]:
# 过滤异常大值
def filter_huge_value(df,feature):
    # 过滤异常大值!!!!!!!!!!!!!!!!!!!!!!!!!!
    median_value=df[feature].median()
    if median_value == 0:
        pass
    else:
        df[feature]=df[feature].apply(lambda x: np.nan if x<0 else x if float(x) <= 100 * median_value else 100*median_value)
    return df

In [7]:
# 使用随机森林对缺失值进行插补
import pandas as pd
pd.set_option('mode.chained_assignment', None)
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
def missing_value_interpolation(df,missing_list=[]):
    df = df.reset_index(drop=True)
    # 提取存在缺失值的列名
    if not missing_list:
        for i in df.columns:
            if df[i].isnull().sum() > 0:
                missing_list.append(i)
    missing_list_copy = missing_list.copy()
    # 用该列未缺失的值训练随机森林，然后用训练好的rf预测缺失值
    for i in range(len(missing_list)):
        name=missing_list[0]
        df_missing = df[missing_list_copy]
        # 将其他列的缺失值用0表示。
        missing_list.remove(name)
        for j in missing_list:
            df_missing[j]=df_missing[j].astype('str').apply(lambda x: 0 if x=='nan' else x)
        df_missing_is = df_missing[df_missing[name].isnull()]
        df_missing_not = df_missing[df_missing[name].notnull()]
        y = df_missing_not[name]
        x = df_missing_not.drop([name],axis=1)
        # 列出参数列表
        tree_grid_parameter = {'n_estimators': list((10, 50, 100, 150, 200))}
        # 进行参数的搜索组合
        grid = GridSearchCV(RandomForestRegressor(),param_grid=tree_grid_parameter,cv=3)
        #rfr=RandomForestRegressor(random_state=0,n_estimators=100,n_jobs=-1)
        #根据已有数据去拟合随机森林模型
        grid.fit(x, y)
        rfr = RandomForestRegressor(n_estimators=grid.best_params_['n_estimators'])
        rfr.fit(x, y)
        #预测缺失值
        predict = rfr.predict(df_missing_is.drop([name],axis=1))
        #填补缺失值
        df.loc[df[name].isnull(),name] = predict
    return df

## 提取用药信息

### 其他科用药数据

In [62]:
drug_data_1 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-其他科1021.xlsx',
                            sheet_name='EX_生脉注射液用药情况',
#                            header=1,  # 指定第2行作为标题行
                           skiprows=[1,1,1])  # 跳过第1行

In [63]:
print(drug_data_1.shape)
print(drug_data_1['SUBJECTID'].nunique())

(1107, 30)
645

In [64]:
drug_data_1.head()

,STUDYID,SITEID,SITE,SUBJECTID,VISIT,EXYN,EXYN_CHAR,EXSTDAT,EXENDAT,EXDLDAYS,...,EXDSTXTUT,EXDSTXTSD,EXDSTXTSU,EXMENS,EXMENS_CHAR,EXMENOTH,EXCOMDYN,EXCOMDYN_CHAR,ENTSTDTC,ENTENDTC
0,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90001,生脉注射液用药情况,1.0,是,2018-04-07,2018-04-15,9.0,...,ml,NaN,NaN,99.0,其它,0.9% NS 100ml,2.0,无,2018/4/20 15:59:03,NaN
1,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90001,生脉注射液用药情况,2.0,否,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019/8/1 23:14:03,NaN
2,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90002,生脉注射液用药情况,2.0,否,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019/10/1 19:20:27,NaN
3,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90003,生脉注射液用药情况,1.0,是,2018-03-12,2018-03-17,6.0,...,ml,NaN,NaN,1.0,5% GS 250ml,NaN,2.0,无,2018/9/16 16:37:59,NaN
4,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90003,生脉注射液用药情况,2.0,否,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019/8/8 16:31:10,NaN

In [65]:
# 提取使用生脉注射液的数据
drug_data_1=drug_data_1[drug_data_1['EXYN_CHAR']=='是']
drug_data_1=drug_data_1.reset_index(drop=True)

In [66]:
print(drug_data_1.shape)
print(drug_data_1['SUBJECTID'].nunique())

(635, 30)
635

In [67]:
# 删除用药剂量为空的数据
drug_data_1=drug_data_1[(drug_data_1['EXDOSFRQ'].notnull()) &
                       (drug_data_1['EXDSTXT'].notnull())]
drug_data_1=drug_data_1.reset_index(drop=True)

In [68]:
print(drug_data_1.shape)
print(drug_data_1['SUBJECTID'].nunique())

(635, 30)
635

In [69]:
# 提取有效字段
drug_data_1=drug_data_1[['SUBJECTID','EXSTDAT','EXENDAT','EXDLDAYS','EXDOSFRQ','EXDSTXT']]

In [70]:
# 标记受试者编号
drug_data_1['SUBJECTID']=drug_data_1['SUBJECTID'].apply(lambda x: str(x)+'_a')

In [71]:
drug_data_1.head()

  SUBJECTID     EXSTDAT     EXENDAT  EXDLDAYS  EXDOSFRQ  EXDSTXT
0   90001_a  2018-04-07  2018-04-15       9.0       1.0     30.0
1   90003_a  2018-03-12  2018-03-17       6.0       1.0     40.0
2   90004_a  2018-02-13  2018-02-13       1.0       1.0     40.0
3   90005_a  2018-02-09  2018-02-09       1.0       1.0     40.0
4   90006_a  2018-02-23  2018-02-23       1.0       1.0     30.0

In [72]:
#计算日计量
drug_data_1['日计量']=drug_data_1['EXDOSFRQ'].astype('float') * drug_data_1['EXDSTXT'].astype('float')

In [73]:
drug_data_1.to_excel(project_path+'/data/processed_data/用药数据/其他科_drug_1.xlsx')

### 心内科用药数据

In [74]:
drug_data_2 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-心内科1021.xlsx',
                            sheet_name='EX_生脉注射液用药情况',
                            #                            header=1,  # 指定第2行作为标题行
                           skiprows=[1,1,1])  # 跳过第几行)

In [75]:
print(drug_data_2.shape)
print(drug_data_2['SUBJECTID'].nunique())

(192, 30)
105

In [76]:
drug_data_2

,STUDYID,SITEID,SITE,SUBJECTID,VISIT,EXYN,EXYN_CHAR,EXSTDAT,EXENDAT,EXDLDAYS,...,EXDSTXTUT,EXDSTXTSD,EXDSTXTSU,EXMENS,EXMENS_CHAR,EXMENOTH,EXCOMDYN,EXCOMDYN_CHAR,ENTSTDTC,ENTENDTC
0,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90001,生脉注射液用药情况,1,是,2018-02-13,2018-02-13,1,...,ml,NaN,NaN,1.0,5% GS 250ml,NaN,2.0,无,2018/9/16 15:23:56,NaN
1,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90001,生脉注射液用药情况,2,否,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019/7/3 20:11:17,NaN
2,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90002,生脉注射液用药情况,1,是,2019-04-24,2019-05-05,12,...,ml,NaN,NaN,99.0,其它,果糖针5%0ml静滴qd,NaN,NaN,2019/9/8 19:36:19,NaN
3,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90002,生脉注射液用药情况,2,否,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019/9/29 20:17:06,NaN
4,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90003,生脉注射液用药情况,1,是,2019-05-24,NaN,1,...,ml,NaN,NaN,99.0,其它,0.9%氯化钠针100ml静滴,NaN,NaN,2019/9/8 19:45:14,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90101,生脉注射液用药情况,1,是,2019-05-28,2019-06-28,32,...,ml,NaN,NaN,99.0,其它,0.9%氯化钠注射液100ml 静滴qd,NaN,NaN,2019/9/27 22:29:14,NaN
188,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90102,生脉注射液用药情况,1,是,2019-01-29,2019-01-30,2,...,ml,NaN,NaN,99.0,其它,果糖针250ml 静滴qd,NaN,NaN,2019/9/28 16:30:03,NaN
189,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90103,生脉注射液用药情况,1,是,2019-08-15,2019-08-21,7,...,ml,NaN,NaN,99.0,其它,0.9%氯化钠注射液250ml 静滴qd,NaN,NaN,2019/10/1 23:38:26,NaN
190,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90104,生脉注射液用药情况,1,是,2019-08-05,2019-08-12,8,...,ml,NaN,NaN,99.0,其它,0.9%氯化钠注射液100ml 静滴qd,NaN,NaN,2019/10/1 23:49:02,NaN
191,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90105,生脉注射液用药情况,1,是,2019-08-25,2019-08-27,3,...,ml,NaN,NaN,99.0,其它,0.9%氯化钠注射液250ml 静滴qd,NaN,NaN,2019/10/2 0:02:58,NaN

In [77]:
# 提取使用生脉注射液的数据
drug_data_2=drug_data_2[drug_data_2['EXYN_CHAR']=='是']
drug_data_2=drug_data_2.reset_index(drop=True)

In [78]:
print(drug_data_2.shape)
print(drug_data_2['SUBJECTID'].nunique())

(105, 30)
105

In [79]:
# 删除用药剂量为空的数据
drug_data_2=drug_data_2[(drug_data_2['EXDOSFRQ'].notnull()) &
                       (drug_data_2['EXDSTXT'].notnull())]
drug_data_2=drug_data_2.reset_index(drop=True)

In [80]:
print(drug_data_2.shape)
print(drug_data_2['SUBJECTID'].nunique())

(105, 30)
105

In [81]:
# 提取有效字段
drug_data_2=drug_data_2[['SUBJECTID','EXSTDAT','EXENDAT','EXDLDAYS','EXDOSFRQ','EXDSTXT']]

In [82]:
# 标记受试者编号
drug_data_2['SUBJECTID']=drug_data_2['SUBJECTID'].apply(lambda x: str(x)+'_b')

In [83]:
drug_data_2.head()

  SUBJECTID     EXSTDAT     EXENDAT  EXDLDAYS  EXDOSFRQ  EXDSTXT
0   90001_b  2018-02-13  2018-02-13         1       1.0     40.0
1   90002_b  2019-04-24  2019-05-05        12       1.0     60.0
2   90003_b  2019-05-24         NaN         1       1.0     40.0
3   90004_b  2019-04-01  2019-04-03         3       1.0     60.0
4   90005_b  2019-05-20  2019-05-27         8       1.0     30.0

In [84]:
#计算日计量
drug_data_2['日计量']=drug_data_2['EXDOSFRQ'].astype('float') * drug_data_1['EXDSTXT'].astype('float')

In [85]:
drug_data_2.to_excel(project_path+'/data/processed_data/用药数据/心内科_drug_2.xlsx')

### 合并用药数据

In [247]:
df_SUP_drug=pd.concat([drug_data_1,drug_data_2],axis=0)

In [248]:
print(df_SUP_drug.shape)
print(df_SUP_drug['SUBJECTID'].nunique())

(740, 7)
740

In [329]:
df_SUP_drug.columns

Index(['受试者编号', '用药开始时间', '用药结束时间', '用药天数', 'EXDOSFRQ', 'EXDSTXT', '日计量'], dtype='object')

In [249]:
df_SUP_drug.rename(columns={'SUBJECTID':'受试者编号',
                            'EXSTDAT':'用药开始时间',
                            'EXENDAT':'用药结束时间',
                            'EXDLDAYS':'用药天数'},inplace=True)
df_SUP_drug=df_SUP_drug.reset_index(drop=True)

In [357]:
df_SUP_drug.to_excel(project_path+'/data/processed_data/df_1.3.3_生脉用药.xlsx')

### 计算用药时长

In [257]:
aaa=df_SUP_drug[df_SUP_drug['用药结束时间'].isnull()]
bbb=df_SUP_drug[df_SUP_drug['用药结束时间'].notnull()]
aaa['用药结束时间']=aaa['用药开始时间']
df_SUP_drug=pd.concat([aaa,bbb],axis=0)
df_SUP_drug=df_SUP_drug.sort_values(by=['受试者编号','用药开始时间'])
df_SUP_drug=df_SUP_drug.reset_index(drop=True)

In [258]:
df_SUP_drug['用药天数']=(pd.to_datetime(df_SUP_drug['用药结束时间']) - pd.to_datetime(df_SUP_drug['用药开始时间']))
df_SUP_drug['用药天数']=df_SUP_drug['用药天数'].apply(lambda x:x.days+1)

In [259]:
df_SUP_drug.shape

(740, 7)

In [114]:
df_SUP_drug.to_excel(project_path+'/data/processed_data/df_1.3.4_用药时长.xlsx')

## 统计用药时长和出入院时长

### 入院时间

In [39]:
# 其他科 VD_住院日期
df_入院时间_1 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-其他科1021.xlsx',
                            sheet_name='VD_住院日期',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第1行

df_入院时间_1['受试者编号']=df_入院时间_1['受试者编号'].apply(lambda x: str(x)+'_a')
df_入院时间_1=df_入院时间_1[['受试者编号','住院日期']]

In [40]:
# 心内科入院时间
df_入院时间_2 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-心内科1021.xlsx',
                            sheet_name='VD_住院日期',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第几行)

df_入院时间_2['受试者编号']=df_入院时间_2['受试者编号'].apply(lambda x: str(x)+'_b')
df_入院时间_2=df_入院时间_2[['受试者编号','住院日期']]

In [41]:
df_入院时间=pd.concat([df_入院时间_1,df_入院时间_2],axis=0)

In [42]:
df_入院时间

       受试者编号        住院日期
0    90001_a  2018-04-03
1    90002_a  2018-07-17
2    90003_a  2018-01-31
3    90004_a  2018-01-26
4    90005_a  2018-02-07
..       ...         ...
100  90101_b  2019-05-08
101  90102_b  2019-01-18
102  90103_b  2019-08-15
103  90104_b  2019-08-05
104  90105_b  2019-08-22

[750 rows x 2 columns]

In [116]:
df_入院时间.to_excel(project_path+'/data/processed_data/df_1.4.1_入院时间.xlsx')

### 出院时间

In [221]:
# 其他科 VD_住院日期
df_出院时间_1 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-其他科1021.xlsx',
                            sheet_name='DS_出院情况',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第1行

df_出院时间_1['受试者编号']=df_出院时间_1['受试者编号'].apply(lambda x: str(x)+'_a')
df_出院时间_1=df_出院时间_1[['受试者编号','完成日期']]

In [222]:
# 心内科入院时间
df_出院时间_2 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-心内科1021.xlsx',
                            sheet_name='DS_出院情况',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第几行)

df_出院时间_2['受试者编号']=df_出院时间_2['受试者编号'].apply(lambda x: str(x)+'_b')
df_出院时间_2=df_出院时间_2[['受试者编号','完成日期']]

In [223]:
df_出院时间 = pd.concat([df_出院时间_1,df_出院时间_2],axis=0)

### 合并住院时间

In [243]:
df_住院时间 = pd.merge(df_入院时间,df_出院时间,on='受试者编号',how='left')

In [244]:
df_住院时间.shape

(750, 3)

In [226]:
df_住院时间.to_excel(project_path+'/data/processed_data/df_1.4.3_合并出院时间.xlsx')

PermissionError: [Errno 13] Permission denied: 'D:\\PycharmProjects\\SUP_xinhua_hospital/data/processed_data/df_1.4.3_合并出院时间.xlsx'

### 并入用药-计算住院时长

In [260]:
# 并入住院时间
df_SUP_inp=pd.merge(df_SUP_drug,df_住院时间,on='受试者编号',how='left')

In [261]:
df_SUP_inp.columns

Index(['受试者编号', '用药开始时间', '用药结束时间', '用药天数', 'EXDOSFRQ', 'EXDSTXT', '日计量',
       '住院日期', '完成日期'],
      dtype='object')

In [268]:
aaa=df_SUP_inp[df_SUP_inp['住院日期'].isnull()]
bbb=df_SUP_inp[df_SUP_inp['住院日期'].notnull()]
aaa['住院日期']=aaa['用药开始时间']
df_SUP_inp=pd.concat([aaa,bbb],axis=0)
df_SUP_inp=df_SUP_inp.sort_values(by=['受试者编号','用药开始时间'])
df_SUP_inp=df_SUP_inp.reset_index(drop=True)

In [269]:
df_SUP_inp.isnull().any()

受试者编号       False
用药开始时间      False
用药结束时间      False
用药天数        False
EXDOSFRQ    False
EXDSTXT     False
日计量         False
住院日期        False
完成日期         True
dtype: bool

In [270]:
df_SUP_inp.to_excel(project_path+'/data/processed_data/df_1.4.4_temp_补充入院时间.xlsx')

In [271]:
aaa=df_SUP_inp[df_SUP_inp['完成日期'].isnull()]
bbb=df_SUP_inp[df_SUP_inp['完成日期'].notnull()]
aaa['完成日期']=aaa['用药开始时间']
df_SUP_inp=pd.concat([aaa,bbb],axis=0)
df_SUP_inp=df_SUP_inp.sort_values(by=['受试者编号','用药开始时间'])
df_SUP_inp=df_SUP_inp.reset_index(drop=True)

In [272]:
df_SUP_inp.isnull().any()

受试者编号       False
用药开始时间      False
用药结束时间      False
用药天数        False
EXDOSFRQ    False
EXDSTXT     False
日计量         False
住院日期        False
完成日期        False
dtype: bool

In [274]:
df_SUP_inp.to_excel(project_path+'/data/processed_data/df_1.4.4_temp_补充出院时间.xlsx')

In [278]:
df_SUP_inp['住院时长']=(pd.to_datetime(df_SUP_inp['完成日期']) - pd.to_datetime(df_SUP_inp['住院日期']))
df_SUP_inp['住院时长']=df_SUP_inp['住院时长'].apply(lambda x:x.days+1)

In [281]:
df_SUP_inp.shape

(740, 10)

In [280]:
df_SUP_inp.to_excel(project_path+'/data/processed_data/df_1.4.4_计算住院时长.xlsx')

### 住院前3天内用药筛选

In [331]:
# 统计出院前1天的用药
df_SUP_oup_1d=df_SUP_inp[(pd.to_datetime(df_SUP_inp['用药结束时间'])>=pd.to_datetime(df_SUP_inp['完成日期'])-datetime.timedelta(days=1))&
    (pd.to_datetime(df_SUP_inp['用药开始时间'])<=pd.to_datetime(df_SUP_inp['完成日期'])-datetime.timedelta(days=1))]

In [332]:
df_SUP_oup_1d.shape

(392, 10)

In [333]:
# 统计出院前2天的用药
df_SUP_oup_2d=df_SUP_inp[(pd.to_datetime(df_SUP_inp['用药结束时间'])>=pd.to_datetime(df_SUP_inp['完成日期'])-datetime.timedelta(days=1))&
    (pd.to_datetime(df_SUP_inp['用药开始时间'])<=pd.to_datetime(df_SUP_inp['完成日期'])-datetime.timedelta(days=2))]

In [334]:
df_SUP_oup_2d.shape

(382, 10)

In [335]:
# 统计出院前3天的用药
df_SUP_oup_3d=df_SUP_inp[(pd.to_datetime(df_SUP_inp['用药结束时间'])>=pd.to_datetime(df_SUP_inp['完成日期'])-datetime.timedelta(days=1))&
    (pd.to_datetime(df_SUP_inp['用药开始时间'])<=pd.to_datetime(df_SUP_inp['完成日期'])-datetime.timedelta(days=3))]

In [336]:
df_SUP_oup_3d.shape

(371, 10)

In [338]:
df_SUP_oup_3d.to_excel(project_path+'/data/processed_data/df_1.4.5_用药_出院_3d.xlsx')

In [339]:
# 统计出院前4天的用药
df_SUP_oup_4d=df_SUP_inp[(pd.to_datetime(df_SUP_inp['用药结束时间'])>=pd.to_datetime(df_SUP_inp['完成日期'])-datetime.timedelta(days=1))&
    (pd.to_datetime(df_SUP_inp['用药开始时间'])<=pd.to_datetime(df_SUP_inp['完成日期'])-datetime.timedelta(days=4))]

In [340]:
df_SUP_oup_4d.shape

(353, 10)

## 提取人口学特征

In [309]:
df_former_processed_data=pd.read_excel(project_path+'/data/processed_data/数据清洗结果.xlsx')

In [314]:
df_popu=df_former_processed_data[['受试者编号','年龄','性别']]
# 男-1，女-0
df_popu['性别']=df_popu['性别'].apply(lambda x: 1 if x==0 else 0)

In [315]:
df_popu

       受试者编号  年龄  性别
0    90001_a  61   0
1    90003_a  53   1
2    90004_a  70   1
3    90005_a  70   1
4    90006_a  79   0
..       ...  ..  ..
732  90100_b  85   1
733  90101_b  70   0
734  90102_b  64   1
735  90104_b  82   0
736  90105_b  73   1

[737 rows x 3 columns]

In [316]:
df_SUP_popu=pd.merge(df_SUP_oup_3d,df_popu,on='受试者编号',how='left')

In [317]:
df_SUP_popu.to_excel(project_path+'/data/processed_data/df_1.5_df_SUP_popu.xlsx')

## 提取结局事件

### 提取出院诊断

In [341]:
# 其他科
df_oup_diagnosis_1 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-其他科1021.xlsx',
                            sheet_name='DS_出院情况',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第1行

# 标记受试者编号
df_oup_diagnosis_1['受试者编号']=df_oup_diagnosis_1['受试者编号'].apply(lambda x: str(x)+'_a')

# 提取有效字段
df_oup_diagnosis_1=df_oup_diagnosis_1[['受试者编号','出院诊断','主要疾病转归_描述']]

In [342]:
# 心内科
df_oup_diagnosis_2 = pd.read_excel(project_path+'/data/raw_data//导出全部CRF表数据-心内科1021.xlsx',
                            sheet_name='DS_出院情况',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第1行

# 标记受试者编号
df_oup_diagnosis_2['受试者编号']=df_oup_diagnosis_2['受试者编号'].apply(lambda x: str(x)+'_b')
# 提取有效字段
df_oup_diagnosis_2=df_oup_diagnosis_2[['受试者编号','出院诊断','主要疾病转归_描述']]

In [343]:
# 合并其他科和心内科联合用药
df_oup_diagnosis=pd.concat([df_oup_diagnosis_1,df_oup_diagnosis_2])
df_oup_diagnosis=df_oup_diagnosis[df_oup_diagnosis['主要疾病转归_描述'].notnull()]

In [344]:
df_oup_diagnosis.shape

(741, 3)

In [346]:
df_oup_diagnosis['主要疾病转归_描述'].value_counts()

好转    671
致死     39
未愈     30
治愈      1
Name: 主要疾病转归_描述, dtype: int64

In [323]:
df_oup_diagnosis.to_excel(project_path+'/data/processed_data/df_1.6.1_出院诊断数据.xlsx')

### 并入出院诊断

In [325]:
df_oup_diagnosis.rename(columns={'主要疾病转归_描述':'label'},inplace=True)
df_oup_diagnosis['label']=df_oup_diagnosis['label'].apply(lambda x: 1 if re.match('致死|未愈',x) else 0)

In [326]:
df_SUP_diagnosis=pd.merge(df_SUP_popu,df_oup_diagnosis,on='受试者编号',how='inner')

In [327]:
df_SUP_diagnosis.shape

(370, 14)

In [348]:
df_SUP_diagnosis.label.value_counts()

0    349
1     21
Name: label, dtype: int64

In [328]:
df_SUP_diagnosis.head()

,受试者编号,用药开始时间,用药结束时间,用药天数,EXDOSFRQ,EXDSTXT,日计量,住院日期,完成日期,住院时长,年龄,性别,出院诊断,label
0,90001_a,2018-04-07,2018-04-15,9,1.0,30.0,30.0,2018-04-03,2018-04-15,13,61.0,0.0,大脑动脉狭窄脑梗死 NIHSS评分12分，高血压病（2级，很高危），2型糖尿病，脑梗死个人史...,0
1,90003_a,2018-03-12,2018-03-17,6,1.0,40.0,40.0,2018-01-31,2018-03-17,46,53.0,1.0,I型呼吸衰竭 重症肺炎 肺栓塞(中低危)心功能不全 高血压病I级(高危)肝功能不全 下肢静脉...,1
2,90018_b,2019-05-28,2019-06-04,8,1.0,60.0,40.0,2019-05-28,2019-06-05,9,51.0,1.0,"急性下壁心肌梗塞,Killip I 级,急诊RCA-PCI术后,冠心病,高血压病(1级,很高危)",0
3,90021_b,2019-04-23,2019-05-05,13,1.0,60.0,30.0,2019-04-27,2019-05-06,10,62.0,1.0,"急性前壁心肌梗塞,killip Ⅰ级,急诊PCI术后,冠心病 2型糖尿病 脑梗个人史",0
4,90025_a,2018-02-23,2018-03-02,8,1.0,40.0,40.0,1933-02-23,2018-03-02,31054,0.0,1.0,"1.大脑动脉狭窄 2.肺部感染 慢支 3.高血压病3级,极高危; 4.2型糖尿病 5.脑梗死个人史",0

In [330]:
df_SUP_diagnosis.to_excel(project_path+'/data/processed_data/df_1.6.2_并入出院诊断结局.xlsx')

### 统计出院前几天用药的结局分布

In [350]:
df_count_3d_1=df_oup_diagnosis[df_oup_diagnosis['受试者编号'].isin(df_SUP_oup_1d.受试者编号.unique())]

df_count_3d_1['主要疾病转归_描述'].value_counts()

好转    366
未愈     21
致死      4
Name: 主要疾病转归_描述, dtype: int64

In [351]:
df_count_3d_2=df_oup_diagnosis[df_oup_diagnosis['受试者编号'].isin(df_SUP_oup_2d.受试者编号.unique())]

df_count_3d_2['主要疾病转归_描述'].value_counts()

好转    358
未愈     19
致死      4
Name: 主要疾病转归_描述, dtype: int64

In [352]:
df_count_3d_3=df_oup_diagnosis[df_oup_diagnosis['受试者编号'].isin(df_SUP_oup_3d.受试者编号.unique())]

df_count_3d_3['主要疾病转归_描述'].value_counts()

好转    349
未愈     17
致死      4
Name: 主要疾病转归_描述, dtype: int64

In [354]:
df_count_3d_3.to_excel(project_path+'/data/processed_data/df_1.6.3_出院前3天的结局分布.xlsx')

In [353]:
df_count_3d_4=df_oup_diagnosis[df_oup_diagnosis['受试者编号'].isin(df_SUP_oup_4d.受试者编号.unique())]

df_count_3d_4['主要疾病转归_描述'].value_counts()

好转    334
未愈     15
致死      3
Name: 主要疾病转归_描述, dtype: int64

## 并入个人史和既往史

In [ ]:
df_history=df_former_processed_data[[]]

## 提取联合用药

### 提取联合用药

In [211]:
# 其他科
df_drug_other_1 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-其他科1021.xlsx',
                            sheet_name='CM_合并用药',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第1行

# 标记受试者编号
df_drug_other_1['受试者编号']=df_drug_other_1['受试者编号'].apply(lambda x: str(x)+'_a')

# 提取有效字段
df_drug_other_1=df_drug_other_1[['受试者编号','药物名称（通用名）','用药开始日期','用药结束日期']]

In [212]:
# 心内科
df_drug_other_2 = pd.read_excel(project_path+'/data/raw_data//导出全部CRF表数据-心内科1021.xlsx',
                            sheet_name='CM_合并用药',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第1行

# 标记受试者编号
df_drug_other_2['受试者编号']=df_drug_other_2['受试者编号'].apply(lambda x: str(x)+'_b')
# 提取有效字段
df_drug_other_2=df_drug_other_2[['受试者编号','药物名称（通用名）','用药开始日期','用药结束日期']]

In [218]:
# 合并其他科和心内科联合用药
df_drug_other=pd.concat([df_drug_other_1,df_drug_other_2])

In [221]:
df_drug_other.to_excel(project_path+'/data/processed_data/df_1.5.1_联合用药.xlsx')

### 统计联合用药

In [275]:
type(df_drug_other['药物名称（通用名）'].value_counts())

pandas.core.series.Series

In [276]:
drug_name_counts=df_drug_other['药物名称（通用名）'].value_counts()
df_drug_other_name=pd.DataFrame(data={'药物名称':drug_name_counts.index,
                                     '频次':drug_name_counts.values})
# 保存联合用药名
writer=pd.ExcelWriter(project_path+'/data/processed_data/df_1.5.2_统计联合用药名.xlsx')
df_drug_other_name.to_excel(writer)
writer.save()

### 筛选出院前3天的联合用药

In [306]:
# 提取出院前3天的联合用药
temp_list=[]
for i in df_用药时长_住院时长.受试者编号.unique():
    temp=df_用药时长_住院时长[df_用药时长_住院时长['受试者编号']==i]
    temp=temp.reset_index(drop=True)
    temp_other=df_drug_other[df_drug_other['受试者编号']==i]
    temp_other=temp_other.reset_index(drop=True)
    
    temp_other_choose=temp_other[(pd.to_datetime(temp_other['用药结束日期'])>=pd.to_datetime(temp.loc[0,'完成日期'])-datetime.timedelta(days=3))&
                                 (pd.to_datetime(temp_other['用药开始日期'])<=pd.to_datetime(temp.loc[0,'完成日期'])-datetime.timedelta(days=1))]

    temp_list.append(temp_other_choose)

In [307]:
temp_other_choose

     受试者编号 药物名称（通用名）      用药开始日期      用药结束日期
0  90105_b   美托洛尔缓释片  2019-08-23  2019-08-28
1  90105_b   泮托拉唑肠溶片  2019-08-22  2019-08-28
2  90105_b  硫酸氢氯吡格雷片  2019-08-22  2019-08-28

In [308]:
temp_other_choose

     受试者编号 药物名称（通用名）      用药开始日期      用药结束日期
0  90105_b   美托洛尔缓释片  2019-08-23  2019-08-28
1  90105_b   泮托拉唑肠溶片  2019-08-22  2019-08-28
2  90105_b  硫酸氢氯吡格雷片  2019-08-22  2019-08-28

In [309]:
df_drug_other_choose=pd.concat(temp_list,axis=0).reset_index(drop=True)

In [310]:
df_drug_other_choose.to_excel(project_path+'/data/processed_data/df_1.7.3_出院前3天内的联合用药.xlsx')

## 提取检测信息

### 血常规

#### 其他科

In [48]:
df_血常规_1 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-其他科1021.xlsx',
                            sheet_name='LBR_血常规',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第1行

In [49]:
# 标记受试者编号
df_血常规_1['受试者编号']=df_血常规_1['受试者编号'].apply(lambda x: str(x)+'_a')

In [50]:
df_血常规_1.columns

Index(['方案号', '中心标识', '中心名称', '受试者编号', '访视', '检查日期', '红细胞', '红细胞-临床意义',
       '红细胞-临床意义_描述', '红细胞-异常请描述', '血红蛋白', '血红蛋白-临床意义', '血红蛋白-临床意义_描述',
       '血红蛋白-异常请描述', '白细胞', '白细胞-临床意义', '白细胞-临床意义_描述', '白细胞-异常请描述', '中性粒细胞计数',
       '中性粒细胞计数-临床意义', '中性粒细胞计数-临床意义_描述', '中性粒细胞计数-异常请描述', '血小板', '血小板-临床意义',
       '血小板-临床意义_描述', '血小板-异常请描述', '红细胞压积', '红细胞压积-临床意义', '红细胞压积-临床意义_描述',
       '红细胞压积-异常请描述', '原始录入日期', '最后修改日期'],
      dtype='object')

In [51]:
# 提取有效字段
df_血常规_1=df_血常规_1[['访视','受试者编号','检查日期','红细胞','血红蛋白','白细胞','中性粒细胞计数','血小板','红细胞压积']]

In [52]:
df_血常规_1.shape

(1176, 9)

In [53]:
df_血常规_1.head()

      访视    受试者编号        检查日期   红细胞   血红蛋白   白细胞  中性粒细胞计数    血小板  红细胞压积
0   入院检查  90001_a  2018-03-31  4.38  127.0  10.6     75.4  315.0   37.2
1  出院前检查  90001_a  2018-04-10  3.85  111.0  15.0     75.0  337.0   32.5
2   入院检查  90003_a  2018-01-31  4.70  133.0   1.8     87.5  136.0   38.7
3  出院前检查  90003_a         NaN   NaN    NaN   NaN      NaN    NaN    NaN
4   入院检查  90004_a  2018-01-26  2.99   97.0   6.2     59.9  226.0   29.0

In [54]:
# 出入院血常规检测
df_血常规_1_inp=df_血常规_1[df_血常规_1['访视'].str.contains('入院检查')]
df_血常规_1_inp=df_血常规_1_inp.reset_index(drop=True)
df_血常规_1_oup=df_血常规_1[df_血常规_1['访视'].str.contains('出院前检查')]
df_血常规_1_oup=df_血常规_1_oup.reset_index(drop=True)

In [55]:
df_血常规_1_inp.shape

(641, 9)

In [56]:
df_血常规_1_inp.head()

     访视    受试者编号        检查日期   红细胞   血红蛋白    白细胞  中性粒细胞计数    血小板  红细胞压积
0  入院检查  90001_a  2018-03-31  4.38  127.0  10.60     75.4  315.0   37.2
1  入院检查  90003_a  2018-01-31  4.70  133.0   1.80     87.5  136.0   38.7
2  入院检查  90004_a  2018-01-26  2.99   97.0   6.20     59.9  226.0   29.0
3  入院检查  90005_a  2018-02-08  3.26  104.0  14.21     80.5  243.0   30.5
4  入院检查  90006_a  2018-02-12  4.36  125.0   8.00     58.5  260.0   37.7

In [57]:
df_血常规_1_oup.shape

(535, 9)

In [58]:
df_血常规_1_oup.head()

      访视    受试者编号        检查日期   红细胞   血红蛋白   白细胞  中性粒细胞计数    血小板  红细胞压积
0  出院前检查  90001_a  2018-04-10  3.85  111.0  15.0     75.0  337.0   32.5
1  出院前检查  90003_a         NaN   NaN    NaN   NaN      NaN    NaN    NaN
2  出院前检查  90004_a         NaN   NaN    NaN   NaN      NaN    NaN    NaN
3  出院前检查  90005_a  2018-02-13  3.11  103.0  13.3     67.7  194.0   29.1
4  出院前检查  90006_a  2018-02-19  4.10  120.0   9.6     73.1  256.0   35.2

In [59]:
df_血常规_1_inp.to_excel(project_path+'/data/processed_data/检测数据/血常规/df_血常规_其他科_入院记录.xlsx')
df_血常规_1_oup.to_excel(project_path+'/data/processed_data/检测数据/血常规/df_血常规_其他科_出院记录.xlsx')


#### 心内科

In [60]:
df_血常规_2 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-心内科1021.xlsx',
                            sheet_name='LBR_血常规',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第几行)

In [61]:
# 标记受试者编号
df_血常规_2['受试者编号']=df_血常规_2['受试者编号'].apply(lambda x: str(x)+'_b')

In [62]:
df_血常规_2.columns

Index(['方案号', '中心标识', '中心名称', '受试者编号', '访视', '检查日期', '红细胞', '红细胞-临床意义',
       '红细胞-临床意义_描述', '红细胞-异常请描述', '血红蛋白', '血红蛋白-临床意义', '血红蛋白-临床意义_描述',
       '血红蛋白-异常请描述', '白细胞', '白细胞-临床意义', '白细胞-临床意义_描述', '白细胞-异常请描述', '中性粒细胞计数',
       '中性粒细胞计数-临床意义', '中性粒细胞计数-临床意义_描述', '中性粒细胞计数-异常请描述', '血小板', '血小板-临床意义',
       '血小板-临床意义_描述', '血小板-异常请描述', '红细胞压积', '红细胞压积-临床意义', '红细胞压积-临床意义_描述',
       '红细胞压积-异常请描述', '原始录入日期', '最后修改日期'],
      dtype='object')

In [63]:
# 提取有效字段
df_血常规_2=df_血常规_2[['访视','受试者编号','检查日期','红细胞','血红蛋白','白细胞','中性粒细胞计数','血小板','红细胞压积']]

In [64]:
df_血常规_2.shape

(199, 9)

In [65]:
df_血常规_2.head()

      访视    受试者编号        检查日期   红细胞   血红蛋白   白细胞  中性粒细胞计数    血小板  红细胞压积
0   入院检查  90001_b  2018-01-26  2.99   97.0  6.20     59.9  226.0  29.00
1  出院前检查  90001_b         NaN   NaN    NaN   NaN      NaN    NaN    NaN
2   入院检查  90002_b  2019-04-24  4.09  116.0  9.84      NaN  189.0   0.21
3  出院前检查  90002_b         NaN   NaN    NaN   NaN      NaN    NaN    NaN
4   入院检查  90003_b  2019-05-25  4.75  139.0  7.90     70.0  290.0  41.30

In [66]:
# 出入院血常规检测
df_血常规_2_inp=df_血常规_2[df_血常规_2['访视'].str.contains('入院检查')]
df_血常规_2_inp=df_血常规_2_inp.reset_index(drop=True)
df_血常规_2_oup=df_血常规_2[df_血常规_2['访视'].str.contains('出院前检查')]
df_血常规_2_oup=df_血常规_2_oup.reset_index(drop=True)

In [67]:
df_血常规_2_inp.shape

(104, 9)

In [68]:
df_血常规_2_inp.head()

     访视    受试者编号        检查日期   红细胞   血红蛋白    白细胞  中性粒细胞计数    血小板  红细胞压积
0  入院检查  90001_b  2018-01-26  2.99   97.0   6.20    59.90  226.0  29.00
1  入院检查  90002_b  2019-04-24  4.09  116.0   9.84      NaN  189.0   0.21
2  入院检查  90003_b  2019-05-25  4.75  139.0   7.90    70.00  290.0  41.30
3  入院检查  90004_b  2019-04-01  5.08  159.0   9.40    89.30  258.0  46.50
4  入院检查  90005_b  2019-05-18  4.07  113.0  11.92    10.92  362.0  37.40

In [69]:
df_血常规_2_oup.shape

(95, 9)

In [70]:
df_血常规_2_oup.head()

      访视    受试者编号        检查日期   红细胞   血红蛋白    白细胞  中性粒细胞计数    血小板  红细胞压积
0  出院前检查  90001_b         NaN   NaN    NaN    NaN      NaN    NaN    NaN
1  出院前检查  90002_b         NaN   NaN    NaN    NaN      NaN    NaN    NaN
2  出院前检查  90003_b         NaN   NaN    NaN    NaN      NaN    NaN    NaN
3  出院前检查  90004_b  2019-04-03  4.38  141.0   5.20     76.5  203.0  41.20
4  出院前检查  90005_b  2019-05-19  4.12  120.0  16.02     93.3  470.0   0.49

In [71]:
df_血常规_2_inp.to_excel(project_path+'/data/processed_data/检测数据/血常规/df_血常规_心内科_入院记录.xlsx')
df_血常规_2_oup.to_excel(project_path+'/data/processed_data/检测数据/血常规/df_血常规_心内科_出院记录.xlsx')

#### 合并血常规

In [72]:
for i in df_血常规_1_inp.columns[3:]:
    df_血常规_1_inp.rename(columns={i:i + '_入院'},inplace=True)
for i in df_血常规_2_inp.columns[3:]:
    df_血常规_2_inp.rename(columns={i:i+'_入院'},inplace=True)

In [73]:
df_血常规_入院=pd.concat([df_血常规_1_inp,df_血常规_2_inp],axis=0)

In [74]:
df_血常规_入院.head()

,访视,受试者编号,检查日期,红细胞_入院,血红蛋白_入院,白细胞_入院,中性粒细胞计数_入院,血小板_入院,红细胞压积_入院
0,入院检查,90001_a,2018-03-31,4.38,127.0,10.60,75.4,315.0,37.2
1,入院检查,90003_a,2018-01-31,4.70,133.0,1.80,87.5,136.0,38.7
2,入院检查,90004_a,2018-01-26,2.99,97.0,6.20,59.9,226.0,29.0
3,入院检查,90005_a,2018-02-08,3.26,104.0,14.21,80.5,243.0,30.5
4,入院检查,90006_a,2018-02-12,4.36,125.0,8.00,58.5,260.0,37.7

In [75]:
df_血常规_入院.to_excel(project_path+'/data/processed_data/检测数据/df_血常规_入院.xlsx')

In [76]:
for i in df_血常规_1_oup.columns[3:]:
    df_血常规_1_oup.rename(columns={i:i + '_出院'},inplace=True)
for i in df_血常规_2_oup.columns[3:]:
    df_血常规_2_oup.rename(columns={i:i+'_出院'},inplace=True)

In [77]:
df_血常规_出院=pd.concat([df_血常规_1_oup,df_血常规_2_oup],axis=0)

In [78]:
df_血常规_出院.head()

,访视,受试者编号,检查日期,红细胞_出院,血红蛋白_出院,白细胞_出院,中性粒细胞计数_出院,血小板_出院,红细胞压积_出院
0,出院前检查,90001_a,2018-04-10,3.85,111.0,15.0,75.0,337.0,32.5
1,出院前检查,90003_a,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,出院前检查,90004_a,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,出院前检查,90005_a,2018-02-13,3.11,103.0,13.3,67.7,194.0,29.1
4,出院前检查,90006_a,2018-02-19,4.10,120.0,9.6,73.1,256.0,35.2

In [79]:
df_血常规_出院.to_excel(project_path+'/data/processed_data/检测数据/df_血常规_出院.xlsx')

### 尿常规

#### 其他科

In [80]:
df_尿常规_1 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-其他科1021.xlsx',
                            sheet_name='LBU_尿常规',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第1行

In [81]:
# 标记受试者编号
df_尿常规_1['受试者编号']=df_尿常规_1['受试者编号'].apply(lambda x: str(x)+'_a')

In [82]:
df_尿常规_1.columns

Index(['方案号', '中心标识', '中心名称', '受试者编号', '访视', '检查日期', '尿蛋白（PRO）',
       '尿蛋白（PRO）-临床意义', '尿蛋白（PRO）-临床意义_描述', '尿蛋白（PRO）-异常请描述', '尿白细胞（LEU）',
       '尿白细胞（LEU）-临床意义', '尿白细胞（LEU）-临床意义_描述', '尿白细胞（LEU）-异常请描述', '尿红细胞（ERY）',
       '尿红细胞（ERY）-临床意义', '尿红细胞（ERY）-临床意义_描述', '尿红细胞（ERY）-异常请描述', '原始录入日期',
       '最后修改日期'],
      dtype='object')

In [83]:
# 提取有效字段
df_尿常规_1=df_尿常规_1[['访视','受试者编号','检查日期','尿蛋白（PRO）','尿白细胞（LEU）','尿红细胞（ERY）']]

In [84]:
df_尿常规_1.shape

(1167, 6)

In [85]:
df_尿常规_1.head()

      访视    受试者编号        检查日期 尿蛋白（PRO） 尿白细胞（LEU） 尿红细胞（ERY）
0   入院检查  90001_a  2018-03-31       25       5-8         0
1  出院前检查  90001_a         NaN      NaN       NaN       NaN
2   入院检查  90003_a         NaN      NaN       NaN       NaN
3  出院前检查  90003_a         NaN      NaN       NaN       NaN
4   入院检查  90004_a         NaN      NaN       NaN       NaN

In [86]:
# 出入院血常规检测
df_尿常规_1_inp=df_尿常规_1[df_尿常规_1['访视'].str.contains('入院检查')]
df_尿常规_1_inp=df_尿常规_1_inp.reset_index(drop=True)
df_尿常规_1_oup=df_尿常规_1[df_尿常规_1['访视'].str.contains('出院前检查')]
df_尿常规_1_oup=df_尿常规_1_oup.reset_index(drop=True)

In [87]:
df_尿常规_1_inp.shape

(637, 6)

In [88]:
df_尿常规_1_inp.head()

     访视    受试者编号        检查日期 尿蛋白（PRO） 尿白细胞（LEU） 尿红细胞（ERY）
0  入院检查  90001_a  2018-03-31       25       5-8         0
1  入院检查  90003_a         NaN      NaN       NaN       NaN
2  入院检查  90004_a         NaN      NaN       NaN       NaN
3  入院检查  90005_a         NaN      NaN       NaN       NaN
4  入院检查  90006_a  2018-02-12       阴性        阴性        10

In [89]:
df_尿常规_1_oup.shape

(530, 6)

In [90]:
df_尿常规_1_oup.head()

      访视    受试者编号 检查日期 尿蛋白（PRO） 尿白细胞（LEU） 尿红细胞（ERY）
0  出院前检查  90001_a  NaN      NaN       NaN       NaN
1  出院前检查  90003_a  NaN      NaN       NaN       NaN
2  出院前检查  90004_a  NaN      NaN       NaN       NaN
3  出院前检查  90005_a  NaN      NaN       NaN       NaN
4  出院前检查  90006_a  NaN      NaN       NaN       NaN

In [91]:
df_尿常规_1_inp.to_excel(project_path+'/data/processed_data/检测数据/尿常规/df_尿常规_其他科_入院记录.xlsx')
df_尿常规_1_oup.to_excel(project_path+'/data/processed_data/检测数据/尿常规/df_尿常规_其他科_出院记录.xlsx')

#### 心内科

In [92]:
df_尿常规_2 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-心内科1021.xlsx',
                            sheet_name='LBU_尿常规',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第几行)

In [93]:
# 标记受试者编号
df_尿常规_2['受试者编号']=df_尿常规_2['受试者编号'].apply(lambda x: str(x)+'_b')

In [94]:
df_尿常规_2.columns

Index(['方案号', '中心标识', '中心名称', '受试者编号', '访视', '检查日期', '尿蛋白（PRO）',
       '尿蛋白（PRO）-临床意义', '尿蛋白（PRO）-临床意义_描述', '尿蛋白（PRO）-异常请描述', '尿白细胞（LEU）',
       '尿白细胞（LEU）-临床意义', '尿白细胞（LEU）-临床意义_描述', '尿白细胞（LEU）-异常请描述', '尿红细胞（ERY）',
       '尿红细胞（ERY）-临床意义', '尿红细胞（ERY）-临床意义_描述', '尿红细胞（ERY）-异常请描述', '原始录入日期',
       '最后修改日期'],
      dtype='object')

In [95]:
# 提取有效字段
df_尿常规_2=df_尿常规_2[['访视','受试者编号','检查日期','尿蛋白（PRO）','尿白细胞（LEU）','尿红细胞（ERY）']]

In [96]:
df_尿常规_2.shape

(188, 6)

In [97]:
df_尿常规_2.head()

      访视    受试者编号        检查日期 尿蛋白（PRO） 尿白细胞（LEU） 尿红细胞（ERY）
0   入院检查  90001_b         NaN      NaN       NaN       NaN
1  出院前检查  90001_b         NaN      NaN       NaN       NaN
2   入院检查  90002_b  2019-04-24       75        阴性        25
3  出院前检查  90002_b         NaN      NaN       NaN       NaN
4   入院检查  90003_b  2019-05-25      NaN       NaN       NaN

In [98]:
# 出入院血常规检测
df_尿常规_2_inp=df_尿常规_2[df_尿常规_2['访视'].str.contains('入院检查')]
df_尿常规_2_inp=df_尿常规_2_inp.reset_index(drop=True)
df_尿常规_2_oup=df_尿常规_2[df_尿常规_2['访视'].str.contains('出院前检查')]
df_尿常规_2_oup=df_尿常规_2_oup.reset_index(drop=True)

In [99]:
df_尿常规_2_inp.shape

(101, 6)

In [100]:
df_尿常规_2_inp.head()

     访视    受试者编号        检查日期 尿蛋白（PRO） 尿白细胞（LEU） 尿红细胞（ERY）
0  入院检查  90001_b         NaN      NaN       NaN       NaN
1  入院检查  90002_b  2019-04-24       75        阴性        25
2  入院检查  90003_b  2019-05-25      NaN       NaN       NaN
3  入院检查  90004_b  2019-04-01      NaN       NaN       NaN
4  入院检查  90005_b  2019-05-18       75       NaN       1-2

In [101]:
df_尿常规_2_oup.shape

(87, 6)

In [102]:
df_尿常规_2_oup.head()

      访视    受试者编号 检查日期 尿蛋白（PRO） 尿白细胞（LEU） 尿红细胞（ERY）
0  出院前检查  90001_b  NaN      NaN       NaN       NaN
1  出院前检查  90002_b  NaN      NaN       NaN       NaN
2  出院前检查  90003_b  NaN      NaN       NaN       NaN
3  出院前检查  90004_b  NaN      NaN       NaN       NaN
4  出院前检查  90005_b  NaN      NaN       NaN       NaN

In [103]:
df_尿常规_2_inp.to_excel(project_path+'/data/processed_data/检测数据/尿常规/df_尿常规_心内科_入院记录.xlsx')
df_尿常规_2_oup.to_excel(project_path+'/data/processed_data/检测数据/尿常规/df_尿常规_心内科_出院记录.xlsx')

#### 合并尿常规

In [104]:
# 修改列名
for i in df_尿常规_1_inp.columns[3:]:
    df_尿常规_1_inp.rename(columns={i:i + '_入院'},inplace=True)
for i in df_尿常规_2_inp.columns[3:]:
    df_尿常规_2_inp.rename(columns={i:i+'_入院'},inplace=True)

In [105]:
df_尿常规_入院=pd.concat([df_尿常规_1_inp,df_尿常规_2_inp],axis=0)

In [106]:
df_尿常规_入院.head()

     访视    受试者编号        检查日期 尿蛋白（PRO）_入院 尿白细胞（LEU）_入院 尿红细胞（ERY）_入院
0  入院检查  90001_a  2018-03-31          25          5-8            0
1  入院检查  90003_a         NaN         NaN          NaN          NaN
2  入院检查  90004_a         NaN         NaN          NaN          NaN
3  入院检查  90005_a         NaN         NaN          NaN          NaN
4  入院检查  90006_a  2018-02-12          阴性           阴性           10

In [107]:
df_尿常规_入院.to_excel(project_path+'/data/processed_data/检测数据/df_尿常规_入院.xlsx')

In [108]:
for i in df_尿常规_1_oup.columns[3:]:
    df_尿常规_1_oup.rename(columns={i:i + '_出院'},inplace=True)
for i in df_尿常规_2_oup.columns[3:]:
    df_尿常规_2_oup.rename(columns={i:i+'_出院'},inplace=True)

In [109]:
df_尿常规_出院=pd.concat([df_尿常规_1_oup,df_尿常规_2_oup],axis=0)

In [110]:
df_尿常规_出院.head()

      访视    受试者编号 检查日期 尿蛋白（PRO）_出院 尿白细胞（LEU）_出院 尿红细胞（ERY）_出院
0  出院前检查  90001_a  NaN         NaN          NaN          NaN
1  出院前检查  90003_a  NaN         NaN          NaN          NaN
2  出院前检查  90004_a  NaN         NaN          NaN          NaN
3  出院前检查  90005_a  NaN         NaN          NaN          NaN
4  出院前检查  90006_a  NaN         NaN          NaN          NaN

In [111]:
df_尿常规_出院.to_excel(project_path+'/data/processed_data/检测数据/df_尿常规_出院.xlsx')

### 血生化

#### 其他科

In [112]:
df_血生化_1 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-其他科1021.xlsx',
                            sheet_name='LBB_血生化',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第1行

In [113]:
# 标记受试者编号
df_血生化_1['受试者编号']=df_血生化_1['受试者编号'].apply(lambda x: str(x)+'_a')

In [114]:
df_血生化_1.columns

Index(['方案号', '中心标识', '中心名称', '受试者编号', '访视', '检查日期', '总胆红素（TBil）',
       '总胆红素（TBil）-临床意义', '总胆红素（TBil）-临床意义_描述', '总胆红素（TBil）-异常请描述',
       '直接胆红素（DBil）', '直接胆红素（DBil）-临床意义', '直接胆红素（DBil）-临床意义_描述',
       '直接胆红素（DBil）-异常请描述', '白蛋白', '白蛋白-临床意义', '白蛋白-临床意义_描述', '白蛋白-异常请描述',
       '前白蛋白', '前白蛋白-临床意义', '前白蛋白-临床意义_描述', '前白蛋白-异常请描述', 'ALT', 'ALT-临床意义',
       'ALT-临床意义_描述', 'ALT-异常请描述', 'AST', 'AST-临床意义', 'AST-临床意义_描述',
       'AST-异常请描述', 'GGT', 'GGT-临床意义', 'GGT-临床意义_描述', 'GGT-异常请描述', 'AKP',
       'AKP-临床意义', 'AKP-临床意义_描述', 'AKP-异常请描述', '尿素氮（BUN）', '尿素氮（BUN）-临床意义',
       '尿素氮（BUN）-临床意义_描述', '尿素氮（BUN）-异常请描述', '肌酐（Cr）', '肌酐（Cr）-临床意义',
       '肌酐（Cr）-临床意义_描述', '肌酐（Cr）-异常请描述', 'PT', 'PT-临床意义', 'PT-临床意义_描述',
       'PT-异常请描述', 'INR', 'INR-临床意义', 'INR-临床意义_描述', 'INR-异常请描述', '血钠',
       '血钠-临床意义', '血钠-临床意义_描述', '血钠-异常请描述', '血钾', '血钾-临床意义', '血钾-临床意义_描述',
       '血钾-异常请描述', '血氯', '血氯-临床意义', '血氯-临床意义_描述', '血氯-异常请描述', '甘油三酯',
       '甘油三酯-临床意义', '甘油三酯-临床意义_描述', '甘油三酯-异常请描述', '胆固醇', '胆固醇-临床意义',
       '胆固醇-临床意义_描述', '胆固醇-异常请描述', '低密度脂蛋白（LDL）', '低密度脂蛋白（LDL）-临床意义',
       '低密度脂蛋白（LDL）-临床意义_描述', '低密度脂蛋白（LDL）-异常请描述', '高密度脂蛋白胆固醇（HDLC）',
       '高密度脂蛋白胆固醇（HDLC）-临床意义', '高密度脂蛋白胆固醇（HDLC）-临床意义_描述',
       '高密度脂蛋白胆固醇（HDLC）-异常请描述', '原始录入日期', '最后修改日期'],
      dtype='object')

In [115]:
# 提取有效字段
df_血生化_1=df_血生化_1[['访视','受试者编号','检查日期','总胆红素（TBil）','直接胆红素（DBil）','白蛋白','前白蛋白',
                  'ALT','AST','GGT','AKP','尿素氮（BUN）','肌酐（Cr）','PT','INR','血钠','血钾','血氯','甘油三酯',
                  '胆固醇','低密度脂蛋白（LDL）','高密度脂蛋白胆固醇（HDLC）']]

In [116]:
df_血生化_1.shape

(1173, 22)

In [117]:
df_血生化_1.head()

,访视,受试者编号,检查日期,总胆红素（TBil）,直接胆红素（DBil）,白蛋白,前白蛋白,ALT,AST,GGT,...,肌酐（Cr）,PT,INR,血钠,血钾,血氯,甘油三酯,胆固醇,低密度脂蛋白（LDL）,高密度脂蛋白胆固醇（HDLC）
0,入院检查,90001_a,2018-03-28,12.4,0.0,43.6,NaN,51.0,51.0,71.0,...,62.5,10.4,0.96,142.0,4.53,105.0,1.18,3.72,1.83,1.59
1,出院前检查,90001_a,2018-04-10,5.9,2.3,35.6,147.0,22.0,19.0,NaN,...,53.0,11.8,1.07,142.0,3.47,101.4,NaN,NaN,NaN,NaN
2,入院检查,90003_a,2018-01-31,12.1,0.0,27.5,NaN,83.0,100.0,43.0,...,63.2,NaN,NaN,138.0,3.40,107.0,NaN,NaN,NaN,NaN
3,出院前检查,90003_a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,入院检查,90004_a,2018-01-27,4.4,2.1,25.5,253.0,9.0,17.0,33.0,...,914.4,NaN,NaN,137.0,2.70,96.0,1.05,4.84,3.12,1.28

In [118]:
# 出入院血常规检测
df_血生化_1_inp=df_血生化_1[df_血生化_1['访视'].str.contains('入院检查')]
df_血生化_1_inp=df_血生化_1_inp.reset_index(drop=True)
df_血生化_1_oup=df_血生化_1[df_血生化_1['访视'].str.contains('出院前检查')]
df_血生化_1_oup=df_血生化_1_oup.reset_index(drop=True)

In [119]:
df_血生化_1_inp.shape

(638, 22)

In [120]:
df_血生化_1_inp.head()

,访视,受试者编号,检查日期,总胆红素（TBil）,直接胆红素（DBil）,白蛋白,前白蛋白,ALT,AST,GGT,...,肌酐（Cr）,PT,INR,血钠,血钾,血氯,甘油三酯,胆固醇,低密度脂蛋白（LDL）,高密度脂蛋白胆固醇（HDLC）
0,入院检查,90001_a,2018-03-28,12.4,0.0,43.6,NaN,51.0,51.0,71.0,...,62.5,10.4,0.96,142.0,4.53,105.0,1.18,3.72,1.83,1.59
1,入院检查,90003_a,2018-01-31,12.1,0.0,27.5,NaN,83.0,100.0,43.0,...,63.2,NaN,NaN,138.0,3.40,107.0,NaN,NaN,NaN,NaN
2,入院检查,90004_a,2018-01-27,4.4,2.1,25.5,253.0,9.0,17.0,33.0,...,914.4,NaN,NaN,137.0,2.70,96.0,1.05,4.84,3.12,1.28
3,入院检查,90005_a,2018-02-07,15.3,0.0,37.7,391.0,21.0,31.0,24.0,...,1223.4,11.9,1.10,137.0,3.50,92.0,3.13,6.66,4.27,1.24
4,入院检查,90006_a,2018-02-12,14.2,3.2,64.2,191.0,17.0,16.0,16.0,...,54.0,NaN,NaN,140.5,4.05,106.0,4.23,6.17,4.48,1.05

In [121]:
df_血生化_1_oup.shape

(535, 22)

In [122]:
df_血生化_1_oup.head()

,访视,受试者编号,检查日期,总胆红素（TBil）,直接胆红素（DBil）,白蛋白,前白蛋白,ALT,AST,GGT,...,肌酐（Cr）,PT,INR,血钠,血钾,血氯,甘油三酯,胆固醇,低密度脂蛋白（LDL）,高密度脂蛋白胆固醇（HDLC）
0,出院前检查,90001_a,2018-04-10,5.9,2.3,35.6,147.0,22.0,19.0,NaN,...,53.0,11.8,1.07,142.0,3.47,101.4,NaN,NaN,NaN,NaN
1,出院前检查,90003_a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,出院前检查,90004_a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,出院前检查,90005_a,2018-02-13,5.3,2.9,35.2,391.0,21.0,31.0,24.0,...,1095.0,NaN,NaN,136.9,2.92,93.0,NaN,NaN,NaN,NaN
4,出院前检查,90006_a,2018-02-19,17.7,5.1,40.8,173.0,25.0,19.0,17.0,...,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [123]:
df_血生化_1_inp.to_excel(project_path+'/data/processed_data/检测数据/血生化/df_血生化_其他科_入院记录.xlsx')
df_血生化_1_oup.to_excel(project_path+'/data/processed_data/检测数据/血生化/df_血生化_其他科_出院记录.xlsx')

#### 心内科

In [124]:
df_血生化_2 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-心内科1021.xlsx',
                            sheet_name='LBB_血生化',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第几行)

In [125]:
# 标记受试者编号
df_血生化_2['受试者编号']=df_血生化_2['受试者编号'].apply(lambda x: str(x)+'_b')

In [126]:
df_血生化_2.columns

Index(['方案号', '中心标识', '中心名称', '受试者编号', '访视', '检查日期', '白蛋白', '白蛋白-临床意义',
       '白蛋白-临床意义_描述', '白蛋白-异常请描述', 'ALT', 'ALT-临床意义', 'ALT-临床意义_描述',
       'ALT-异常请描述', 'AST', 'AST-临床意义', 'AST-临床意义_描述', 'AST-异常请描述', 'HCY',
       'HCY-临床意义', 'HCY-临床意义_描述', 'HCY-异常请描述', '尿素氮（BUN）', '尿素氮（BUN）-临床意义',
       '尿素氮（BUN）-临床意义_描述', '尿素氮（BUN）-异常请描述', '肌酐（Cr）', '肌酐（Cr）-临床意义',
       '肌酐（Cr）-临床意义_描述', '肌酐（Cr）-异常请描述', '血钠', '血钠-临床意义', '血钠-临床意义_描述',
       '血钠-异常请描述', '血钾', '血钾-临床意义', '血钾-临床意义_描述', '血钾-异常请描述', '血氯', '血氯-临床意义',
       '血氯-临床意义_描述', '血氯-异常请描述', '甘油三酯', '甘油三酯-临床意义', '甘油三酯-临床意义_描述',
       '甘油三酯-异常请描述', '胆固醇', '胆固醇-临床意义', '胆固醇-临床意义_描述', '胆固醇-异常请描述',
       '低密度脂蛋白（LDL）', '低密度脂蛋白（LDL）-临床意义', '低密度脂蛋白（LDL）-临床意义_描述',
       '低密度脂蛋白（LDL）-异常请描述', '高密度脂蛋白胆固醇（HDLC）', '高密度脂蛋白胆固醇（HDLC）-临床意义',
       '高密度脂蛋白胆固醇（HDLC）-临床意义_描述', '高密度脂蛋白胆固醇（HDLC）-异常请描述', 'NT-pro BNP',
       'NT-pro BNP-临床意义', 'NT-pro BNP-临床意义_描述', 'NT-pro BNP-异常请描述', '肌钙蛋白',
       '肌钙蛋白-临床意义', '肌钙蛋白-临床意义_描述', '肌钙蛋白-异常请描述', 'CK-MB', 'CK-MB-临床意义',
       'CK-MB-临床意义_描述', 'CK-MB-异常请描述', '原始录入日期', '最后修改日期'],
      dtype='object')

In [127]:
# 提取有效字段
df_血生化_2=df_血生化_2[['访视','受试者编号','检查日期','白蛋白','HCY','NT-pro BNP','肌钙蛋白','CK-MB',
                  'ALT','AST','尿素氮（BUN）','肌酐（Cr）','血钠','血钾','血氯','甘油三酯',
                  '胆固醇','低密度脂蛋白（LDL）','高密度脂蛋白胆固醇（HDLC）']]

In [128]:
df_血生化_2.shape

(194, 19)

In [129]:
df_血生化_2.head()

,访视,受试者编号,检查日期,白蛋白,HCY,NT-pro BNP,肌钙蛋白,CK-MB,ALT,AST,尿素氮（BUN）,肌酐（Cr）,血钠,血钾,血氯,甘油三酯,胆固醇,低密度脂蛋白（LDL）,高密度脂蛋白胆固醇（HDLC）
0,入院检查,90001_b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,出院前检查,90001_b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,入院检查,90002_b,2019-04-24,38.1,NaN,NaN,NaN,NaN,45.0,141.0,10.1,80.0,139.0,4.30,103.0,0.25,4.65,287.00,1.55
3,出院前检查,90002_b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,入院检查,90003_b,2019-05-25,41.2,NaN,NaN,NaN,NaN,27.0,67.0,3.6,78.0,140.3,4.19,103.0,2.12,5.16,3.45,1.20

In [130]:
# 出入院血常规检测
df_血生化_2_inp=df_血生化_2[df_血生化_2['访视'].str.contains('入院检查')]
df_血生化_2_inp=df_血生化_2_inp.reset_index(drop=True)
df_血生化_2_oup=df_血生化_2[df_血生化_2['访视'].str.contains('出院前检查')]
df_血生化_2_oup=df_血生化_2_oup.reset_index(drop=True)

In [131]:
df_血生化_2_inp.shape

(103, 19)

In [132]:
df_血生化_2_inp.head()

,访视,受试者编号,检查日期,白蛋白,HCY,NT-pro BNP,肌钙蛋白,CK-MB,ALT,AST,尿素氮（BUN）,肌酐（Cr）,血钠,血钾,血氯,甘油三酯,胆固醇,低密度脂蛋白（LDL）,高密度脂蛋白胆固醇（HDLC）
0,入院检查,90001_b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,入院检查,90002_b,2019-04-24,38.1,NaN,NaN,NaN,NaN,45.0,141.0,10.10,80.0,139.0,4.30,103.0,0.25,4.65,287.00,1.55
2,入院检查,90003_b,2019-05-25,41.2,NaN,NaN,NaN,NaN,27.0,67.0,3.60,78.0,140.3,4.19,103.0,2.12,5.16,3.45,1.20
3,入院检查,90004_b,2019-04-01,43.1,NaN,NaN,NaN,NaN,28.0,26.0,5.33,78.0,133.0,4.60,97.0,0.90,NaN,2.91,1.29
4,入院检查,90005_b,2019-05-18,27.9,NaN,NaN,NaN,NaN,7.0,20.0,6.63,59.0,136.8,4.60,85.0,0.02,4.01,2.08,1.44

In [133]:
df_血生化_2_oup.shape

(91, 19)

In [134]:
df_血生化_2_oup.head()

,访视,受试者编号,检查日期,白蛋白,HCY,NT-pro BNP,肌钙蛋白,CK-MB,ALT,AST,尿素氮（BUN）,肌酐（Cr）,血钠,血钾,血氯,甘油三酯,胆固醇,低密度脂蛋白（LDL）,高密度脂蛋白胆固醇（HDLC）
0,出院前检查,90001_b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,出院前检查,90002_b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,出院前检查,90003_b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,出院前检查,90004_b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,出院前检查,90005_b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [135]:
df_血生化_2_inp.to_excel(project_path+'/data/processed_data/检测数据/血生化/df_血生化_心内科_入院记录.xlsx')
df_血生化_2_oup.to_excel(project_path+'/data/processed_data/检测数据/血生化/df_血生化_心内科_出院记录.xlsx')

#### 合并血生化

In [136]:
# 修改列名
for i in df_血生化_1_inp.columns[3:]:
    df_血生化_1_inp.rename(columns={i:i + '_入院'},inplace=True)
for i in df_血生化_2_inp.columns[3:]:
    df_血生化_2_inp.rename(columns={i:i+'_入院'},inplace=True)

In [137]:
df_血生化_入院=pd.concat([df_血生化_1_inp,df_血生化_2_inp],axis=0)

In [138]:
df_血生化_入院.head()

,访视,受试者编号,检查日期,总胆红素（TBil）_入院,直接胆红素（DBil）_入院,白蛋白_入院,前白蛋白_入院,ALT_入院,AST_入院,GGT_入院,...,血钾_入院,血氯_入院,甘油三酯_入院,胆固醇_入院,低密度脂蛋白（LDL）_入院,高密度脂蛋白胆固醇（HDLC）_入院,HCY_入院,NT-pro BNP_入院,肌钙蛋白_入院,CK-MB_入院
0,入院检查,90001_a,2018-03-28,12.4,0.0,43.6,NaN,51.0,51.0,71.0,...,4.53,105.0,1.18,3.72,1.83,1.59,NaN,NaN,NaN,NaN
1,入院检查,90003_a,2018-01-31,12.1,0.0,27.5,NaN,83.0,100.0,43.0,...,3.40,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,入院检查,90004_a,2018-01-27,4.4,2.1,25.5,253.0,9.0,17.0,33.0,...,2.70,96.0,1.05,4.84,3.12,1.28,NaN,NaN,NaN,NaN
3,入院检查,90005_a,2018-02-07,15.3,0.0,37.7,391.0,21.0,31.0,24.0,...,3.50,92.0,3.13,6.66,4.27,1.24,NaN,NaN,NaN,NaN
4,入院检查,90006_a,2018-02-12,14.2,3.2,64.2,191.0,17.0,16.0,16.0,...,4.05,106.0,4.23,6.17,4.48,1.05,NaN,NaN,NaN,NaN

In [139]:
df_血生化_入院.to_excel(project_path+'/data/processed_data/检测数据/df_血生化_入院.xlsx')

In [140]:
# 修改列名
for i in df_血生化_1_oup.columns[3:]:
    df_血生化_1_oup.rename(columns={i:i + '_出院'},inplace=True)
for i in df_血生化_2_oup.columns[3:]:
    df_血生化_2_oup.rename(columns={i:i+'_出院'},inplace=True)

In [141]:
df_血生化_出院=pd.concat([df_血生化_1_oup,df_血生化_2_oup],axis=0)

In [142]:
df_血生化_出院.head()

,访视,受试者编号,检查日期,总胆红素（TBil）_出院,直接胆红素（DBil）_出院,白蛋白_出院,前白蛋白_出院,ALT_出院,AST_出院,GGT_出院,...,血钾_出院,血氯_出院,甘油三酯_出院,胆固醇_出院,低密度脂蛋白（LDL）_出院,高密度脂蛋白胆固醇（HDLC）_出院,HCY_出院,NT-pro BNP_出院,肌钙蛋白_出院,CK-MB_出院
0,出院前检查,90001_a,2018-04-10,5.9,2.3,35.6,147.0,22.0,19.0,NaN,...,3.47,101.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,出院前检查,90003_a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,出院前检查,90004_a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,出院前检查,90005_a,2018-02-13,5.3,2.9,35.2,391.0,21.0,31.0,24.0,...,2.92,93.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,出院前检查,90006_a,2018-02-19,17.7,5.1,40.8,173.0,25.0,19.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [143]:
df_血生化_出院.to_excel(project_path+'/data/processed_data/检测数据/df_血生化_出院.xlsx')

### 凝血

#### 其他科

In [144]:
df_凝血_1 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-其他科1021.xlsx',
                            sheet_name='LBC_凝血功能',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第1行

In [145]:
# 标记受试者编号
df_凝血_1['受试者编号']=df_凝血_1['受试者编号'].apply(lambda x: str(x)+'_a')

In [146]:
df_凝血_1.columns

Index(['方案号', '中心标识', '中心名称', '受试者编号', '访视', '检查日期', 'PT', 'PT-临床意义',
       'PT-临床意义_描述', 'PT-异常请描述', 'INR', 'INR-临床意义', 'INR-临床意义_描述', 'INR-异常请描述',
       'APTT', 'APTT-临床意义', 'APTT-临床意义_描述', 'APTT-异常请描述', '原始录入日期', '最后修改日期'],
      dtype='object')

In [147]:
# 提取有效字段
df_凝血_1=df_凝血_1[['访视','受试者编号','检查日期','PT','INR','APTT']]

In [148]:
df_凝血_1.shape

(1167, 6)

In [149]:
df_凝血_1.head()

      访视    受试者编号        检查日期    PT   INR  APTT
0   入院检查  90001_a  2018-03-28  10.4  0.96  28.0
1  出院前检查  90001_a  2018-04-10  11.8  1.07  28.3
2   入院检查  90003_a  2018-01-31  17.6  1.63  42.0
3  出院前检查  90003_a         NaN   NaN   NaN   NaN
4   入院检查  90004_a         NaN   NaN   NaN   NaN

In [150]:
# 出入院血常规检测
df_凝血_1_inp=df_凝血_1[df_凝血_1['访视'].str.contains('入院检查')]
df_凝血_1_inp=df_凝血_1_inp.reset_index(drop=True)
df_凝血_1_oup=df_凝血_1[df_凝血_1['访视'].str.contains('出院前检查')]
df_凝血_1_oup=df_凝血_1_oup.reset_index(drop=True)

In [151]:
df_凝血_1_inp.shape

(638, 6)

In [152]:
df_凝血_1_inp.head()

     访视    受试者编号        检查日期    PT   INR  APTT
0  入院检查  90001_a  2018-03-28  10.4  0.96  28.0
1  入院检查  90003_a  2018-01-31  17.6  1.63  42.0
2  入院检查  90004_a         NaN   NaN   NaN   NaN
3  入院检查  90005_a  2018-02-07  11.9  1.10  27.7
4  入院检查  90006_a         NaN   NaN   NaN   NaN

In [153]:
df_凝血_1_oup.shape

(529, 6)

In [154]:
df_凝血_1_oup.head()

      访视    受试者编号        检查日期    PT   INR  APTT
0  出院前检查  90001_a  2018-04-10  11.8  1.07  28.3
1  出院前检查  90003_a         NaN   NaN   NaN   NaN
2  出院前检查  90004_a         NaN   NaN   NaN   NaN
3  出院前检查  90005_a         NaN   NaN   NaN   NaN
4  出院前检查  90006_a  2018-02-19  10.7  0.99  31.9

In [155]:
df_凝血_1_inp.to_excel(project_path+'/data/processed_data/检测数据/凝血/df_凝血_其他科_入院记录.xlsx')
df_凝血_1_oup.to_excel(project_path+'/data/processed_data/检测数据/凝血/df_凝血_其他科_出院记录.xlsx')

#### 心内科

In [156]:
df_凝血_2 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-心内科1021.xlsx',
                            sheet_name='LBC_凝血功能',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第几行)

In [157]:
# 标记受试者编号
df_凝血_2['受试者编号']=df_凝血_2['受试者编号'].apply(lambda x: str(x)+'_b')

In [158]:
df_凝血_2.columns

Index(['方案号', '中心标识', '中心名称', '受试者编号', '访视', '检查日期', 'PT', 'PT-临床意义',
       'PT-临床意义_描述', 'PT-异常请描述', 'INR', 'INR-临床意义', 'INR-临床意义_描述', 'INR-异常请描述',
       'APTT', 'APTT-临床意义', 'APTT-临床意义_描述', 'APTT-异常请描述', '原始录入日期', '最后修改日期'],
      dtype='object')

In [159]:
# 提取有效字段
df_凝血_2=df_凝血_2[['访视','受试者编号','检查日期','PT','INR','APTT']]

In [160]:
df_凝血_2.shape

(191, 6)

In [161]:
df_凝血_2.head()

      访视    受试者编号        检查日期    PT   INR  APTT
0   入院检查  90001_b         NaN   NaN   NaN   NaN
1  出院前检查  90001_b         NaN   NaN   NaN   NaN
2   入院检查  90002_b  2019-04-26  14.9  1.09  29.9
3  出院前检查  90002_b         NaN   NaN   NaN   NaN
4   入院检查  90003_b  2019-05-25  11.8  1.09  33.6

In [162]:
# 出入院血常规检测
df_凝血_2_inp=df_凝血_2[df_凝血_2['访视'].str.contains('入院检查')]
df_凝血_2_inp=df_凝血_2_inp.reset_index(drop=True)
df_凝血_2_oup=df_凝血_2[df_凝血_2['访视'].str.contains('出院前检查')]
df_凝血_2_oup=df_凝血_2_oup.reset_index(drop=True)

In [163]:
df_凝血_2_inp.shape

(103, 6)

In [164]:
df_凝血_2_inp.head()

     访视    受试者编号        检查日期    PT   INR  APTT
0  入院检查  90001_b         NaN   NaN   NaN   NaN
1  入院检查  90002_b  2019-04-26  14.9  1.09  29.9
2  入院检查  90003_b  2019-05-25  11.8  1.09  33.6
3  入院检查  90004_b  2019-04-01  13.8  0.95  29.7
4  入院检查  90005_b  2019-05-18  12.8  1.10  31.2

In [165]:
df_凝血_2_oup.shape

(88, 6)

In [166]:
df_凝血_2_oup.head()

      访视    受试者编号        检查日期    PT   INR  APTT
0  出院前检查  90001_b         NaN   NaN   NaN   NaN
1  出院前检查  90002_b         NaN   NaN   NaN   NaN
2  出院前检查  90003_b  2019-05-28  12.3  1.05  33.3
3  出院前检查  90004_b         NaN   NaN   NaN   NaN
4  出院前检查  90005_b         NaN   NaN   NaN   NaN

In [167]:
df_凝血_2_inp.to_excel(project_path+'/data/processed_data/检测数据/凝血/df_凝血_心内科_入院记录.xlsx')
df_凝血_2_oup.to_excel(project_path+'/data/processed_data/检测数据/凝血/df_凝血_心内科_出院记录.xlsx')

#### 合并凝血

In [168]:
# 修改列名
for i in df_凝血_1_inp.columns[3:]:
    df_凝血_1_inp.rename(columns={i:i + '_入院'},inplace=True)
for i in df_凝血_2_inp.columns[3:]:
    df_凝血_2_inp.rename(columns={i:i+'_入院'},inplace=True)

In [169]:
df_凝血_入院=pd.concat([df_凝血_1_inp,df_凝血_2_inp],axis=0)

In [170]:
df_凝血_入院.head()

     访视    受试者编号        检查日期  PT_入院  INR_入院  APTT_入院
0  入院检查  90001_a  2018-03-28   10.4    0.96     28.0
1  入院检查  90003_a  2018-01-31   17.6    1.63     42.0
2  入院检查  90004_a         NaN    NaN     NaN      NaN
3  入院检查  90005_a  2018-02-07   11.9    1.10     27.7
4  入院检查  90006_a         NaN    NaN     NaN      NaN

In [171]:
df_凝血_入院.to_excel(project_path+'/data/processed_data/检测数据/df_凝血_入院.xlsx')

In [172]:
# 修改列名
for i in df_凝血_1_oup.columns[3:]:
    df_凝血_1_oup.rename(columns={i:i + '_出院'},inplace=True)
for i in df_凝血_2_oup.columns[3:]:
    df_凝血_2_oup.rename(columns={i:i+'_出院'},inplace=True)

In [173]:
df_凝血_出院=pd.concat([df_凝血_1_oup,df_凝血_2_oup],axis=0)

In [174]:
df_凝血_出院.head()

      访视    受试者编号        检查日期  PT_出院  INR_出院  APTT_出院
0  出院前检查  90001_a  2018-04-10   11.8    1.07     28.3
1  出院前检查  90003_a         NaN    NaN     NaN      NaN
2  出院前检查  90004_a         NaN    NaN     NaN      NaN
3  出院前检查  90005_a         NaN    NaN     NaN      NaN
4  出院前检查  90006_a  2018-02-19   10.7    0.99     31.9

In [325]:
df_凝血_出院.shape

(617, 4)

In [175]:
df_凝血_出院.to_excel(project_path+'/data/processed_data/检测数据/df_凝血_出院.xlsx')

### 合并检测数据

#### 舍弃原有数据的检测数据

In [176]:
df_SUP_test=df_SUP_data.iloc[:,:47]

In [177]:
df_SUP_test.columns

Index(['受试者编号', '用药天数', '日计量', 'label', '年龄', '性别', '冠心病', '肺部感染', '糖尿病',
       '高血压', '心功能不全', '脑梗死', '头晕', '急性冠脉综合征', '房颤', '肾功能不全', '尿毒症', '脓毒血症',
       '肺水肿', '肺气肿', '呼吸衰竭', '胸腔积液', '尿路感染', '腹膜透析', '肝功能不全', '高脂血症',
       '冠状动脉粥样硬化', '慢性支气管炎', '胆囊结石', '早搏', '急性肾损伤', '心肌梗塞', '阿司匹林', '阿托伐他',
       '伐他汀钙', '前列地尔', '谷胱甘肽', '纤溶酶针', '丹参多酚酸盐', '替米沙坦', '左氧氟沙星', '氨溴索针',
       '阿伐他汀', '腺苷钴胺', '多索茶碱', '银杏内酯', '醒脑静针'],
      dtype='object')

#### 并入血常规数据

In [178]:
df_血常规_入院.columns

Index(['访视', '受试者编号', '检查日期', '红细胞_入院', '血红蛋白_入院', '白细胞_入院', '中性粒细胞计数_入院',
       '血小板_入院', '红细胞压积_入院'],
      dtype='object')

In [179]:
df_血常规_入院=df_血常规_入院[['受试者编号', '红细胞_入院', '血红蛋白_入院', '白细胞_入院', '中性粒细胞计数_入院',
                     '血小板_入院', '红细胞压积_入院']]
df_SUP_test_血常规=pd.merge(df_SUP_test,df_血常规_入院,on='受试者编号',how='left')

In [180]:
df_SUP_test_血常规

,受试者编号,用药天数,日计量,label,年龄,性别,冠心病,肺部感染,糖尿病,高血压,...,腺苷钴胺,多索茶碱,银杏内酯,醒脑静针,红细胞_入院,血红蛋白_入院,白细胞_入院,中性粒细胞计数_入院,血小板_入院,红细胞压积_入院
0,90001_a,9.0,30.0,0,61,1,0,0,0,1,...,0,0,0,1,4.38,127.0,10.60,75.4,315.0,37.2
1,90003_a,6.0,40.0,1,53,0,0,0,0,1,...,0,0,0,0,4.70,133.0,1.80,87.5,136.0,38.7
2,90004_a,1.0,40.0,0,70,0,0,0,0,1,...,0,0,0,0,2.99,97.0,6.20,59.9,226.0,29.0
3,90005_a,1.0,40.0,0,70,0,0,0,0,1,...,0,0,0,0,3.26,104.0,14.21,80.5,243.0,30.5
4,90006_a,1.0,30.0,0,79,1,0,0,0,1,...,0,0,0,0,4.36,125.0,8.00,58.5,260.0,37.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,90100_b,11.0,60.0,0,85,0,1,0,1,1,...,0,0,0,0,2.55,80.0,7.70,78.6,NaN,23.4
726,90101_b,32.0,40.0,0,70,1,1,0,1,1,...,0,0,0,0,4.09,135.0,20.00,90.2,198.0,40.1
727,90102_b,2.0,30.0,0,64,0,1,0,0,0,...,0,0,0,0,3.78,117.0,6.20,3.9,180.0,34.0
728,90104_b,8.0,30.0,0,82,1,0,1,0,1,...,0,0,0,0,4.05,124.0,8.30,86.2,164.0,38.6
729,90105_b,3.0,40.0,0,73,0,0,0,0,1,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [181]:
df_血常规_出院.columns

Index(['访视', '受试者编号', '检查日期', '红细胞_出院', '血红蛋白_出院', '白细胞_出院', '中性粒细胞计数_出院',
       '血小板_出院', '红细胞压积_出院'],
      dtype='object')

In [182]:
df_血常规_出院=df_血常规_出院[['受试者编号', '红细胞_出院', '血红蛋白_出院', '白细胞_出院', '中性粒细胞计数_出院',
                             '血小板_出院', '红细胞压积_出院']]
df_SUP_test_血常规=pd.merge(df_SUP_test_血常规,df_血常规_出院,on='受试者编号',how='left')

In [326]:
df_SUP_test_血常规.shape

(730, 59)

#### 并入尿常规

In [184]:
df_尿常规_入院.columns

Index(['访视', '受试者编号', '检查日期', '尿蛋白（PRO）_入院', '尿白细胞（LEU）_入院', '尿红细胞（ERY）_入院'], dtype='object')

In [185]:
df_尿常规_入院=df_尿常规_入院[['受试者编号', '尿蛋白（PRO）_入院', '尿白细胞（LEU）_入院', '尿红细胞（ERY）_入院']]
df_SUP_test_尿常规=pd.merge(df_SUP_test_血常规,df_尿常规_入院,on='受试者编号',how='left')

In [186]:
df_SUP_test_尿常规.head()

,受试者编号,用药天数,日计量,label,年龄,性别,冠心病,肺部感染,糖尿病,高血压,...,红细胞压积_入院,红细胞_出院,血红蛋白_出院,白细胞_出院,中性粒细胞计数_出院,血小板_出院,红细胞压积_出院,尿蛋白（PRO）_入院,尿白细胞（LEU）_入院,尿红细胞（ERY）_入院
0,90001_a,9.0,30.0,0,61,1,0,0,0,1,...,37.2,3.85,111.0,15.0,75.0,337.0,32.5,25,5-8,0
1,90003_a,6.0,40.0,1,53,0,0,0,0,1,...,38.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,90004_a,1.0,40.0,0,70,0,0,0,0,1,...,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90005_a,1.0,40.0,0,70,0,0,0,0,1,...,30.5,3.11,103.0,13.3,67.7,194.0,29.1,NaN,NaN,NaN
4,90006_a,1.0,30.0,0,79,1,0,0,0,1,...,37.7,4.10,120.0,9.6,73.1,256.0,35.2,阴性,阴性,10

In [187]:
df_尿常规_出院.columns

Index(['访视', '受试者编号', '检查日期', '尿蛋白（PRO）_出院', '尿白细胞（LEU）_出院', '尿红细胞（ERY）_出院'], dtype='object')

In [188]:
df_尿常规_出院=df_尿常规_出院[[ '受试者编号', '尿蛋白（PRO）_出院', '尿白细胞（LEU）_出院', '尿红细胞（ERY）_出院']]
df_SUP_test_尿常规=pd.merge(df_SUP_test_尿常规,df_尿常规_出院,on='受试者编号',how='left')

In [328]:
df_SUP_test_尿常规.shape

(730, 65)

#### 并入血生化

In [190]:
df_血生化_入院.columns

Index(['访视', '受试者编号', '检查日期', '总胆红素（TBil）_入院', '直接胆红素（DBil）_入院', '白蛋白_入院',
       '前白蛋白_入院', 'ALT_入院', 'AST_入院', 'GGT_入院', 'AKP_入院', '尿素氮（BUN）_入院',
       '肌酐（Cr）_入院', 'PT_入院', 'INR_入院', '血钠_入院', '血钾_入院', '血氯_入院', '甘油三酯_入院',
       '胆固醇_入院', '低密度脂蛋白（LDL）_入院', '高密度脂蛋白胆固醇（HDLC）_入院', 'HCY_入院',
       'NT-pro BNP_入院', '肌钙蛋白_入院', 'CK-MB_入院'],
      dtype='object')

In [191]:
df_血生化_入院=df_血生化_入院[['受试者编号', '总胆红素（TBil）_入院', '直接胆红素（DBil）_入院', '白蛋白_入院',
       '前白蛋白_入院', 'ALT_入院', 'AST_入院', 'GGT_入院', 'AKP_入院', '尿素氮（BUN）_入院',
       '肌酐（Cr）_入院', '血钠_入院', '血钾_入院', '血氯_入院', '甘油三酯_入院',
       '胆固醇_入院', '低密度脂蛋白（LDL）_入院', '高密度脂蛋白胆固醇（HDLC）_入院', 'HCY_入院',
       'NT-pro BNP_入院', '肌钙蛋白_入院', 'CK-MB_入院']]
df_SUP_test_血生化=pd.merge(df_SUP_test_尿常规,df_血生化_入院,on='受试者编号',how='left')

In [192]:
df_SUP_test_血生化.head()

,受试者编号,用药天数,日计量,label,年龄,性别,冠心病,肺部感染,糖尿病,高血压,...,血钾_入院,血氯_入院,甘油三酯_入院,胆固醇_入院,低密度脂蛋白（LDL）_入院,高密度脂蛋白胆固醇（HDLC）_入院,HCY_入院,NT-pro BNP_入院,肌钙蛋白_入院,CK-MB_入院
0,90001_a,9.0,30.0,0,61,1,0,0,0,1,...,4.53,105.0,1.18,3.72,1.83,1.59,NaN,NaN,NaN,NaN
1,90003_a,6.0,40.0,1,53,0,0,0,0,1,...,3.40,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,90004_a,1.0,40.0,0,70,0,0,0,0,1,...,2.70,96.0,1.05,4.84,3.12,1.28,NaN,NaN,NaN,NaN
3,90005_a,1.0,40.0,0,70,0,0,0,0,1,...,3.50,92.0,3.13,6.66,4.27,1.24,NaN,NaN,NaN,NaN
4,90006_a,1.0,30.0,0,79,1,0,0,0,1,...,4.05,106.0,4.23,6.17,4.48,1.05,NaN,NaN,NaN,NaN

In [193]:
df_血生化_出院.columns

Index(['访视', '受试者编号', '检查日期', '总胆红素（TBil）_出院', '直接胆红素（DBil）_出院', '白蛋白_出院',
       '前白蛋白_出院', 'ALT_出院', 'AST_出院', 'GGT_出院', 'AKP_出院', '尿素氮（BUN）_出院',
       '肌酐（Cr）_出院', 'PT_出院', 'INR_出院', '血钠_出院', '血钾_出院', '血氯_出院', '甘油三酯_出院',
       '胆固醇_出院', '低密度脂蛋白（LDL）_出院', '高密度脂蛋白胆固醇（HDLC）_出院', 'HCY_出院',
       'NT-pro BNP_出院', '肌钙蛋白_出院', 'CK-MB_出院'],
      dtype='object')

In [194]:
df_血生化_出院=df_血生化_出院[['受试者编号', '总胆红素（TBil）_出院', '直接胆红素（DBil）_出院', '白蛋白_出院',
       '前白蛋白_出院', 'ALT_出院', 'AST_出院', 'GGT_出院', 'AKP_出院', '尿素氮（BUN）_出院',
       '肌酐（Cr）_出院', '血钠_出院', '血钾_出院', '血氯_出院', '甘油三酯_出院',
       '胆固醇_出院', '低密度脂蛋白（LDL）_出院', '高密度脂蛋白胆固醇（HDLC）_出院', 'HCY_出院',
       'NT-pro BNP_出院', '肌钙蛋白_出院', 'CK-MB_出院']]
df_SUP_test_血生化=pd.merge(df_SUP_test_血生化,df_血生化_出院,on='受试者编号',how='left')

In [329]:
df_SUP_test_血生化.shape

(730, 107)

In [195]:
df_SUP_test_血生化.head()

,受试者编号,用药天数,日计量,label,年龄,性别,冠心病,肺部感染,糖尿病,高血压,...,血钾_出院,血氯_出院,甘油三酯_出院,胆固醇_出院,低密度脂蛋白（LDL）_出院,高密度脂蛋白胆固醇（HDLC）_出院,HCY_出院,NT-pro BNP_出院,肌钙蛋白_出院,CK-MB_出院
0,90001_a,9.0,30.0,0,61,1,0,0,0,1,...,3.47,101.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90003_a,6.0,40.0,1,53,0,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,90004_a,1.0,40.0,0,70,0,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90005_a,1.0,40.0,0,70,0,0,0,0,1,...,2.92,93.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,90006_a,1.0,30.0,0,79,1,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 并入凝血

In [196]:
df_凝血_入院.columns

Index(['访视', '受试者编号', '检查日期', 'PT_入院', 'INR_入院', 'APTT_入院'], dtype='object')

In [197]:
df_凝血_入院=df_凝血_入院[['受试者编号', 'PT_入院', 'INR_入院', 'APTT_入院']]
df_SUP_test_凝血=pd.merge(df_SUP_test_血生化,df_凝血_入院,on='受试者编号',how='left')

In [198]:
df_凝血_出院.columns

Index(['访视', '受试者编号', '检查日期', 'PT_出院', 'INR_出院', 'APTT_出院'], dtype='object')

In [199]:
df_凝血_出院=df_凝血_出院[['受试者编号', 'PT_出院', 'INR_出院', 'APTT_出院']]
df_SUP_test_凝血=pd.merge(df_SUP_test_凝血,df_凝血_出院,on='受试者编号',how='left')

In [330]:
df_SUP_test_凝血.shape

(726, 45)

In [200]:
df_SUP_test_凝血.to_excel(project_path+'/data/processed_data/df_1.6.5_并入检测数据.xlsx')

#### 删除缺失超过50%的列

In [201]:
# 删除缺失超过50%的检测
for i in df_SUP_test_凝血.columns:
    x=df_SUP_test_凝血[i].isnull().sum()
    per_x = x/df_SUP_test_凝血.shape[0]  
    if per_x >= 0.5:
        print(i)
        del df_SUP_test_凝血[i]

红细胞_出院
血红蛋白_出院
白细胞_出院
中性粒细胞计数_出院
血小板_出院
红细胞压积_出院
尿白细胞（LEU）_入院
尿红细胞（ERY）_入院
尿蛋白（PRO）_出院
尿白细胞（LEU）_出院
尿红细胞（ERY）_出院
AKP_入院
HCY_入院
NT-pro BNP_入院
肌钙蛋白_入院
CK-MB_入院
总胆红素（TBil）_出院
直接胆红素（DBil）_出院
白蛋白_出院
前白蛋白_出院
ALT_出院
AST_出院
GGT_出院
AKP_出院
尿素氮（BUN）_出院
肌酐（Cr）_出院
血钠_出院
血钾_出院
血氯_出院
甘油三酯_出院
胆固醇_出院
低密度脂蛋白（LDL）_出院
高密度脂蛋白胆固醇（HDLC）_出院
HCY_出院
NT-pro BNP_出院
肌钙蛋白_出院
CK-MB_出院
PT_出院
INR_出院
APTT_出院

In [207]:
df_SUP_test_凝血=df_SUP_test_凝血.reset_index(drop=True)
for i in range(df_SUP_test_凝血.shape[0]):
    if df_SUP_test_凝血.loc[i].isnull().sum()/df_SUP_test_凝血.loc[i].shape[0] >= 0.5:
        print(i)
        df_SUP_test_凝血.drop([i],axis=0,inplace=True)

285
301
602
703

In [202]:
df_SUP_test_凝血.to_excel(project_path+'/data/processed_data/df_1.6.6_删除缺失超过50%的列.xlsx')

#### 删除分类不平衡数据

In [205]:
# 保护目标变量、tdm数据
for i in df_SUP_test_凝血.columns[4:]:
    if df_SUP_test_凝血[i].nunique() < 2:
        del df_SUP_test_凝血[i]
        continue
    if df_SUP_test_凝血[i].nunique() == 2:
        # 如果分类变量中某一变量的占比超过90%，则删除该指标
        num_1 = df_SUP_test_凝血[i].value_counts()  # df一列中不同变量的数目
        num_2 = num_1.div(df_SUP_test_凝血.shape[0])  # div除法，所有元素都除以相同数值
        num_3 = num_2.max()  # 取出最大值
        if num_3 >= 0.9:
            print(i)
            del df_SUP_test_凝血[i]

急性冠脉综合征
肾功能不全
尿毒症
脓毒血症
肺水肿
肺气肿
呼吸衰竭
胸腔积液
尿路感染
腹膜透析
肝功能不全
高脂血症
冠状动脉粥样硬化
慢性支气管炎
胆囊结石
早搏
急性肾损伤
伐他汀钙
谷胱甘肽
纤溶酶针
丹参多酚酸盐
替米沙坦
左氧氟沙星
氨溴索针
阿伐他汀
腺苷钴胺
多索茶碱
醒脑静针

In [209]:
df_SUP_test_凝血.to_excel(project_path+'/data/processed_data/df_1.6.7_删除分类不平衡列.xlsx')

#### 数据转换

In [212]:
# 阴性数据转化为0.1
df_model = df_SUP_test_凝血.copy()
df_model=df_model.reset_index(drop=True)

df_model = filter_spec_character(df_model,'尿蛋白（PRO）_入院')    
df_model['尿蛋白（PRO）_入院']=df_model['尿蛋白（PRO）_入院'].apply(lambda x: 0.1 if re.match('阴性|隐性', str(x)) else 
                                                                                np.nan if x=='nan' else x)

In [323]:
df_model.shape

(726, 45)

In [213]:
df_model.to_excel(project_path+'/data/processed_data/df_1.6.8_数据转换.xlsx')