In [202]:
# _*_ coding: utf-8 _*_
# @Time: 2021/12/24 14:15 
# @Author: yuyongsheng
# @Software: PyCharm
# @Description: 新华医院生脉注射液：1. 数据处理：201907041611133032包含在其他科原始数据中，它们和心内科用的受试者编号对应不同人

# 数据处理

## 导入程序包

In [203]:
# 导入程序包
import pymysql as MySQLDB
import pandas as pd
import numpy as np

import re
import sys
import os
project_path = os.getcwd()

## 导入预定义函数

In [204]:
# 字符串转换为时间格式
import datetime
def str_to_datetime(x):
    try:
        a = datetime.datetime.strptime(x, "%d/%m/%Y %H:%M:%S")
        return a
    except:
        return np.NaN

In [205]:
# 过滤特殊字符
def filter_spec_character(df,feature):
    df[feature]=df[feature].apply(lambda x: re.sub('<|>|\+|\/','',str(x)))
    return df

In [206]:
# 过滤文字
import numpy as np
def filter_string(df,feature):
    # 过滤文字!!!!!!!!!!!!!!!!!!!!!!!!!!!
    df=df[df[feature].str.contains('\d')]
    return df

In [207]:
# 过滤异常大值
def filter_huge_value(df,feature):
    # 过滤异常大值!!!!!!!!!!!!!!!!!!!!!!!!!!
    median_value=df[feature].median()
    if median_value == 0:
        pass
    else:
        df[feature]=df[feature].apply(lambda x: np.nan if x<0 else x if float(x) <= 100 * median_value else np.nan)
    return df

## 提取结局终点事件

In [208]:
'''
提取出院诊断-主要疾病转归：人数限定
'''

'\n提取出院诊断-主要疾病转归：人数限定\n'

In [209]:
# 其他科
df_oup_diagnosis_1 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-其他科1021.xlsx',
                            sheet_name='DS_出院情况',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第1行

# 标记受试者编号
df_oup_diagnosis_1['受试者编号']=df_oup_diagnosis_1['受试者编号'].apply(lambda x: str(x)+'_a')

# 提取有效字段
df_oup_diagnosis_1=df_oup_diagnosis_1[['受试者编号','出院诊断','主要疾病转归_描述']]

In [210]:
df_oup_diagnosis_1.shape

(644, 3)

In [211]:
# 心内科
df_oup_diagnosis_2 = pd.read_excel(project_path+'/data/raw_data//导出全部CRF表数据-心内科1021.xlsx',
                            sheet_name='DS_出院情况',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第1行

# 标记受试者编号
df_oup_diagnosis_2['受试者编号']=df_oup_diagnosis_2['受试者编号'].apply(lambda x: str(x)+'_b')
# 提取有效字段
df_oup_diagnosis_2=df_oup_diagnosis_2[['受试者编号','出院诊断','主要疾病转归_描述']]

In [212]:
df_oup_diagnosis_2.shape

(105, 3)

In [213]:
# 合并其他科和心内科联合用药
df_oup_diagnosis=pd.concat([df_oup_diagnosis_1,df_oup_diagnosis_2])
df_oup_diagnosis=df_oup_diagnosis[df_oup_diagnosis['主要疾病转归_描述'].notnull()]

In [214]:
df_oup_diagnosis.shape

(741, 3)

In [215]:
df_oup_diagnosis.head()

     受试者编号                                               出院诊断 主要疾病转归_描述
0  90001_a  大脑动脉狭窄脑梗死 NIHSS评分12分，高血压病（2级，很高危），2型糖尿病，脑梗死个人史...        好转
2  90003_a  I型呼吸衰竭 重症肺炎 肺栓塞(中低危)心功能不全 高血压病I级(高危)肝功能不全 下肢静脉...        致死
3  90004_a  尿毒症,慢性肾小球肾炎,腹膜透析;胸腔积液;心房颤动伴II度房室传导阻滞,心功能III-IV...        好转
4  90005_a     尿毒症,慢性肾小球肾炎, 腹膜透析,高血压病(3级 极高危);肺部感染,肾性贫血,甲状腺结节        好转
5  90006_a  急性脑梗死(NIHSS评分2分);动脉斑块形成;高血压(3级,很高危);冠状动脉粥样硬化性心...        好转

In [216]:
df_oup_diagnosis['主要疾病转归_描述'].value_counts()

好转    671
致死     39
未愈     30
治愈      1
Name: 主要疾病转归_描述, dtype: int64

In [217]:
df_oup_diagnosis['主要疾病转归_描述']=df_oup_diagnosis['主要疾病转归_描述'].apply(lambda x: 1 if re.match('致死|未愈',x) else 0)

In [218]:
df_oup_diagnosis['主要疾病转归_描述'].value_counts()

0    672
1     69
Name: 主要疾病转归_描述, dtype: int64

In [219]:
df_oup_diagnosis.head()

     受试者编号                                               出院诊断  主要疾病转归_描述
0  90001_a  大脑动脉狭窄脑梗死 NIHSS评分12分，高血压病（2级，很高危），2型糖尿病，脑梗死个人史...          0
2  90003_a  I型呼吸衰竭 重症肺炎 肺栓塞(中低危)心功能不全 高血压病I级(高危)肝功能不全 下肢静脉...          1
3  90004_a  尿毒症,慢性肾小球肾炎,腹膜透析;胸腔积液;心房颤动伴II度房室传导阻滞,心功能III-IV...          0
4  90005_a     尿毒症,慢性肾小球肾炎, 腹膜透析,高血压病(3级 极高危);肺部感染,肾性贫血,甲状腺结节          0
5  90006_a  急性脑梗死(NIHSS评分2分);动脉斑块形成;高血压(3级,很高危);冠状动脉粥样硬化性心...          0

In [220]:
df_oup_diagnosis.to_excel(project_path+'/data/processed_data/df_1.3_提取出院诊断转归数据.xlsx')

## 提取用药信息

### 其他科用药数据

In [221]:
drug_data_1 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-其他科1021.xlsx',
                            sheet_name='EX_生脉注射液用药情况',
#                            header=1,  # 指定第2行作为标题行
                           skiprows=[1,1,1])  # 跳过第1行

In [222]:
print(drug_data_1.shape)
print(drug_data_1['SUBJECTID'].nunique())

(1107, 30)
645

In [223]:
drug_data_1.head()

,STUDYID,SITEID,SITE,SUBJECTID,VISIT,EXYN,EXYN_CHAR,EXSTDAT,EXENDAT,EXDLDAYS,...,EXDSTXTUT,EXDSTXTSD,EXDSTXTSU,EXMENS,EXMENS_CHAR,EXMENOTH,EXCOMDYN,EXCOMDYN_CHAR,ENTSTDTC,ENTENDTC
0,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90001,生脉注射液用药情况,1.0,是,2018-04-07,2018-04-15,9.0,...,ml,NaN,NaN,99.0,其它,0.9% NS 100ml,2.0,无,2018/4/20 15:59:03,NaN
1,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90001,生脉注射液用药情况,2.0,否,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019/8/1 23:14:03,NaN
2,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90002,生脉注射液用药情况,2.0,否,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019/10/1 19:20:27,NaN
3,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90003,生脉注射液用药情况,1.0,是,2018-03-12,2018-03-17,6.0,...,ml,NaN,NaN,1.0,5% GS 250ml,NaN,2.0,无,2018/9/16 16:37:59,NaN
4,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90003,生脉注射液用药情况,2.0,否,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019/8/8 16:31:10,NaN

In [224]:
# 提取使用生脉注射液的数据
drug_data_1=drug_data_1[drug_data_1['EXYN_CHAR']=='是']
drug_data_1=drug_data_1.reset_index(drop=True)

In [225]:
print(drug_data_1.shape)
print(drug_data_1['SUBJECTID'].nunique())

(635, 30)
635

In [226]:
# 删除用药剂量为空的数据，频次：EXDOSFRQ；单次剂量：EXDSTXT
drug_data_1=drug_data_1[(drug_data_1['EXDOSFRQ'].notnull()) &  
                       (drug_data_1['EXDSTXT'].notnull())]
drug_data_1=drug_data_1.reset_index(drop=True)

In [227]:
print(drug_data_1.shape)
print(drug_data_1['SUBJECTID'].nunique())

(635, 30)
635

In [228]:
# 提取有效字段
drug_data_1=drug_data_1[['SUBJECTID','EXSTDAT','EXENDAT','EXDLDAYS','EXDOSFRQ','EXDSTXT']]

In [229]:
# 标记受试者编号
drug_data_1['SUBJECTID']=drug_data_1['SUBJECTID'].apply(lambda x: str(x)+'_a')

In [230]:
drug_data_1.head()

  SUBJECTID     EXSTDAT     EXENDAT  EXDLDAYS  EXDOSFRQ  EXDSTXT
0   90001_a  2018-04-07  2018-04-15       9.0       1.0     30.0
1   90003_a  2018-03-12  2018-03-17       6.0       1.0     40.0
2   90004_a  2018-02-13  2018-02-13       1.0       1.0     40.0
3   90005_a  2018-02-09  2018-02-09       1.0       1.0     40.0
4   90006_a  2018-02-23  2018-02-23       1.0       1.0     30.0

In [231]:
drug_data_1.to_excel(project_path+'/data/processed_data/用药数据/其他科_drug_1.xlsx')

### 心内科用药数据

In [232]:
drug_data_2 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-心内科1021.xlsx',
                            sheet_name='EX_生脉注射液用药情况',
                            #                            header=1,  # 指定第2行作为标题行
                           skiprows=[1,1,1])  # 跳过第几行)

In [233]:
print(drug_data_2.shape)
print(drug_data_2['SUBJECTID'].nunique())

(192, 30)
105

In [234]:
# 提取使用生脉注射液的数据
drug_data_2=drug_data_2[drug_data_2['EXYN_CHAR']=='是']
drug_data_2=drug_data_2.reset_index(drop=True)

In [235]:
print(drug_data_2.shape)
print(drug_data_2['SUBJECTID'].nunique())

(105, 30)
105

In [236]:
# 删除用药剂量为空的数据
drug_data_2=drug_data_2[(drug_data_2['EXDOSFRQ'].notnull()) &
                       (drug_data_2['EXDSTXT'].notnull())]
drug_data_2=drug_data_2.reset_index(drop=True)

In [237]:
print(drug_data_2.shape)
print(drug_data_2['SUBJECTID'].nunique())

(105, 30)
105

In [238]:
# 提取有效字段
drug_data_2=drug_data_2[['SUBJECTID','EXSTDAT','EXENDAT','EXDLDAYS','EXDOSFRQ','EXDSTXT']]

In [239]:
# 标记受试者编号
drug_data_2['SUBJECTID']=drug_data_2['SUBJECTID'].apply(lambda x: str(x)+'_b')

In [240]:
drug_data_2.head()

  SUBJECTID     EXSTDAT     EXENDAT  EXDLDAYS  EXDOSFRQ  EXDSTXT
0   90001_b  2018-02-13  2018-02-13         1       1.0     40.0
1   90002_b  2019-04-24  2019-05-05        12       1.0     60.0
2   90003_b  2019-05-24         NaN         1       1.0     40.0
3   90004_b  2019-04-01  2019-04-03         3       1.0     60.0
4   90005_b  2019-05-20  2019-05-27         8       1.0     30.0

In [241]:
drug_data_2.to_excel(project_path+'/data/processed_data/用药数据/心内科_drug_2.xlsx')

### 合并用药数据

In [242]:
# 合并其他科和心内科用药数据
df_SUP_drug=pd.concat([drug_data_1,drug_data_2],axis=0)

In [243]:
#计算日剂量
df_SUP_drug['日剂量']=df_SUP_drug['EXDOSFRQ'].astype('float') * df_SUP_drug['EXDSTXT'].astype('float')

In [244]:
print(df_SUP_drug.shape)
print(df_SUP_drug['SUBJECTID'].nunique())

(740, 7)
740

In [245]:
df_SUP_drug.columns

Index(['SUBJECTID', 'EXSTDAT', 'EXENDAT', 'EXDLDAYS', 'EXDOSFRQ', 'EXDSTXT',
       '日剂量'],
      dtype='object')

In [246]:
df_SUP_drug.rename(columns={'SUBJECTID':'受试者编号',
                            'EXSTDAT':'用药开始时间',
                            'EXENDAT':'用药结束时间',
                            'EXDLDAYS':'用药天数'},inplace=True)
df_SUP_drug=df_SUP_drug.reset_index(drop=True)

In [247]:
# 提取含有结局终点事件的生脉饮用药
df_SUP_drug=pd.merge(df_oup_diagnosis,df_SUP_drug,on='受试者编号',how='inner')

In [248]:
df_SUP_drug.shape

(733, 9)

In [249]:
df_SUP_drug.to_excel(project_path+'/data/processed_data/df_1.4.3_生脉用药.xlsx')

In [250]:
df_SUP_drug.日剂量.value_counts()

40.0     408
60.0     185
30.0     106
50.0      20
20.0      11
10.0       2
120.0      1
Name: 日剂量, dtype: int64

### 计算用药时长

In [251]:
aaa=df_SUP_drug[df_SUP_drug['用药结束时间'].isnull()]
bbb=df_SUP_drug[df_SUP_drug['用药结束时间'].notnull()]
aaa['用药结束时间']=aaa['用药开始时间']
df_SUP_drug=pd.concat([aaa,bbb],axis=0)
df_SUP_drug=df_SUP_drug.sort_values(by=['受试者编号','用药开始时间'])
df_SUP_drug=df_SUP_drug.reset_index(drop=True)

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [252]:
df_SUP_drug['用药天数']=(pd.to_datetime(df_SUP_drug['用药结束时间']) - pd.to_datetime(df_SUP_drug['用药开始时间']))
df_SUP_drug['用药天数']=df_SUP_drug['用药天数'].apply(lambda x:x.days+1)

In [253]:
df_SUP_drug.shape

(733, 9)

In [254]:
df_SUP_drug.to_excel(project_path+'/data/processed_data/df_1.4.4_用药时长.xlsx')

In [255]:
df_SUP_drug[df_SUP_drug['用药天数']<5].shape

(241, 9)

In [256]:
df_SUP_drug[(df_SUP_drug['用药天数']>=5) & (df_SUP_drug['用药天数']<=7)].shape

(232, 9)

In [257]:
df_SUP_drug[df_SUP_drug['用药天数']>7].shape

(260, 9)

## 纳入心血管疾病

### 提取疾病

In [258]:
df_diagnose_1=pd.read_excel(project_path + '/data/raw_data/导出全部CRF表数据-其他科1021.xlsx',sheet_name='RC_西医诊断',header=1)

df_diagnose_2=pd.read_excel(project_path + '/data/raw_data/导出全部CRF表数据-心内科1021.xlsx',sheet_name='RC_西医诊断',header=1)

df_diagnose_1['受试者编号']=df_diagnose_1['受试者编号'].astype('str')+'_'+'a'
df_diagnose_2['受试者编号']=df_diagnose_2['受试者编号'].astype('str')+'_'+'b'
df_diagnose=pd.concat([df_diagnose_1,df_diagnose_2],axis=0)
df_diagnose=df_diagnose.reset_index(drop=True)

In [259]:
print(df_diagnose_1.shape)
print(df_diagnose_2.shape)

(699, 10)
(104, 10)

In [260]:
df_diagnose=df_diagnose[df_diagnose['西医诊断'].notnull()]
df_diagnose=df_diagnose.reset_index(drop=True)

In [261]:
df_diagnose.shape

(799, 10)

In [262]:
df_diagnose.head()

,方案号,中心标识,中心名称,受试者编号,访视,编号,西医诊断,开始日期,原始录入日期,最后修改日期
0,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90001_a,入组访视,1,大脑动脉狭窄脑梗死，高血压病，2DM，脑梗个人史，动脉斑块形成，双侧甲状腺结节,2018-04-03,2018/4/20 15:04:29,NaN
1,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90003_a,入组访视,1,肺栓塞(中低危),2018-01-31,2018/9/16 15:44:19,NaN
2,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90003_a,入组访视,2,两肺阴影待查,2018-01-31,2018/9/16 15:44:45,NaN
3,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90003_a,入组访视,3,高血压病1级(高危),2018-01-31,2018/9/16 15:45:10,NaN
4,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90003_a,入组访视,4,肝功能不全,2018-01-31,2018/9/16 15:45:39,NaN

In [263]:
df_diagnose['西医诊断']=df_diagnose['西医诊断'].astype('str').apply(lambda x: re.split(r'[,，：: ?？;；/(/)（）]',x))

In [264]:
df_diagnose=df_diagnose[['受试者编号','西医诊断']]

In [265]:
temp_list=[]
for i in df_diagnose['受试者编号'].unique():
#     print(i)
    temp=df_diagnose[df_diagnose['受试者编号']==i]
    temp=temp.reset_index(drop=True)
    if temp.shape[0]>1:
        for j in range(1,temp.shape[0]):
            temp.loc[0,'西医诊断']=temp.loc[0,'西医诊断'] + temp.loc[j,'西医诊断']
        temp=temp.loc[:0,]
    temp_list.append(temp)

In [266]:
df_diagnose=pd.concat(temp_list,axis=0).sort_values(['受试者编号']).reset_index(drop=True)
del temp_list

In [267]:
df_diagnose.head()

     受试者编号                                               西医诊断
0  90001_a     [大脑动脉狭窄脑梗死, 高血压病, 2DM, 脑梗个人史, 动脉斑块形成, 双侧甲状腺结节]
1  90002_b     [急性前壁心肌梗塞, 冠心病killip, Ⅰ级, 急诊LAD-PCI术, , 2型糖尿病]
2  90003_a  [肺栓塞, 中低危, , 两肺阴影待查, 高血压病1级, 高危, , 肝功能不全, 腔隙性脑梗塞]
3  90003_b                    [, 冠状动脉造影硬化性心脏病, 急性冠脉综合征, 高血压病]
4  90004_a  [尿毒症, 慢性肾小球肾炎, 腹膜透析, 胸腔积液, 心房颤动伴II度房室传导阻滞, 心功能...

In [268]:
# 2022.1.12，重新梳理合并疾病
'冠心病','冠状动脉粥样硬化性心脏病','冠状动脉粥样硬化','冠心病kp'
'肺部感染'
'糖尿病','2型糖尿'
'高血压'
'心功能不全','心功能'
'脑梗死','脑梗'
'头晕'
'急性冠脉综合症','急性冠脉综合征'
'房颤'
'肾功能不全','肾功能'
'尿毒症'
'脓毒血症'
'肺水肿'
'肺气肿'
'呼吸衰竭','呼衰'
'胸腔积液'
'尿路感染'
'腹膜透析'
'肝功能不全','肝功'
'高脂血症'
'慢性支气管炎'
'胆囊结石','胆结石'
'早搏'
'急性肾损伤'
'心肌梗塞','心肌梗死','心梗'

('心肌梗塞', '心肌梗死', '心梗')

In [269]:
df_diagnose['西医诊断']

0         [大脑动脉狭窄脑梗死, 高血压病, 2DM, 脑梗个人史, 动脉斑块形成, 双侧甲状腺结节]
1         [急性前壁心肌梗塞, 冠心病killip, Ⅰ级, 急诊LAD-PCI术, , 2型糖尿病]
2      [肺栓塞, 中低危, , 两肺阴影待查, 高血压病1级, 高危, , 肝功能不全, 腔隙性脑梗塞]
3                        [, 冠状动脉造影硬化性心脏病, 急性冠脉综合征, 高血压病]
4      [尿毒症, 慢性肾小球肾炎, 腹膜透析, 胸腔积液, 心房颤动伴II度房室传导阻滞, 心功能...
                             ...
734    [帕金森综合征, , , , , , , , , , , , 高血压2级, 高危, , , ...
735                    [头痛背痛待查, 急性冠脉综合征, , , 高血压3级, 很高危]
736         [横纹肌溶解, 2型糖尿病, 肝功能受损, 反流性食管炎, 糜烂性全胃炎, 血管性痴呆]
737                                      [心肌损伤, 化脓性扁桃体炎]
738        [初步诊断, , , 帕金森病, 高血压病, 3级, 很高危, , 白内障, 脑梗个人史]
Name: 西医诊断, Length: 739, dtype: object

In [270]:
for i in range(df_diagnose.shape[0]):
    df_diagnose.loc[i,'西医诊断']=[x.replace('冠状动脉粥样硬化','冠心病') for x in df_diagnose.loc[i,'西医诊断']]
    df_diagnose.loc[i,'西医诊断']=[x.replace('糖尿','糖尿病') for x in df_diagnose.loc[i,'西医诊断']]
    df_diagnose.loc[i,'西医诊断']=[x.replace('心功能','心功能不全') for x in df_diagnose.loc[i,'西医诊断']]
    df_diagnose.loc[i,'西医诊断']=[x.replace('心律','心功能不全') for x in df_diagnose.loc[i,'西医诊断']]
    df_diagnose.loc[i,'西医诊断']=[x.replace('心力衰竭','心功能不全') for x in df_diagnose.loc[i,'西医诊断']]
    df_diagnose.loc[i,'西医诊断']=[x.replace('脑梗','脑梗死') for x in df_diagnose.loc[i,'西医诊断']]
    df_diagnose.loc[i,'西医诊断']=[x.replace('急性冠脉综合症','急性冠脉综合征') for x in df_diagnose.loc[i,'西医诊断']]
    df_diagnose.loc[i,'西医诊断']=[x.replace('肾功能','肾功能不全') for x in df_diagnose.loc[i,'西医诊断']]
    df_diagnose.loc[i,'西医诊断']=[x.replace('呼衰','呼吸衰竭') for x in df_diagnose.loc[i,'西医诊断']]
    df_diagnose.loc[i,'西医诊断']=[x.replace('肝功能','肝功能不全') for x in df_diagnose.loc[i,'西医诊断']]
    df_diagnose.loc[i,'西医诊断']=[x.replace('胆结石','胆囊结石') for x in df_diagnose.loc[i,'西医诊断']]
    df_diagnose.loc[i,'西医诊断']=[x.replace('心肌梗死','心肌梗塞') for x in df_diagnose.loc[i,'西医诊断']]
    df_diagnose.loc[i,'西医诊断']=[x.replace('心梗','心肌梗塞') for x in df_diagnose.loc[i,'西医诊断']]

In [271]:
df_diagnose.to_excel(project_path+'/data/processed_data/df_1.4.1_西医诊断疾病.xlsx')

### 疾病转置

In [272]:
disease_name=['冠心病','肺部感染','糖尿病','高血压','心功能不全','脑梗死','头晕','急性冠脉综合征','房颤',\
               '肾功能不全','尿毒症','脓毒血症','肺水肿','肺气肿','呼吸衰竭','胸腔积液','尿路感染','腹膜透析',\
              '肝功能不全','高脂血症','慢性支气管炎','胆囊结石','早搏','急性肾损伤','心肌梗塞']

In [273]:
len(disease_name)

25

In [274]:
df_disease=df_diagnose.copy()
for i in range(df_disease.shape[0]):
    diag_str=';'.join(df_disease.loc[i,'西医诊断'])
    for j in disease_name:
        if j in diag_str:
            df_disease.loc[i,j]=1
        else:
            df_disease.loc[i,j]=0

In [275]:
df_disease.shape

(739, 27)

In [276]:
df_disease.head()

,受试者编号,西医诊断,冠心病,肺部感染,糖尿病,高血压,心功能不全,脑梗死,头晕,急性冠脉综合征,...,胸腔积液,尿路感染,腹膜透析,肝功能不全,高脂血症,慢性支气管炎,胆囊结石,早搏,急性肾损伤,心肌梗塞
0,90001_a,"[大脑动脉狭窄脑梗死死, 高血压病, 2DM, 脑梗死个人史, 动脉斑块形成, 双侧甲状腺结节]",0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,90002_b,"[急性前壁心肌梗塞, 冠心病killip, Ⅰ级, 急诊LAD-PCI术, , 2型糖尿病病]",1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,90003_a,"[肺栓塞, 中低危, , 两肺阴影待查, 高血压病1级, 高危, , 肝功能不全不全, 腔隙...",0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,90003_b,"[, 冠状动脉造影硬化性心脏病, 急性冠脉综合征, 高血压病]",0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,90004_a,"[尿毒症, 慢性肾小球肾炎, 腹膜透析, 胸腔积液, 心房颤动伴II度房室传导阻滞, 心功能...",0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [277]:
df_disease.to_excel(project_path+'/data/processed_data/df_1.5.2_疾病转置.xlsx')

In [278]:
df_disease.columns

Index(['受试者编号', '西医诊断', '冠心病', '肺部感染', '糖尿病', '高血压', '心功能不全', '脑梗死', '头晕',
       '急性冠脉综合征', '房颤', '肾功能不全', '尿毒症', '脓毒血症', '肺水肿', '肺气肿', '呼吸衰竭', '胸腔积液',
       '尿路感染', '腹膜透析', '肝功能不全', '高脂血症', '慢性支气管炎', '胆囊结石', '早搏', '急性肾损伤',
       '心肌梗塞'],
      dtype='object')

### 疾病归类

In [279]:
df_disease_class=df_disease[['受试者编号','冠心病', '肺部感染', '糖尿病', '高血压', '心功能不全', '脑梗死', '头晕', '急性冠脉综合征',
                         '房颤', '肾功能不全', '尿毒症', '脓毒血症', '肺水肿', '肺气肿', '呼吸衰竭', '胸腔积液', '尿路感染',
                         '腹膜透析', '肝功能不全', '高脂血症', '慢性支气管炎', '胆囊结石', '早搏',
                         '急性肾损伤', '心肌梗塞']]

In [280]:
'''
心血管疾病：高血压、冠心病、心肌梗塞、急性冠脉综合征、心功能不全、房颤、早搏
呼吸系统疾病：肺部感染、呼吸衰竭、胸腔积液、肺水肿、慢性支气管炎、肺气肿
神经系统疾病：脑梗死、头晕
泌尿系统疾病：肾功能不全、急性肾损伤、尿毒症、腹膜透析、尿路感染
内分泌和代谢疾病：糖尿病、高脂血症
消化系统疾病：肝功能不全、胆囊结石
危重症疾病：脓毒血症
'''

'\n心血管疾病：高血压、冠心病、心肌梗塞、急性冠脉综合征、心功能不全、房颤、早搏\n呼吸系统疾病：肺部感染、呼吸衰竭、胸腔积液、肺水肿、慢性支气管炎、肺气肿\n神经系统疾病：脑梗死、头晕\n泌尿系统疾病：肾功能不全、急性肾损伤、尿毒症、腹膜透析、尿路感染\n内分泌和代谢疾病：糖尿病、高脂血症\n消化系统疾病：肝功能不全、胆囊结石\n危重症疾病：脓毒血症\n'

In [281]:
for i in range(df_disease_class.shape[0]):
    # 心血管疾病
    if df_disease_class.loc[i,['高血压','冠心病','心肌梗塞','急性冠脉综合征','心功能不全','房颤','早搏']].sum() >=1:
        df_disease_class.loc[i,'心血管疾病_label']=1
    else:
        df_disease_class.loc[i,'心血管疾病_label']=0
     # 呼吸系统疾病
    if df_disease_class.loc[i,['肺部感染','呼吸衰竭','胸腔积液','肺水肿','慢性支气管炎','肺气肿']].sum() >=1:
        df_disease_class.loc[i,'呼吸系统疾病_label']=1
    else:
        df_disease_class.loc[i,'呼吸系统疾病_label']=0
     # 神经系统疾病
    if df_disease_class.loc[i,['脑梗死','头晕']].sum() >=1:
        df_disease_class.loc[i,'神经系统疾病_label']=1
    else:
        df_disease_class.loc[i,'神经系统疾病_label']=0
     # 泌尿系统疾病
    if df_disease_class.loc[i,['肾功能不全','急性肾损伤','尿毒症','腹膜透析','尿路感染']].sum() >=1:
        df_disease_class.loc[i,'泌尿系统疾病_label']=1
    else:
        df_disease_class.loc[i,'泌尿系统疾病_label']=0
     # 内分泌和代谢疾病
    if df_disease_class.loc[i,['糖尿病','高脂血症']].sum() >=1:
        df_disease_class.loc[i,'内分泌和代谢疾病_label']=1
    else:
        df_disease_class.loc[i,'内分泌和代谢疾病_label']=0
     # 消化系统疾病
    if df_disease_class.loc[i,['肝功能不全','胆囊结石']].sum() >=1:
        df_disease_class.loc[i,'消化系统疾病_label']=1
    else:
        df_disease_class.loc[i,'消化系统疾病_label']=0
     # 危重症疾病
    if df_disease_class.loc[i,['脓毒血症']].sum() >=1:
        df_disease_class.loc[i,'危重症疾病_label']=1
    else:
        df_disease_class.loc[i,'危重症疾病_label']=0

In [282]:
df_disease_class.shape

(739, 33)

In [283]:
# 删除细分疾病变量
df_disease_class=df_disease_class.drop(disease_name,axis=1)

In [284]:
df_disease_class.shape

(739, 8)

In [285]:
df_disease_class.to_excel(project_path+'/data/processed_data/df_1.5.3_疾病归类.xlsx')

### 并入疾病

In [286]:
df_SUP_disease=pd.merge(df_SUP_drug,df_disease_class,on='受试者编号',how='left')

In [287]:
df_SUP_disease.shape

(733, 16)

In [288]:
df_SUP_disease.isnull().any()

受试者编号             False
出院诊断               True
主要疾病转归_描述         False
用药开始时间            False
用药结束时间            False
用药天数              False
EXDOSFRQ          False
EXDSTXT           False
日剂量               False
心血管疾病_label        True
呼吸系统疾病_label       True
神经系统疾病_label       True
泌尿系统疾病_label       True
内分泌和代谢疾病_label     True
消化系统疾病_label       True
危重症疾病_label        True
dtype: bool

In [289]:
df_SUP_disease.to_excel(project_path+'/data/processed_data/df_1.5.4_并入疾病.xlsx')

In [290]:
df_SUP_disease['日剂量'].value_counts()

40.0     408
60.0     185
30.0     106
50.0      20
20.0      11
10.0       2
120.0      1
Name: 日剂量, dtype: int64

### 统计疾病

In [291]:
'''
心血管疾病：高血压、冠心病、心肌梗塞、急性冠脉综合征、心功能不全、房颤、早搏
呼吸系统疾病：肺部感染、呼吸衰竭、胸腔积液、肺水肿、慢性支气管炎、肺气肿
神经系统疾病：脑梗死、头晕
泌尿系统疾病：肾功能不全、急性肾损伤、尿毒症、腹膜透析、尿路感染
内分泌和代谢疾病：糖尿病、高脂血症
消化系统疾病：肝功能不全、胆囊结石
危重症疾病：脓毒血症
'''

'\n心血管疾病：高血压、冠心病、心肌梗塞、急性冠脉综合征、心功能不全、房颤、早搏\n呼吸系统疾病：肺部感染、呼吸衰竭、胸腔积液、肺水肿、慢性支气管炎、肺气肿\n神经系统疾病：脑梗死、头晕\n泌尿系统疾病：肾功能不全、急性肾损伤、尿毒症、腹膜透析、尿路感染\n内分泌和代谢疾病：糖尿病、高脂血症\n消化系统疾病：肝功能不全、胆囊结石\n危重症疾病：脓毒血症\n'

In [292]:
disease_class_list=['心血管疾病','呼吸系统疾病','神经系统疾病','泌尿系统疾病','内分泌和代谢疾病','消化系统疾病','危重症疾病']

In [293]:
for i in disease_class_list:
    print(df_SUP_disease[i+'_label'].value_counts())

1.0    573
0.0    154
Name: 心血管疾病_label, dtype: int64
0.0    509
1.0    218
Name: 呼吸系统疾病_label, dtype: int64
0.0    467
1.0    260
Name: 神经系统疾病_label, dtype: int64
0.0    624
1.0    103
Name: 泌尿系统疾病_label, dtype: int64
0.0    516
1.0    211
Name: 内分泌和代谢疾病_label, dtype: int64
0.0    688
1.0     39
Name: 消化系统疾病_label, dtype: int64
0.0    701
1.0     26
Name: 危重症疾病_label, dtype: int64

### 提取心血管疾病患者

In [294]:
df_SUP_disease_select=df_SUP_disease[df_SUP_disease['心血管疾病_label']==1]

In [295]:
df_SUP_disease_select.shape

(573, 16)

In [296]:
df_SUP_disease_select.to_excel(project_path+'/data/processed_data/df_1.5.6_提取心血管疾病患者.xlsx')

## 统计用药时长和出入院时长

### 提取入院时间

In [297]:
# 其他科 VD_住院日期
df_入院时间_1 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-其他科1021.xlsx',
                            sheet_name='VD_住院日期',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第1行

df_入院时间_1['受试者编号']=df_入院时间_1['受试者编号'].apply(lambda x: str(x)+'_a')
df_入院时间_1=df_入院时间_1[['受试者编号','住院日期']]

In [298]:
df_入院时间_1.shape

(645, 2)

In [299]:
# 心内科入院时间
df_入院时间_2 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-心内科1021.xlsx',
                            sheet_name='VD_住院日期',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第几行)

df_入院时间_2['受试者编号']=df_入院时间_2['受试者编号'].apply(lambda x: str(x)+'_b')
df_入院时间_2=df_入院时间_2[['受试者编号','住院日期']]

In [300]:
df_入院时间_2.shape

(105, 2)

In [301]:
df_入院时间=pd.concat([df_入院时间_1,df_入院时间_2],axis=0)

In [302]:
df_入院时间

       受试者编号        住院日期
0    90001_a  2018-04-03
1    90002_a  2018-07-17
2    90003_a  2018-01-31
3    90004_a  2018-01-26
4    90005_a  2018-02-07
..       ...         ...
100  90101_b  2019-05-08
101  90102_b  2019-01-18
102  90103_b  2019-08-15
103  90104_b  2019-08-05
104  90105_b  2019-08-22

[750 rows x 2 columns]

In [303]:
df_入院时间.shape

(750, 2)

In [304]:
df_入院时间.to_excel(project_path+'/data/processed_data/df_1.6.1_提取入院时间.xlsx')

### 提取出院时间

In [305]:
# 其他科 VD_住院日期
df_出院时间_1 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-其他科1021.xlsx',
                            sheet_name='DS_出院情况',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第1行

df_出院时间_1['受试者编号']=df_出院时间_1['受试者编号'].apply(lambda x: str(x)+'_a')
df_出院时间_1=df_出院时间_1[['受试者编号','完成日期']]

In [306]:
df_出院时间_1.shape

(644, 2)

In [307]:
# 心内科入院时间
df_出院时间_2 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-心内科1021.xlsx',
                            sheet_name='DS_出院情况',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第几行)

df_出院时间_2['受试者编号']=df_出院时间_2['受试者编号'].apply(lambda x: str(x)+'_b')
df_出院时间_2=df_出院时间_2[['受试者编号','完成日期']]

In [308]:
df_出院时间_2.shape

(105, 2)

In [309]:
df_出院时间 = pd.concat([df_出院时间_1,df_出院时间_2],axis=0)

In [310]:
df_出院时间.shape

(749, 2)

In [311]:
df_出院时间.to_excel(project_path+'/data/processed_data/df_1.6.2_提取出院时间.xlsx')

### 合并住院时间

In [312]:
df_住院时间 = pd.merge(df_入院时间,df_出院时间,on='受试者编号',how='left')

In [313]:
df_住院时间.shape

(750, 3)

In [314]:
df_住院时间.columns

Index(['受试者编号', '住院日期', '完成日期'], dtype='object')

In [315]:
df_住院时间.to_excel(project_path+'/data/processed_data/df_1.6.3_合并住院时间.xlsx')

### 并入用药-计算住院时长

In [316]:
# 并入住院时间
df_SUP_inp=pd.merge(df_SUP_disease_select,df_住院时间,on='受试者编号',how='left')

In [317]:
df_SUP_inp.shape

(573, 18)

In [318]:
df_SUP_inp.columns

Index(['受试者编号', '出院诊断', '主要疾病转归_描述', '用药开始时间', '用药结束时间', '用药天数', 'EXDOSFRQ',
       'EXDSTXT', '日剂量', '心血管疾病_label', '呼吸系统疾病_label', '神经系统疾病_label',
       '泌尿系统疾病_label', '内分泌和代谢疾病_label', '消化系统疾病_label', '危重症疾病_label', '住院日期',
       '完成日期'],
      dtype='object')

In [319]:
# 补充住院时间
aaa=df_SUP_inp[df_SUP_inp['住院日期'].isnull()]
bbb=df_SUP_inp[df_SUP_inp['住院日期'].notnull()]
aaa['住院日期']=aaa['用药开始时间']
df_SUP_inp=pd.concat([aaa,bbb],axis=0)
df_SUP_inp=df_SUP_inp.sort_values(by=['受试者编号','用药开始时间'])
df_SUP_inp=df_SUP_inp.reset_index(drop=True)

In [320]:
df_SUP_inp.isnull().any()

受试者编号             False
出院诊断              False
主要疾病转归_描述         False
用药开始时间            False
用药结束时间            False
用药天数              False
EXDOSFRQ          False
EXDSTXT           False
日剂量               False
心血管疾病_label       False
呼吸系统疾病_label      False
神经系统疾病_label      False
泌尿系统疾病_label      False
内分泌和代谢疾病_label    False
消化系统疾病_label      False
危重症疾病_label       False
住院日期              False
完成日期               True
dtype: bool

In [321]:
df_SUP_inp.to_excel(project_path+'/data/processed_data/df_1.6.4_temp_补充入院时间.xlsx')

In [322]:
df_SUP_inp.columns

Index(['受试者编号', '出院诊断', '主要疾病转归_描述', '用药开始时间', '用药结束时间', '用药天数', 'EXDOSFRQ',
       'EXDSTXT', '日剂量', '心血管疾病_label', '呼吸系统疾病_label', '神经系统疾病_label',
       '泌尿系统疾病_label', '内分泌和代谢疾病_label', '消化系统疾病_label', '危重症疾病_label', '住院日期',
       '完成日期'],
      dtype='object')

In [323]:
# 补充出院时间
aaa=df_SUP_inp[df_SUP_inp['完成日期'].isnull()]
bbb=df_SUP_inp[df_SUP_inp['完成日期'].notnull()]
aaa['完成日期']=aaa['用药结束时间']
df_SUP_inp=pd.concat([aaa,bbb],axis=0)
df_SUP_inp=df_SUP_inp.sort_values(by=['受试者编号','用药开始时间'])
df_SUP_inp=df_SUP_inp.reset_index(drop=True)

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [324]:
df_SUP_inp.isnull().any()

受试者编号             False
出院诊断              False
主要疾病转归_描述         False
用药开始时间            False
用药结束时间            False
用药天数              False
EXDOSFRQ          False
EXDSTXT           False
日剂量               False
心血管疾病_label       False
呼吸系统疾病_label      False
神经系统疾病_label      False
泌尿系统疾病_label      False
内分泌和代谢疾病_label    False
消化系统疾病_label      False
危重症疾病_label       False
住院日期              False
完成日期              False
dtype: bool

In [325]:
df_SUP_inp.to_excel(project_path+'/data/processed_data/df_1.6.4_temp_补充出院时间.xlsx')

In [326]:
df_SUP_inp['住院时长']=(pd.to_datetime(df_SUP_inp['完成日期']) - pd.to_datetime(df_SUP_inp['住院日期']))
df_SUP_inp['住院时长']=df_SUP_inp['住院时长'].apply(lambda x:x.days+1)

In [327]:
df_SUP_inp.shape

(573, 19)

In [328]:
df_SUP_inp.to_excel(project_path+'/data/processed_data/df_1.6.4_计算住院时长.xlsx')

### 出院前3天内用药筛选

In [329]:
# 统计出院前1天的用药
df_SUP_oup_1d=df_SUP_inp[(pd.to_datetime(df_SUP_inp['用药结束时间'])>=pd.to_datetime(df_SUP_inp['完成日期'])-datetime.timedelta(days=1))&
    (pd.to_datetime(df_SUP_inp['用药开始时间'])<=pd.to_datetime(df_SUP_inp['完成日期'])-datetime.timedelta(days=1))]

In [330]:
df_SUP_oup_1d.shape

(324, 19)

In [331]:
# 统计出院前2天的用药
df_SUP_oup_2d=df_SUP_inp[(pd.to_datetime(df_SUP_inp['用药结束时间'])>=pd.to_datetime(df_SUP_inp['完成日期'])-datetime.timedelta(days=1))&
    (pd.to_datetime(df_SUP_inp['用药开始时间'])<=pd.to_datetime(df_SUP_inp['完成日期'])-datetime.timedelta(days=2))]

In [332]:
df_SUP_oup_2d.shape

(308, 19)

In [333]:
# 统计出院前3天的用药
df_SUP_oup_3d=df_SUP_inp[(pd.to_datetime(df_SUP_inp['用药结束时间'])>=pd.to_datetime(df_SUP_inp['完成日期'])-datetime.timedelta(days=1))&
    (pd.to_datetime(df_SUP_inp['用药开始时间'])<=pd.to_datetime(df_SUP_inp['完成日期'])-datetime.timedelta(days=3))]

In [334]:
df_SUP_oup_3d.shape

(298, 19)

In [335]:
df_SUP_oup_3d.to_excel(project_path+'/data/processed_data/df_1.6.5_出院前3d_用药.xlsx')

In [336]:
# 统计出院前4天的用药
df_SUP_oup_4d=df_SUP_inp[(pd.to_datetime(df_SUP_inp['用药结束时间'])>=pd.to_datetime(df_SUP_inp['完成日期'])-datetime.timedelta(days=1))&
    (pd.to_datetime(df_SUP_inp['用药开始时间'])<=pd.to_datetime(df_SUP_inp['完成日期'])-datetime.timedelta(days=4))]

In [337]:
df_SUP_oup_4d.shape

(279, 19)

## 提取人口学特征

In [338]:
df_gender_age_1=pd.read_excel(project_path + '/data/raw_data/导出全部CRF表数据-其他科1021.xlsx',sheet_name='DM_人口学资料',header=1)

df_gender_age_2=pd.read_excel(project_path + '/data/raw_data/导出全部CRF表数据-心内科1021.xlsx',sheet_name='DM_人口学资料',header=1)

df_gender_age_1['受试者编号']=df_gender_age_1['受试者编号'].astype('str')+'_'+'a'
df_gender_age_2['受试者编号']=df_gender_age_2['受试者编号'].astype('str')+'_'+'b'
df_gender_age=pd.concat([df_gender_age_1,df_gender_age_2],axis=0)
df_gender_age=df_gender_age.reset_index(drop=True)

In [339]:
print(df_gender_age_1.shape)
print(df_gender_age_2.shape)

(642, 22)
(104, 22)

In [340]:
df_gender_age=df_gender_age[df_gender_age['受试者编号'].notnull()]
df_gender_age=df_gender_age.reset_index(drop=True)

In [341]:
df_gender_age.shape

(746, 22)

In [342]:
df_gender_age.head()

,方案号,中心标识,中心名称,受试者编号,访视,出生日期,年龄,年龄单位,年龄标准值,年龄标准单位,...,身高,身高单位,身高标准值,身高标准单位,体重,体重单位,体重标准值,体重标准单位,原始录入日期,最后修改日期
0,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90001_a,入组访视,1957-02-06,61.0,岁,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018/4/20 15:02:45,2019/8/7 22:51:40
1,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90003_a,入组访视,1964-11-23,53.0,岁,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018/9/16 15:40:43,2019/8/8 16:42:23
2,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90004_a,入组访视,1948-01-01,70.0,岁,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018/10/31 10:59:48,2019/8/7 22:50:39
3,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90005_a,入组访视,1948-01-01,70.0,岁,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018/10/31 12:11:00,2019/8/8 16:43:36
4,SMZSY-V1.0,9,上海交通大学医学院附属新华医院,90006_a,入组访视,1939-01-01,79.0,岁,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018/10/31 13:02:01,2019/8/8 18:00:16

In [343]:
df_gender_age=df_gender_age[['受试者编号','年龄','性别_描述']].rename(columns={'性别_描述':'性别'})
df_gender_age['性别']=df_gender_age['性别'].apply(lambda x: 1 if re.match('男',str(x)) else 0)

In [344]:
df_popu=df_gender_age

In [345]:
df_popu.shape

(746, 3)

In [346]:
df_popu.head()

     受试者编号    年龄  性别
0  90001_a  61.0   0
1  90003_a  53.0   1
2  90004_a  70.0   1
3  90005_a  70.0   1
4  90006_a  79.0   0

In [347]:
df_popu.to_excel(project_path+'/data/processed_data/df_1.7_popu.xlsx')

In [348]:
df_SUP_popu=pd.merge(df_SUP_oup_3d,df_popu,on='受试者编号',how='left')

In [349]:
df_SUP_popu.shape

(298, 21)

In [350]:
df_SUP_popu.to_excel(project_path+'/data/processed_data/df_1.7_df_SUP_popu.xlsx')

## 提取基础疾病

In [351]:
'''
提取个人史(吸烟；饮酒)、既往史(高血压、糖尿病)、家族史、过敏史。
如果个人史既往史不平衡，可以合并成一列：基础疾病。
如果疾病疾病不平衡，则可以删除
'''

'\n提取个人史(吸烟；饮酒)、既往史(高血压、糖尿病)、家族史、过敏史。\n如果个人史既往史不平衡，可以合并成一列：基础疾病。\n如果疾病疾病不平衡，则可以删除\n'

### 个人史既往史

In [352]:
# 其他科 既往史
df_past_history_1 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-其他科1021.xlsx',
                            sheet_name='MH_既往史',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第1行
df_past_history_1['受试者编号']=df_past_history_1['受试者编号'].apply(lambda x: str(x)+'_a')
df_past_history_1=df_past_history_1[['受试者编号','既往史']]
# 心内科既往史
df_past_history_2 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-心内科1021.xlsx',
                            sheet_name='MH_既往史',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第几行)
df_past_history_2['受试者编号']=df_past_history_2['受试者编号'].apply(lambda x: str(x)+'_b')
df_past_history_2=df_past_history_2[['受试者编号','既往史']]

# 合并其他科和心内科--既往史
df_past_history=pd.concat([df_past_history_1,df_past_history_2],axis=0).reset_index(drop=True)

In [353]:
print(df_past_history_1.shape)
print(df_past_history_2.shape)

(640, 2)
(104, 2)

In [354]:
df_past_history

       受试者编号                                                既往史
0    90001_a  脑梗危险因素：有高血压病，有糖尿病，无高脂血症，无房颤，无脑供血动脉狭窄，无吸烟，无酗酒，无...
1    90003_a  传染病史:35年患有“乙型脑炎”,病后至今患者反应较迟钝。否认肝炎、结核、伤寒等传染病史。\...
2    90004_a  传染病史:否认结核伤寒等传染病史。\n药物及其他过敏史:否认药物食物过敏史。\n预防接种史:...
3    90005_a  传染病史:否认肝炎、结核、伤寒等传染病史。\n药物及其他过敏史:否认药物、食物过敏史。\n预...
4    90006_a     脑梗危险因素:有高血压病等危险因素,无糖尿病,高脂血症,房颤,脑供血动脉狭窄,吸烟,酗...
..       ...                                                ...
739  90100_b  传染病史:否认肝炎、结核、伤寒等传染病史。\n药物及其他过敏史:否认青霉素、磺胺类药物、链霉...
740  90101_b  传染病史:否认结核伤寒等传染病史。\n药物及其他过敏史:否认药物、食物过敏史。\n预防接种史...
741  90102_b  传染病史:否认肝炎、结核、伤寒等传染病史。\n药物及其他过敏史:否认药物、食物过敏史。\n预...
742  90104_b  传染病史:否认肝炎、结核、伤寒等传染病史。三周发现右肩部带状疱疹,目前已痊愈。\n药物及其他...
743  90105_b  传染病史:否认结核伤寒等传染病史。\n药物及其他过敏史:否认药物食物过敏史。\n预防接种史:...

[744 rows x 2 columns]

In [355]:
# 个人史包括吸烟史、饮酒史
# 既往史包括高血压、糖尿病、青霉素过敏史、肝炎、结核史、手术外伤史、输血史、预防接种史
df_past_history[['吸烟史','饮酒史','高血压','糖尿病','肝炎']]=np.nan
for i in range(df_past_history.shape[0]):
#     if i == 2:
#         break
    record_content=df_past_history.loc[i,'既往史']
    if pd.isnull(record_content):
        continue
    record_list=re.split('，|,|。',record_content)
    # 匹配个人史
    for j in record_list:
        # 匹配吸烟史
        if re.match('[^无否戒没]*烟',j):
            df_past_history.loc[i,'吸烟史']=1
        else:
            df_past_history.loc[i,'吸烟史']= max(0,df_past_history.loc[i,'吸烟史'])
        # 匹配饮酒史
        if re.match('[^无否戒没]*酒[^精]*',j):
            df_past_history.loc[i,'饮酒史']=1
#         elif pd.isnull(df_past_history.loc[i,'饮酒史']):
#             df_past_history.loc[i,'饮酒史']=0
        else:
            df_past_history.loc[i,'饮酒史']=max(0,df_past_history.loc[i,'饮酒史'])
    # 匹配既往史
        # 匹配高血压
        if re.match('[^无否没]*高血压[^不详]*',j):
            df_past_history.loc[i,'高血压']=1
        else:
            df_past_history.loc[i,'高血压']=max(0,df_past_history.loc[i,'高血压'])
        # 匹配糖尿病
        if re.match('[^无否没]*糖尿病',j):
            df_past_history.loc[i,'糖尿病']=1
        else:
            df_past_history.loc[i,'糖尿病']=max(0,df_past_history.loc[i,'糖尿病'])
        # 匹配肝炎
        if re.match('[^无否没]*肝炎',j):
            df_past_history.loc[i,'肝炎']=1
        else:
            df_past_history.loc[i,'肝炎']=max(0,df_past_history.loc[i,'肝炎'])
    # 增加基础疾病变量
    if df_past_history.loc[i,['吸烟史','饮酒史','高血压','糖尿病','肝炎']].sum() >=1:
        df_past_history.loc[i,'基础疾病']=1
    else:
        df_past_history.loc[i,'基础疾病']=0

In [356]:
df_past_history=df_past_history[['受试者编号','基础疾病']]
# 增加基础疾病变量

In [357]:
df_past_history.head()

     受试者编号  基础疾病
0  90001_a   1.0
1  90003_a   0.0
2  90004_a   0.0
3  90005_a   0.0
4  90006_a   1.0

In [358]:
df_past_history.to_excel(project_path+'/data/processed_data/基础疾病/df_1.8.1_个人史既往史.xlsx')

### 家族史

In [359]:
# 其他科 家族史
df_family_history_1 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-其他科1021.xlsx',
                            sheet_name='FH_家族史',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第1行
df_family_history_1['受试者编号']=df_family_history_1['受试者编号'].apply(lambda x: str(x)+'_a')
df_family_history_1=df_family_history_1[['受试者编号','受试者是否有家族史？_描述']]
# 心内科 家族史
df_family_history_2 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-心内科1021.xlsx',
                            sheet_name='FH_家族史',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第几行)
df_family_history_2['受试者编号']=df_family_history_2['受试者编号'].apply(lambda x: str(x)+'_b')
df_family_history_2=df_family_history_2[['受试者编号','受试者是否有家族史？_描述']]

# 合并其他科和心内科--既往史
df_family_history=pd.concat([df_family_history_1,df_family_history_2],axis=0).reset_index(drop=True)
df_family_history.rename(columns={'受试者是否有家族史？_描述':'family_history'},inplace=True)

In [360]:
df_family_history.head()

     受试者编号 family_history
0  90001_a              无
1  90003_a              无
2  90004_a              无
3  90005_a              无
4  90006_a              无

In [361]:
df_family_history['family_history']=df_family_history.family_history.apply(lambda x: np.nan if pd.isnull(x) else
                                                                0 if re.match('无',x) else
                                                                1 if re.match('有',x) else x)

In [362]:
df_family_history.head()

     受试者编号  family_history
0  90001_a               0
1  90003_a               0
2  90004_a               0
3  90005_a               0
4  90006_a               0

In [363]:
df_family_history.to_excel(project_path+'/data/processed_data/基础疾病/df_1.8.2_family_history.xlsx')

### 过敏史

In [364]:
# 其他科 过敏史
df_allergy_history_1 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-其他科1021.xlsx',
                            sheet_name='AH_过敏史',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第1行
df_allergy_history_1['受试者编号']=df_allergy_history_1['受试者编号'].apply(lambda x: str(x)+'_a')
df_allergy_history_1=df_allergy_history_1[['受试者编号','药物过敏_描述']]
# 心内科 过敏史
df_allergy_history_2 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-心内科1021.xlsx',
                            sheet_name='AH_过敏史',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第几行)
df_allergy_history_2['受试者编号']=df_allergy_history_2['受试者编号'].apply(lambda x: str(x)+'_b')
df_allergy_history_2=df_allergy_history_2[['受试者编号','药物过敏_描述']]

# 合并其他科和心内科--既往史
df_allergy_history=pd.concat([df_allergy_history_1,df_allergy_history_2],axis=0)
df_allergy_history.rename(columns={'药物过敏_描述':'allergy_history'},inplace=True)

In [365]:
df_allergy_history['allergy_history']=df_allergy_history.allergy_history.apply(lambda x: np.nan if pd.isnull(x) else
                                                                0 if re.match('无',x) else
                                                                1 if re.match('有',x) else x)

In [366]:
df_allergy_history.head()

     受试者编号  allergy_history
0  90001_a              1.0
1  90003_a              0.0
2  90004_a              0.0
3  90005_a              0.0
4  90006_a              0.0

In [367]:
df_allergy_history.to_excel(project_path+'/data/processed_data/基础疾病/df_1.8.3_allergy_history.xlsx')

### 合并既往史、家族史、过敏史

In [368]:
df_history=pd.merge(df_past_history,df_family_history,on='受试者编号',how='outer')
df_history=pd.merge(df_history,df_allergy_history,on='受试者编号',how='outer')

In [369]:
df_history

       受试者编号  基础疾病  family_history  allergy_history
0    90001_a   1.0               0              1.0
1    90003_a   0.0               0              0.0
2    90004_a   0.0               0              0.0
3    90005_a   0.0               0              0.0
4    90006_a   1.0               0              0.0
..       ...   ...             ...              ...
739  90100_b   0.0               0              0.0
740  90101_b   0.0               0              0.0
741  90102_b   0.0               0              0.0
742  90104_b   0.0               0              0.0
743  90105_b   0.0               0              0.0

[744 rows x 4 columns]

### 并入个人病史

In [370]:
df_SUP_history=pd.merge(df_SUP_popu,df_history,on='受试者编号',how='left')

In [371]:
df_SUP_history.shape

(298, 24)

In [372]:
df_SUP_history.columns

Index(['受试者编号', '出院诊断', '主要疾病转归_描述', '用药开始时间', '用药结束时间', '用药天数', 'EXDOSFRQ',
       'EXDSTXT', '日剂量', '心血管疾病_label', '呼吸系统疾病_label', '神经系统疾病_label',
       '泌尿系统疾病_label', '内分泌和代谢疾病_label', '消化系统疾病_label', '危重症疾病_label', '住院日期',
       '完成日期', '住院时长', '年龄', '性别', '基础疾病', 'family_history',
       'allergy_history'],
      dtype='object')

In [373]:
df_SUP_history.to_excel(project_path+'/data/processed_data/df_1.8.5_并入个人病史.xlsx')

## 提取联合用药

### 提取联合用药

In [374]:
# 其他科
df_drug_other_1 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-其他科1021.xlsx',
                            sheet_name='CM_合并用药',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第1行

# 标记受试者编号
df_drug_other_1['受试者编号']=df_drug_other_1['受试者编号'].apply(lambda x: str(x)+'_a')

# 提取有效字段
df_drug_other_1=df_drug_other_1[['受试者编号','药物名称（通用名）','用药开始日期','用药结束日期']]

In [375]:
df_drug_other_1

        受试者编号       药物名称（通用名）      用药开始日期      用药结束日期
0     90001_a          乳果糖口服液  2018-04-08  2018-04-15
1     90001_a         依达拉奉注射液  2018-04-09  2018-04-15
2     90001_a  精蛋白生物合成人胰岛素30R  2018-04-11  2018-04-15
3     90001_a           二甲双胍片  2018-04-14  2018-04-15
4     90001_a          醒脑静注射液  2018-04-14  2018-04-15
...       ...             ...         ...         ...
1687  90645_a           曲美他嗪片  2019-08-08  2019-08-17
1688  90645_a         银杏内脂注射液  2019-08-08  2019-08-17
1689  90646_a            巴氯芬片  2019-08-20  2019-08-22
1690  90646_a         泮托拉唑肠溶片  2019-08-20  2019-08-22
1691  90646_a         银杏内脂注射液  2019-08-17  2019-08-24

[1692 rows x 4 columns]

In [376]:
# 心内科
df_drug_other_2 = pd.read_excel(project_path+'/data/raw_data//导出全部CRF表数据-心内科1021.xlsx',
                            sheet_name='CM_合并用药',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第1行

# 标记受试者编号
df_drug_other_2['受试者编号']=df_drug_other_2['受试者编号'].apply(lambda x: str(x)+'_b')
# 提取有效字段
df_drug_other_2=df_drug_other_2[['受试者编号','药物名称（通用名）','用药开始日期','用药结束日期']]

In [377]:
print(df_drug_other_1.shape)
print(df_drug_other_2.shape)

(1692, 4)
(311, 4)

In [378]:
# 合并其他科和心内科联合用药
df_drug_other=pd.concat([df_drug_other_1,df_drug_other_2])

In [379]:
df_drug_other['药物名称（通用名）'].nunique()

341

In [380]:
df_drug_other.to_excel(project_path+'/data/processed_data/df_1.9.1_联合用药.xlsx')

### 筛选出院前3天的联合用药

In [381]:
# 提取出院前3天的联合用药
temp_list=[]
for i in df_SUP_history.受试者编号.unique():
    temp=df_SUP_history[df_SUP_history['受试者编号']==i]
    temp=temp.reset_index(drop=True)
    temp_other=df_drug_other[df_drug_other['受试者编号']==i]
    temp_other=temp_other.reset_index(drop=True)
    
    temp_other_choose=temp_other[(pd.to_datetime(temp_other['用药结束日期'])>=pd.to_datetime(temp.loc[0,'完成日期'])-datetime.timedelta(days=1))&
                                 (pd.to_datetime(temp_other['用药开始日期'])<=pd.to_datetime(temp.loc[0,'完成日期'])-datetime.timedelta(days=3))]

    temp_list.append(temp_other_choose)

In [382]:
df_drug_other_choose=pd.concat(temp_list,axis=0).reset_index(drop=True)
del temp_list

In [383]:
df_drug_other_choose=df_drug_other_choose.rename(columns={'药物名称（通用名）':'drug_name'})

In [384]:
df_drug_other_choose.head()

     受试者编号       drug_name      用药开始日期      用药结束日期
0  90001_a          乳果糖口服液  2018-04-08  2018-04-15
1  90001_a         依达拉奉注射液  2018-04-09  2018-04-15
2  90001_a  精蛋白生物合成人胰岛素30R  2018-04-11  2018-04-15
3  90003_a            J叶酸片  2018-03-12  2018-03-17
4  90003_a        0.9%氯化钠针  2018-03-12  2018-03-17

In [385]:
df_drug_other_choose.to_excel(project_path+'/data/processed_data/df_1.9.2_出院前3天内的联合用药.xlsx')

### 统计联合用药

In [386]:
drug_name_counts=df_drug_other_choose['drug_name'].value_counts()
df_drug_other_name=pd.DataFrame(data={'药物名称':drug_name_counts.index,
                                     '频次':drug_name_counts.values})
# 保存联合用药名
df_drug_other_name.to_excel(project_path+'/data/processed_data/df_1.9.3_统计联合用药名.xlsx')

### 选取重要联合用药

In [387]:
'''
阿司匹林肠溶片、阿司匹灵肠溶片、阿司匹林溶肠片
阿托伐他汀钙片、阿伐他汀钙片
瑞舒伐他汀钙片、瑞舒伐他汀钙片 、瑞姝伐他汀钙片、 瑞舒伐他汀钙片
银杏内酯注射液、银杏内脂注射液
'''

'\n阿司匹林肠溶片、阿司匹灵肠溶片、阿司匹林溶肠片\n阿托伐他汀钙片、阿伐他汀钙片\n瑞舒伐他汀钙片、瑞舒伐他汀钙片 、瑞姝伐他汀钙片、 瑞舒伐他汀钙片\n'

In [388]:
df_drug_ASA=df_drug_other_choose[df_drug_other_choose.drug_name.str.contains('阿司匹')]
df_drug_AC=df_drug_other_choose[df_drug_other_choose.drug_name.str.contains('阿托伐他汀|阿伐他汀')]
df_drug_crestor=df_drug_other_choose[df_drug_other_choose.drug_name.str.contains('瑞舒伐他汀|瑞姝伐他汀')]
df_drug_GGI=df_drug_other_choose[df_drug_other_choose.drug_name.str.contains('瑞舒伐他汀|瑞姝伐他汀')]

In [389]:
df_drug_ASA.drug_name.unique()

array(['阿司匹灵肠溶片', '阿司匹林肠溶片', '阿司匹林溶肠片'], dtype=object)

In [390]:
df_drug_AC.drug_name.unique()

array(['阿托伐他汀钙片', '阿伐他汀钙片'], dtype=object)

In [391]:
df_drug_crestor.drug_name.unique()

array(['瑞姝伐他汀钙片', '瑞舒伐他汀钙片', ' 瑞舒伐他汀钙片', '瑞舒伐他汀钙片 '], dtype=object)

In [392]:
df_drug_ASA.to_excel(project_path+'/data/processed_data/联合用药/df_1.9.4_阿司匹林.xlsx')
df_drug_AC.to_excel(project_path+'/data/processed_data/联合用药/df_1.9.4_阿托伐他汀.xlsx')
df_drug_crestor.to_excel(project_path+'/data/processed_data/联合用药/df_1.9.4_瑞舒伐他汀.xlsx')

### 合并联合用药

In [393]:
df_SUP_drug_other=df_SUP_history.copy()

In [394]:
df_SUP_drug_other.columns

Index(['受试者编号', '出院诊断', '主要疾病转归_描述', '用药开始时间', '用药结束时间', '用药天数', 'EXDOSFRQ',
       'EXDSTXT', '日剂量', '心血管疾病_label', '呼吸系统疾病_label', '神经系统疾病_label',
       '泌尿系统疾病_label', '内分泌和代谢疾病_label', '消化系统疾病_label', '危重症疾病_label', '住院日期',
       '完成日期', '住院时长', '年龄', '性别', '基础疾病', 'family_history',
       'allergy_history'],
      dtype='object')

In [395]:
df_drug_ASA.columns

Index(['受试者编号', 'drug_name', '用药开始日期', '用药结束日期'], dtype='object')

In [396]:
# 并入联合用药阿司匹林、阿托伐他汀、瑞舒伐他汀
df_SUP_drug_other['drug_ASA']=df_SUP_drug_other.受试者编号.apply(lambda x: 1 if x in df_drug_ASA.受试者编号.unique() else 0)
df_SUP_drug_other['drug_AC']=df_SUP_drug_other.受试者编号.apply(lambda x: 1 if x in df_drug_AC.受试者编号.unique() else 0)
df_SUP_drug_other['drug_crestor']=df_SUP_drug_other.受试者编号.apply(lambda x: 1 if x in df_drug_crestor.受试者编号.unique() else 0)

In [397]:
df_SUP_drug_other.shape

(298, 27)

In [398]:
df_SUP_drug_other.to_excel(project_path+'/data/processed_data/df_1.9.5_合并联合用药.xlsx')

## 提取检测信息

In [399]:
df_SUP_test=df_SUP_drug_other.copy()

### 血常规

In [400]:
# 其他科-入院血常规
df_血常规_1 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-其他科1021.xlsx',
                            sheet_name='LBR_血常规',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第1行
# 心内科-入院血常规
df_血常规_2 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-心内科1021.xlsx',
                            sheet_name='LBR_血常规',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第几行)

In [401]:
# 标记受试者编号
df_血常规_1['受试者编号']=df_血常规_1['受试者编号'].apply(lambda x: str(x)+'_a')
# 标记受试者编号
df_血常规_2['受试者编号']=df_血常规_2['受试者编号'].apply(lambda x: str(x)+'_b')

In [402]:
df_血常规_1.columns

Index(['方案号', '中心标识', '中心名称', '受试者编号', '访视', '检查日期', '红细胞', '红细胞-临床意义',
       '红细胞-临床意义_描述', '红细胞-异常请描述', '血红蛋白', '血红蛋白-临床意义', '血红蛋白-临床意义_描述',
       '血红蛋白-异常请描述', '白细胞', '白细胞-临床意义', '白细胞-临床意义_描述', '白细胞-异常请描述', '中性粒细胞计数',
       '中性粒细胞计数-临床意义', '中性粒细胞计数-临床意义_描述', '中性粒细胞计数-异常请描述', '血小板', '血小板-临床意义',
       '血小板-临床意义_描述', '血小板-异常请描述', '红细胞压积', '红细胞压积-临床意义', '红细胞压积-临床意义_描述',
       '红细胞压积-异常请描述', '原始录入日期', '最后修改日期'],
      dtype='object')

In [403]:
df_血常规_2.columns

Index(['方案号', '中心标识', '中心名称', '受试者编号', '访视', '检查日期', '红细胞', '红细胞-临床意义',
       '红细胞-临床意义_描述', '红细胞-异常请描述', '血红蛋白', '血红蛋白-临床意义', '血红蛋白-临床意义_描述',
       '血红蛋白-异常请描述', '白细胞', '白细胞-临床意义', '白细胞-临床意义_描述', '白细胞-异常请描述', '中性粒细胞计数',
       '中性粒细胞计数-临床意义', '中性粒细胞计数-临床意义_描述', '中性粒细胞计数-异常请描述', '血小板', '血小板-临床意义',
       '血小板-临床意义_描述', '血小板-异常请描述', '红细胞压积', '红细胞压积-临床意义', '红细胞压积-临床意义_描述',
       '红细胞压积-异常请描述', '原始录入日期', '最后修改日期'],
      dtype='object')

In [404]:
# 提取有效字段
df_血常规_1=df_血常规_1[['访视','受试者编号','检查日期','红细胞','血红蛋白','白细胞','中性粒细胞计数','血小板','红细胞压积']]
# 提取有效字段
df_血常规_2=df_血常规_2[['访视','受试者编号','检查日期','红细胞','血红蛋白','白细胞','中性粒细胞计数','血小板','红细胞压积']]

In [405]:
df_血常规_1.shape

(1176, 9)

In [406]:
df_血常规_1.head()

      访视    受试者编号        检查日期   红细胞   血红蛋白   白细胞  中性粒细胞计数    血小板  红细胞压积
0   入院检查  90001_a  2018-03-31  4.38  127.0  10.6     75.4  315.0   37.2
1  出院前检查  90001_a  2018-04-10  3.85  111.0  15.0     75.0  337.0   32.5
2   入院检查  90003_a  2018-01-31  4.70  133.0   1.8     87.5  136.0   38.7
3  出院前检查  90003_a         NaN   NaN    NaN   NaN      NaN    NaN    NaN
4   入院检查  90004_a  2018-01-26  2.99   97.0   6.2     59.9  226.0   29.0

#### 入院检查

In [407]:
# 其他科--入院血常规检测
df_血常规_1_inp=df_血常规_1[df_血常规_1['访视'].str.contains('入院检查')]
df_血常规_1_inp=df_血常规_1_inp.reset_index(drop=True)
# 心内科--入院血常规检测
df_血常规_2_inp=df_血常规_2[df_血常规_2['访视'].str.contains('入院检查')]
df_血常规_2_inp=df_血常规_2_inp.reset_index(drop=True)
# 合并入院血常规检查
df_血常规_inp = pd.concat([df_血常规_1_inp,df_血常规_2_inp],axis=0)

In [408]:
df_血常规_inp.shape

(745, 9)

In [409]:
df_血常规_inp.head()

     访视    受试者编号        检查日期   红细胞   血红蛋白    白细胞  中性粒细胞计数    血小板  红细胞压积
0  入院检查  90001_a  2018-03-31  4.38  127.0  10.60     75.4  315.0   37.2
1  入院检查  90003_a  2018-01-31  4.70  133.0   1.80     87.5  136.0   38.7
2  入院检查  90004_a  2018-01-26  2.99   97.0   6.20     59.9  226.0   29.0
3  入院检查  90005_a  2018-02-08  3.26  104.0  14.21     80.5  243.0   30.5
4  入院检查  90006_a  2018-02-12  4.36  125.0   8.00     58.5  260.0   37.7

In [410]:
df_血常规_inp.to_excel(project_path+'/data/processed_data/检测数据/df_血常规_入院检查.xlsx')

#### 出院检查

In [411]:
# 其他科--出院血常规检测
df_血常规_1_oup=df_血常规_1[df_血常规_1['访视'].str.contains('出院前检查')]
df_血常规_1_oup=df_血常规_1_oup.reset_index(drop=True)
# 心内科--出院血常规检测
df_血常规_2_oup=df_血常规_2[df_血常规_2['访视'].str.contains('出院前检查')]
df_血常规_2_oup=df_血常规_2_oup.reset_index(drop=True)
# 合并出院院血常规检查
df_血常规_oup = pd.concat([df_血常规_1_oup,df_血常规_2_oup],axis=0)

In [412]:
df_血常规_oup.shape

(630, 9)

In [413]:
df_血常规_oup.head()

      访视    受试者编号        检查日期   红细胞   血红蛋白   白细胞  中性粒细胞计数    血小板  红细胞压积
0  出院前检查  90001_a  2018-04-10  3.85  111.0  15.0     75.0  337.0   32.5
1  出院前检查  90003_a         NaN   NaN    NaN   NaN      NaN    NaN    NaN
2  出院前检查  90004_a         NaN   NaN    NaN   NaN      NaN    NaN    NaN
3  出院前检查  90005_a  2018-02-13  3.11  103.0  13.3     67.7  194.0   29.1
4  出院前检查  90006_a  2018-02-19  4.10  120.0   9.6     73.1  256.0   35.2

In [414]:
df_血常规_oup.to_excel(project_path+'/data/processed_data/检测数据/df_血常规_出院检查.xlsx')

#### 修改列名

In [415]:
df_血常规_inp=df_血常规_inp.drop(['访视'],axis=1)
df_血常规_oup=df_血常规_oup.drop(['访视'],axis=1)

In [416]:
for i in df_血常规_inp.columns[1:]:
    df_血常规_inp.rename(columns={i:i + '_入院'},inplace=True)
for i in df_血常规_oup.columns[1:]:
    df_血常规_oup.rename(columns={i:i+'_出院'},inplace=True)

In [417]:
df_test_血常规=pd.merge(df_血常规_inp,df_血常规_oup,on='受试者编号',how='outer')

In [418]:
df_test_血常规.head()

,受试者编号,检查日期_入院,红细胞_入院,血红蛋白_入院,白细胞_入院,中性粒细胞计数_入院,血小板_入院,红细胞压积_入院,检查日期_出院,红细胞_出院,血红蛋白_出院,白细胞_出院,中性粒细胞计数_出院,血小板_出院,红细胞压积_出院
0,90001_a,2018-03-31,4.38,127.0,10.60,75.4,315.0,37.2,2018-04-10,3.85,111.0,15.0,75.0,337.0,32.5
1,90003_a,2018-01-31,4.70,133.0,1.80,87.5,136.0,38.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,90004_a,2018-01-26,2.99,97.0,6.20,59.9,226.0,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90005_a,2018-02-08,3.26,104.0,14.21,80.5,243.0,30.5,2018-02-13,3.11,103.0,13.3,67.7,194.0,29.1
4,90006_a,2018-02-12,4.36,125.0,8.00,58.5,260.0,37.7,2018-02-19,4.10,120.0,9.6,73.1,256.0,35.2

In [419]:
df_test_血常规.to_excel(project_path+'/data/processed_data/df_1.10.1.3_检查_血常规.xlsx')

#### 统计血常规-住院天数

In [420]:
# df_test_血常规=df_test_血常规[['受试者编号','检查日期_入院']]
# df_inp_oup_time=df_SUP_history[['受试者编号','住院日期', '完成日期']]

# # 合并检测时间和住院时间
# df_血常规_time=pd.merge(df_血常规_入院_time,df_血常规_出院_time,on='受试者编号',how='right')
# df_血常规_inp_oup = pd.merge(df_血常规_time,df_inp_oup_time,on='受试者编号',how='inner')

# df_血常规_inp_oup['血常规-入院']=pd.to_datetime(df_血常规_inp_oup['住院日期'])-pd.to_datetime(df_血常规_inp_oup['检查日期_入院'])
# df_血常规_inp_oup['血常规-入院']=df_血常规_inp_oup['血常规-入院'].apply(lambda x:x.days+1)

# df_血常规_inp_oup['血常规-出院']=pd.to_datetime(df_血常规_inp_oup['完成日期'])-pd.to_datetime(df_血常规_inp_oup['检查日期_出院'])
# df_血常规_inp_oup['血常规-出院']=df_血常规_inp_oup['血常规-出院'].apply(lambda x:x.days+1)

# df_血常规_inp_oup.to_excel(project_path+'/data/processed_data/df_1.9.1.4_血常规-出入院时间统计.xlsx')

#### 并入血常规检查

In [421]:
df_test_血常规.head()

,受试者编号,检查日期_入院,红细胞_入院,血红蛋白_入院,白细胞_入院,中性粒细胞计数_入院,血小板_入院,红细胞压积_入院,检查日期_出院,红细胞_出院,血红蛋白_出院,白细胞_出院,中性粒细胞计数_出院,血小板_出院,红细胞压积_出院
0,90001_a,2018-03-31,4.38,127.0,10.60,75.4,315.0,37.2,2018-04-10,3.85,111.0,15.0,75.0,337.0,32.5
1,90003_a,2018-01-31,4.70,133.0,1.80,87.5,136.0,38.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,90004_a,2018-01-26,2.99,97.0,6.20,59.9,226.0,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90005_a,2018-02-08,3.26,104.0,14.21,80.5,243.0,30.5,2018-02-13,3.11,103.0,13.3,67.7,194.0,29.1
4,90006_a,2018-02-12,4.36,125.0,8.00,58.5,260.0,37.7,2018-02-19,4.10,120.0,9.6,73.1,256.0,35.2

In [422]:
# 删除检查日期
df_test_血常规=df_test_血常规.drop(['检查日期_入院','检查日期_出院'],axis=1)
# 并入出入院-血常规检查
df_SUP_test=pd.merge(df_SUP_test,df_test_血常规,on='受试者编号',how='left')

In [423]:
df_SUP_test.head()

,受试者编号,出院诊断,主要疾病转归_描述,用药开始时间,用药结束时间,用药天数,EXDOSFRQ,EXDSTXT,日剂量,心血管疾病_label,...,白细胞_入院,中性粒细胞计数_入院,血小板_入院,红细胞压积_入院,红细胞_出院,血红蛋白_出院,白细胞_出院,中性粒细胞计数_出院,血小板_出院,红细胞压积_出院
0,90001_a,大脑动脉狭窄脑梗死 NIHSS评分12分，高血压病（2级，很高危），2型糖尿病，脑梗死个人史...,0,2018-04-07,2018-04-15,9,1.0,30.0,30.0,1.0,...,10.60,75.40,315.0,37.2,3.85,111.0,15.0,75.0,337.0,32.5
1,90003_a,I型呼吸衰竭 重症肺炎 肺栓塞(中低危)心功能不全 高血压病I级(高危)肝功能不全 下肢静脉...,1,2018-03-12,2018-03-17,6,1.0,40.0,40.0,1.0,...,1.80,87.50,136.0,38.7,NaN,NaN,NaN,NaN,NaN,NaN
2,90018_b,"急性下壁心肌梗塞,Killip I 级,急诊RCA-PCI术后,冠心病,高血压病(1级,很高危)",0,2019-05-28,2019-06-04,8,1.0,60.0,60.0,1.0,...,12.50,88.10,261.0,36.4,NaN,NaN,NaN,NaN,NaN,NaN
3,90021_b,"急性前壁心肌梗塞,killip Ⅰ级,急诊PCI术后,冠心病 2型糖尿病 脑梗个人史",0,2019-04-23,2019-05-05,13,1.0,60.0,60.0,1.0,...,10.31,8.39,204.0,37.4,NaN,NaN,NaN,NaN,NaN,NaN
4,90025_a,"1.大脑动脉狭窄 2.肺部感染 慢支 3.高血压病3级,极高危; 4.2型糖尿病 5.脑梗死个人史",0,2018-02-23,2018-03-02,8,1.0,40.0,40.0,1.0,...,13.00,86.60,279.0,38.3,3.68,115.0,7.9,75.0,217.0,33.7

### 尿常规

In [424]:
# 其他科-尿常规检查
df_尿常规_1 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-其他科1021.xlsx',
                            sheet_name='LBU_尿常规',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第1行
# 标记受试者编号
df_尿常规_1['受试者编号']=df_尿常规_1['受试者编号'].apply(lambda x: str(x)+'_a')
# 心内科-尿常规检查
df_尿常规_2 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-心内科1021.xlsx',
                            sheet_name='LBU_尿常规',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第几行)
# 标记受试者编号
df_尿常规_2['受试者编号']=df_尿常规_2['受试者编号'].apply(lambda x: str(x)+'_b')

In [425]:
df_尿常规_1.columns

Index(['方案号', '中心标识', '中心名称', '受试者编号', '访视', '检查日期', '尿蛋白（PRO）',
       '尿蛋白（PRO）-临床意义', '尿蛋白（PRO）-临床意义_描述', '尿蛋白（PRO）-异常请描述', '尿白细胞（LEU）',
       '尿白细胞（LEU）-临床意义', '尿白细胞（LEU）-临床意义_描述', '尿白细胞（LEU）-异常请描述', '尿红细胞（ERY）',
       '尿红细胞（ERY）-临床意义', '尿红细胞（ERY）-临床意义_描述', '尿红细胞（ERY）-异常请描述', '原始录入日期',
       '最后修改日期'],
      dtype='object')

In [426]:
df_尿常规_2.columns

Index(['方案号', '中心标识', '中心名称', '受试者编号', '访视', '检查日期', '尿蛋白（PRO）',
       '尿蛋白（PRO）-临床意义', '尿蛋白（PRO）-临床意义_描述', '尿蛋白（PRO）-异常请描述', '尿白细胞（LEU）',
       '尿白细胞（LEU）-临床意义', '尿白细胞（LEU）-临床意义_描述', '尿白细胞（LEU）-异常请描述', '尿红细胞（ERY）',
       '尿红细胞（ERY）-临床意义', '尿红细胞（ERY）-临床意义_描述', '尿红细胞（ERY）-异常请描述', '原始录入日期',
       '最后修改日期'],
      dtype='object')

In [427]:
# 提取有效字段
df_尿常规_1=df_尿常规_1[['访视','受试者编号','检查日期','尿蛋白（PRO）','尿白细胞（LEU）','尿红细胞（ERY）']]
df_尿常规_2=df_尿常规_2[['访视','受试者编号','检查日期','尿蛋白（PRO）','尿白细胞（LEU）','尿红细胞（ERY）']]

In [428]:
df_尿常规_1.shape

(1167, 6)

In [429]:
df_尿常规_1.head()

      访视    受试者编号        检查日期 尿蛋白（PRO） 尿白细胞（LEU） 尿红细胞（ERY）
0   入院检查  90001_a  2018-03-31       25       5-8         0
1  出院前检查  90001_a         NaN      NaN       NaN       NaN
2   入院检查  90003_a         NaN      NaN       NaN       NaN
3  出院前检查  90003_a         NaN      NaN       NaN       NaN
4   入院检查  90004_a         NaN      NaN       NaN       NaN

#### 入院检查

In [430]:
# 入院尿常规检测
df_尿常规_1_inp=df_尿常规_1[df_尿常规_1['访视'].str.contains('入院检查')]
df_尿常规_1_inp=df_尿常规_1_inp.reset_index(drop=True)
df_尿常规_2_inp=df_尿常规_2[df_尿常规_2['访视'].str.contains('入院检查')]
df_尿常规_2_inp=df_尿常规_2_inp.reset_index(drop=True)
# 合并入院尿常规检查
df_尿常规_inp=pd.concat([df_尿常规_1_inp,df_尿常规_2_inp],axis=0)

In [431]:
df_尿常规_inp.shape

(738, 6)

In [432]:
df_尿常规_inp.head()

     访视    受试者编号        检查日期 尿蛋白（PRO） 尿白细胞（LEU） 尿红细胞（ERY）
0  入院检查  90001_a  2018-03-31       25       5-8         0
1  入院检查  90003_a         NaN      NaN       NaN       NaN
2  入院检查  90004_a         NaN      NaN       NaN       NaN
3  入院检查  90005_a         NaN      NaN       NaN       NaN
4  入院检查  90006_a  2018-02-12       阴性        阴性        10

In [433]:
df_尿常规_inp.to_excel(project_path+'/data/processed_data/检测数据/df_尿常规_入院检查.xlsx')

#### 出院检查

In [434]:
# 出院尿常规检查
df_尿常规_1_oup=df_尿常规_1[df_尿常规_1['访视'].str.contains('出院前检查')]
df_尿常规_1_oup=df_尿常规_1_oup.reset_index(drop=True)
df_尿常规_2_oup=df_尿常规_2[df_尿常规_2['访视'].str.contains('出院前检查')]
df_尿常规_2_oup=df_尿常规_2_oup.reset_index(drop=True)
# 合并尿常规检查
df_尿常规_oup=pd.concat([df_尿常规_1_oup,df_尿常规_2_oup],axis=0)

In [435]:
df_尿常规_oup.shape

(617, 6)

In [436]:
df_尿常规_oup.head()

      访视    受试者编号 检查日期 尿蛋白（PRO） 尿白细胞（LEU） 尿红细胞（ERY）
0  出院前检查  90001_a  NaN      NaN       NaN       NaN
1  出院前检查  90003_a  NaN      NaN       NaN       NaN
2  出院前检查  90004_a  NaN      NaN       NaN       NaN
3  出院前检查  90005_a  NaN      NaN       NaN       NaN
4  出院前检查  90006_a  NaN      NaN       NaN       NaN

In [437]:
df_尿常规_oup.to_excel(project_path+'/data/processed_data/检测数据/df_尿常规_出院检查.xlsx')

#### 修改列名

In [438]:
# 删除访视
df_尿常规_inp=df_尿常规_inp.drop(['访视'],axis=1)
df_尿常规_oup=df_尿常规_oup.drop(['访视'],axis=1)
# 修改列名
for i in df_尿常规_inp.columns[1:]:
    df_尿常规_inp.rename(columns={i:i + '_入院'},inplace=True)
for i in df_尿常规_oup.columns[1:]:
    df_尿常规_oup.rename(columns={i:i+'_出院'},inplace=True)

In [439]:
df_test_尿常规=pd.merge(df_尿常规_inp,df_尿常规_oup,on='受试者编号',how='outer')

In [440]:
df_test_尿常规.head()

,受试者编号,检查日期_入院,尿蛋白（PRO）_入院,尿白细胞（LEU）_入院,尿红细胞（ERY）_入院,检查日期_出院,尿蛋白（PRO）_出院,尿白细胞（LEU）_出院,尿红细胞（ERY）_出院
0,90001_a,2018-03-31,25,5-8,0,NaN,NaN,NaN,NaN
1,90003_a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,90004_a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90005_a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,90006_a,2018-02-12,阴性,阴性,10,NaN,NaN,NaN,NaN

In [441]:
df_test_尿常规.to_excel(project_path+'/data/processed_data/df_1.10.2.3_尿常规_检查.xlsx')

#### 并入尿常规检查

In [442]:
df_test_尿常规.head()

,受试者编号,检查日期_入院,尿蛋白（PRO）_入院,尿白细胞（LEU）_入院,尿红细胞（ERY）_入院,检查日期_出院,尿蛋白（PRO）_出院,尿白细胞（LEU）_出院,尿红细胞（ERY）_出院
0,90001_a,2018-03-31,25,5-8,0,NaN,NaN,NaN,NaN
1,90003_a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,90004_a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90005_a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,90006_a,2018-02-12,阴性,阴性,10,NaN,NaN,NaN,NaN

In [443]:
# 删除检查日期
df_test_尿常规=df_test_尿常规.drop(['检查日期_入院','检查日期_出院'],axis=1)
# 并入出入院-血常规检查
df_SUP_test=pd.merge(df_SUP_test,df_test_尿常规,on='受试者编号',how='left')

In [444]:
df_SUP_test.head()

,受试者编号,出院诊断,主要疾病转归_描述,用药开始时间,用药结束时间,用药天数,EXDOSFRQ,EXDSTXT,日剂量,心血管疾病_label,...,白细胞_出院,中性粒细胞计数_出院,血小板_出院,红细胞压积_出院,尿蛋白（PRO）_入院,尿白细胞（LEU）_入院,尿红细胞（ERY）_入院,尿蛋白（PRO）_出院,尿白细胞（LEU）_出院,尿红细胞（ERY）_出院
0,90001_a,大脑动脉狭窄脑梗死 NIHSS评分12分，高血压病（2级，很高危），2型糖尿病，脑梗死个人史...,0,2018-04-07,2018-04-15,9,1.0,30.0,30.0,1.0,...,15.0,75.0,337.0,32.5,25,5-8,0,NaN,NaN,NaN
1,90003_a,I型呼吸衰竭 重症肺炎 肺栓塞(中低危)心功能不全 高血压病I级(高危)肝功能不全 下肢静脉...,1,2018-03-12,2018-03-17,6,1.0,40.0,40.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,90018_b,"急性下壁心肌梗塞,Killip I 级,急诊RCA-PCI术后,冠心病,高血压病(1级,很高危)",0,2019-05-28,2019-06-04,8,1.0,60.0,60.0,1.0,...,NaN,NaN,NaN,NaN,阴性,1,3,NaN,NaN,NaN
3,90021_b,"急性前壁心肌梗塞,killip Ⅰ级,急诊PCI术后,冠心病 2型糖尿病 脑梗个人史",0,2019-04-23,2019-05-05,13,1.0,60.0,60.0,1.0,...,NaN,NaN,NaN,NaN,阴性,1,NaN,NaN,NaN,NaN
4,90025_a,"1.大脑动脉狭窄 2.肺部感染 慢支 3.高血压病3级,极高危; 4.2型糖尿病 5.脑梗死个人史",0,2018-02-23,2018-03-02,8,1.0,40.0,40.0,1.0,...,7.9,75.0,217.0,33.7,75,0-2,0-1,NaN,NaN,NaN

### 血生化

In [445]:
# 其他科-血生化检查
df_血生化_1 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-其他科1021.xlsx',
                            sheet_name='LBB_血生化',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第1行
# 标记受试者编号
df_血生化_1['受试者编号']=df_血生化_1['受试者编号'].apply(lambda x: str(x)+'_a')
# 心内科-血生化检查
df_血生化_2 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-心内科1021.xlsx',
                            sheet_name='LBB_血生化',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第几行)
# 标记受试者编号
df_血生化_2['受试者编号']=df_血生化_2['受试者编号'].apply(lambda x: str(x)+'_b')

In [446]:
df_血生化_1.columns

Index(['方案号', '中心标识', '中心名称', '受试者编号', '访视', '检查日期', '总胆红素（TBil）',
       '总胆红素（TBil）-临床意义', '总胆红素（TBil）-临床意义_描述', '总胆红素（TBil）-异常请描述',
       '直接胆红素（DBil）', '直接胆红素（DBil）-临床意义', '直接胆红素（DBil）-临床意义_描述',
       '直接胆红素（DBil）-异常请描述', '白蛋白', '白蛋白-临床意义', '白蛋白-临床意义_描述', '白蛋白-异常请描述',
       '前白蛋白', '前白蛋白-临床意义', '前白蛋白-临床意义_描述', '前白蛋白-异常请描述', 'ALT', 'ALT-临床意义',
       'ALT-临床意义_描述', 'ALT-异常请描述', 'AST', 'AST-临床意义', 'AST-临床意义_描述',
       'AST-异常请描述', 'GGT', 'GGT-临床意义', 'GGT-临床意义_描述', 'GGT-异常请描述', 'AKP',
       'AKP-临床意义', 'AKP-临床意义_描述', 'AKP-异常请描述', '尿素氮（BUN）', '尿素氮（BUN）-临床意义',
       '尿素氮（BUN）-临床意义_描述', '尿素氮（BUN）-异常请描述', '肌酐（Cr）', '肌酐（Cr）-临床意义',
       '肌酐（Cr）-临床意义_描述', '肌酐（Cr）-异常请描述', 'PT', 'PT-临床意义', 'PT-临床意义_描述',
       'PT-异常请描述', 'INR', 'INR-临床意义', 'INR-临床意义_描述', 'INR-异常请描述', '血钠',
       '血钠-临床意义', '血钠-临床意义_描述', '血钠-异常请描述', '血钾', '血钾-临床意义', '血钾-临床意义_描述',
       '血钾-异常请描述', '血氯', '血氯-临床意义', '血氯-临床意义_描述', '血氯-异常请描述', '甘油三酯',
       '甘油三酯-临床意义', '甘油三酯-临床意义_描述', '甘油三酯-异常请描述', '胆固醇', '胆固醇-临床意义',
       '胆固醇-临床意义_描述', '胆固醇-异常请描述', '低密度脂蛋白（LDL）', '低密度脂蛋白（LDL）-临床意义',
       '低密度脂蛋白（LDL）-临床意义_描述', '低密度脂蛋白（LDL）-异常请描述', '高密度脂蛋白胆固醇（HDLC）',
       '高密度脂蛋白胆固醇（HDLC）-临床意义', '高密度脂蛋白胆固醇（HDLC）-临床意义_描述',
       '高密度脂蛋白胆固醇（HDLC）-异常请描述', '原始录入日期', '最后修改日期'],
      dtype='object')

In [447]:
# 提取有效字段
df_血生化_1=df_血生化_1[['访视','受试者编号','检查日期','总胆红素（TBil）','直接胆红素（DBil）','白蛋白','前白蛋白',
                  'ALT','AST','GGT','AKP','尿素氮（BUN）','肌酐（Cr）','PT','INR','血钠','血钾','血氯','甘油三酯',
                  '胆固醇','低密度脂蛋白（LDL）','高密度脂蛋白胆固醇（HDLC）']]
df_血生化_2=df_血生化_2[['访视','受试者编号','检查日期','白蛋白','HCY','NT-pro BNP','肌钙蛋白','CK-MB',
                  'ALT','AST','尿素氮（BUN）','肌酐（Cr）','血钠','血钾','血氯','甘油三酯',
                  '胆固醇','低密度脂蛋白（LDL）','高密度脂蛋白胆固醇（HDLC）']]

In [448]:
df_血生化_1.shape

(1173, 22)

In [449]:
df_血生化_1.head()

,访视,受试者编号,检查日期,总胆红素（TBil）,直接胆红素（DBil）,白蛋白,前白蛋白,ALT,AST,GGT,...,肌酐（Cr）,PT,INR,血钠,血钾,血氯,甘油三酯,胆固醇,低密度脂蛋白（LDL）,高密度脂蛋白胆固醇（HDLC）
0,入院检查,90001_a,2018-03-28,12.4,0.0,43.6,NaN,51.0,51.0,71.0,...,62.5,10.4,0.96,142.0,4.53,105.0,1.18,3.72,1.83,1.59
1,出院前检查,90001_a,2018-04-10,5.9,2.3,35.6,147.0,22.0,19.0,NaN,...,53.0,11.8,1.07,142.0,3.47,101.4,NaN,NaN,NaN,NaN
2,入院检查,90003_a,2018-01-31,12.1,0.0,27.5,NaN,83.0,100.0,43.0,...,63.2,NaN,NaN,138.0,3.40,107.0,NaN,NaN,NaN,NaN
3,出院前检查,90003_a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,入院检查,90004_a,2018-01-27,4.4,2.1,25.5,253.0,9.0,17.0,33.0,...,914.4,NaN,NaN,137.0,2.70,96.0,1.05,4.84,3.12,1.28

#### 入院检查

In [450]:
# 入院血生化检查
df_血生化_1_inp=df_血生化_1[df_血生化_1['访视'].str.contains('入院检查')]
df_血生化_1_inp=df_血生化_1_inp.reset_index(drop=True)
df_血生化_2_inp=df_血生化_2[df_血生化_2['访视'].str.contains('入院检查')]
df_血生化_2_inp=df_血生化_2_inp.reset_index(drop=True)
# 合并血生化检查
df_血生化_inp=pd.concat([df_血生化_1_inp,df_血生化_2_inp],axis=0)

In [451]:
df_血生化_inp.shape

(741, 26)

In [452]:
df_血生化_inp.head()

,访视,受试者编号,检查日期,总胆红素（TBil）,直接胆红素（DBil）,白蛋白,前白蛋白,ALT,AST,GGT,...,血钾,血氯,甘油三酯,胆固醇,低密度脂蛋白（LDL）,高密度脂蛋白胆固醇（HDLC）,HCY,NT-pro BNP,肌钙蛋白,CK-MB
0,入院检查,90001_a,2018-03-28,12.4,0.0,43.6,NaN,51.0,51.0,71.0,...,4.53,105.0,1.18,3.72,1.83,1.59,NaN,NaN,NaN,NaN
1,入院检查,90003_a,2018-01-31,12.1,0.0,27.5,NaN,83.0,100.0,43.0,...,3.40,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,入院检查,90004_a,2018-01-27,4.4,2.1,25.5,253.0,9.0,17.0,33.0,...,2.70,96.0,1.05,4.84,3.12,1.28,NaN,NaN,NaN,NaN
3,入院检查,90005_a,2018-02-07,15.3,0.0,37.7,391.0,21.0,31.0,24.0,...,3.50,92.0,3.13,6.66,4.27,1.24,NaN,NaN,NaN,NaN
4,入院检查,90006_a,2018-02-12,14.2,3.2,64.2,191.0,17.0,16.0,16.0,...,4.05,106.0,4.23,6.17,4.48,1.05,NaN,NaN,NaN,NaN

In [453]:
df_血生化_inp.to_excel(project_path+'/data/processed_data/检测数据/df_血生化_入院检查.xlsx')

#### 出院检查

In [454]:
# 出院血生化检查
df_血生化_1_oup=df_血生化_1[df_血生化_1['访视'].str.contains('出院前检查')]
df_血生化_1_oup=df_血生化_1_oup.reset_index(drop=True)
df_血生化_2_oup=df_血生化_2[df_血生化_2['访视'].str.contains('出院前检查')]
df_血生化_2_oup=df_血生化_2_oup.reset_index(drop=True)
# 合并血生化检查
df_血生化_oup=pd.concat([df_血生化_1_oup,df_血生化_2_oup],axis=0)

In [455]:
df_血生化_oup.shape

(626, 26)

In [456]:
df_血生化_oup.head()

,访视,受试者编号,检查日期,总胆红素（TBil）,直接胆红素（DBil）,白蛋白,前白蛋白,ALT,AST,GGT,...,血钾,血氯,甘油三酯,胆固醇,低密度脂蛋白（LDL）,高密度脂蛋白胆固醇（HDLC）,HCY,NT-pro BNP,肌钙蛋白,CK-MB
0,出院前检查,90001_a,2018-04-10,5.9,2.3,35.6,147.0,22.0,19.0,NaN,...,3.47,101.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,出院前检查,90003_a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,出院前检查,90004_a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,出院前检查,90005_a,2018-02-13,5.3,2.9,35.2,391.0,21.0,31.0,24.0,...,2.92,93.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,出院前检查,90006_a,2018-02-19,17.7,5.1,40.8,173.0,25.0,19.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [457]:
df_血生化_oup.to_excel(project_path+'/data/processed_data/检测数据/df_血生化_出院检查.xlsx')

#### 修改列名

In [458]:
# 删除访视
df_血生化_inp=df_血生化_inp.drop(['访视','PT','INR'],axis=1) # 避免与凝血指标冲突
df_血生化_oup=df_血生化_oup.drop(['访视','PT','INR'],axis=1)
# 修改列名
for i in df_血生化_inp.columns[1:]:
    df_血生化_inp.rename(columns={i:i + '_入院'},inplace=True)
for i in df_血生化_oup.columns[1:]:
    df_血生化_oup.rename(columns={i:i+'_出院'},inplace=True)  
df_test_血生化=pd.merge(df_血生化_inp,df_血生化_oup,on='受试者编号',how='outer')

In [459]:
df_test_血生化.shape

(741, 45)

In [460]:
df_test_血生化.head()

,受试者编号,检查日期_入院,总胆红素（TBil）_入院,直接胆红素（DBil）_入院,白蛋白_入院,前白蛋白_入院,ALT_入院,AST_入院,GGT_入院,AKP_入院,...,血钾_出院,血氯_出院,甘油三酯_出院,胆固醇_出院,低密度脂蛋白（LDL）_出院,高密度脂蛋白胆固醇（HDLC）_出院,HCY_出院,NT-pro BNP_出院,肌钙蛋白_出院,CK-MB_出院
0,90001_a,2018-03-28,12.4,0.0,43.6,NaN,51.0,51.0,71.0,NaN,...,3.47,101.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90003_a,2018-01-31,12.1,0.0,27.5,NaN,83.0,100.0,43.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,90004_a,2018-01-27,4.4,2.1,25.5,253.0,9.0,17.0,33.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90005_a,2018-02-07,15.3,0.0,37.7,391.0,21.0,31.0,24.0,NaN,...,2.92,93.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,90006_a,2018-02-12,14.2,3.2,64.2,191.0,17.0,16.0,16.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [461]:
df_test_血生化.to_excel(project_path+'/data/processed_data/df_1.10.3.3_血生化_检查.xlsx')

#### 并入血生化检查

In [462]:
df_test_血生化.head()

,受试者编号,检查日期_入院,总胆红素（TBil）_入院,直接胆红素（DBil）_入院,白蛋白_入院,前白蛋白_入院,ALT_入院,AST_入院,GGT_入院,AKP_入院,...,血钾_出院,血氯_出院,甘油三酯_出院,胆固醇_出院,低密度脂蛋白（LDL）_出院,高密度脂蛋白胆固醇（HDLC）_出院,HCY_出院,NT-pro BNP_出院,肌钙蛋白_出院,CK-MB_出院
0,90001_a,2018-03-28,12.4,0.0,43.6,NaN,51.0,51.0,71.0,NaN,...,3.47,101.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90003_a,2018-01-31,12.1,0.0,27.5,NaN,83.0,100.0,43.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,90004_a,2018-01-27,4.4,2.1,25.5,253.0,9.0,17.0,33.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90005_a,2018-02-07,15.3,0.0,37.7,391.0,21.0,31.0,24.0,NaN,...,2.92,93.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,90006_a,2018-02-12,14.2,3.2,64.2,191.0,17.0,16.0,16.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [463]:
# 删除检查日期
df_test_血生化=df_test_血生化.drop(['检查日期_入院','检查日期_出院'],axis=1)
# 并入出入院-血生化检查
df_SUP_test=pd.merge(df_SUP_test,df_test_血生化,on='受试者编号',how='left')

In [464]:
df_SUP_test.head()

,受试者编号,出院诊断,主要疾病转归_描述,用药开始时间,用药结束时间,用药天数,EXDOSFRQ,EXDSTXT,日剂量,心血管疾病_label,...,血钾_出院,血氯_出院,甘油三酯_出院,胆固醇_出院,低密度脂蛋白（LDL）_出院,高密度脂蛋白胆固醇（HDLC）_出院,HCY_出院,NT-pro BNP_出院,肌钙蛋白_出院,CK-MB_出院
0,90001_a,大脑动脉狭窄脑梗死 NIHSS评分12分，高血压病（2级，很高危），2型糖尿病，脑梗死个人史...,0,2018-04-07,2018-04-15,9,1.0,30.0,30.0,1.0,...,3.47,101.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90003_a,I型呼吸衰竭 重症肺炎 肺栓塞(中低危)心功能不全 高血压病I级(高危)肝功能不全 下肢静脉...,1,2018-03-12,2018-03-17,6,1.0,40.0,40.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,90018_b,"急性下壁心肌梗塞,Killip I 级,急诊RCA-PCI术后,冠心病,高血压病(1级,很高危)",0,2019-05-28,2019-06-04,8,1.0,60.0,60.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90021_b,"急性前壁心肌梗塞,killip Ⅰ级,急诊PCI术后,冠心病 2型糖尿病 脑梗个人史",0,2019-04-23,2019-05-05,13,1.0,60.0,60.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,90025_a,"1.大脑动脉狭窄 2.肺部感染 慢支 3.高血压病3级,极高危; 4.2型糖尿病 5.脑梗死个人史",0,2018-02-23,2018-03-02,8,1.0,40.0,40.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 凝血

In [465]:
# 其他科-凝血检查
df_凝血_1 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-其他科1021.xlsx',
                            sheet_name='LBC_凝血功能',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第1行
# 标记受试者编号
df_凝血_1['受试者编号']=df_凝血_1['受试者编号'].apply(lambda x: str(x)+'_a')
# 心内科-凝血检查
df_凝血_2 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-心内科1021.xlsx',
                            sheet_name='LBC_凝血功能',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第几行)
# 标记受试者编号
df_凝血_2['受试者编号']=df_凝血_2['受试者编号'].apply(lambda x: str(x)+'_b')

In [466]:
df_凝血_1.columns

Index(['方案号', '中心标识', '中心名称', '受试者编号', '访视', '检查日期', 'PT', 'PT-临床意义',
       'PT-临床意义_描述', 'PT-异常请描述', 'INR', 'INR-临床意义', 'INR-临床意义_描述', 'INR-异常请描述',
       'APTT', 'APTT-临床意义', 'APTT-临床意义_描述', 'APTT-异常请描述', '原始录入日期', '最后修改日期'],
      dtype='object')

In [467]:
df_凝血_2.columns

Index(['方案号', '中心标识', '中心名称', '受试者编号', '访视', '检查日期', 'PT', 'PT-临床意义',
       'PT-临床意义_描述', 'PT-异常请描述', 'INR', 'INR-临床意义', 'INR-临床意义_描述', 'INR-异常请描述',
       'APTT', 'APTT-临床意义', 'APTT-临床意义_描述', 'APTT-异常请描述', '原始录入日期', '最后修改日期'],
      dtype='object')

In [468]:
# 提取有效字段
df_凝血_1=df_凝血_1[['访视','受试者编号','检查日期','PT','INR','APTT']]
# 提取有效字段
df_凝血_2=df_凝血_2[['访视','受试者编号','检查日期','PT','INR','APTT']]

In [469]:
df_凝血_1.shape

(1167, 6)

In [470]:
df_凝血_1.head()

      访视    受试者编号        检查日期    PT   INR  APTT
0   入院检查  90001_a  2018-03-28  10.4  0.96  28.0
1  出院前检查  90001_a  2018-04-10  11.8  1.07  28.3
2   入院检查  90003_a  2018-01-31  17.6  1.63  42.0
3  出院前检查  90003_a         NaN   NaN   NaN   NaN
4   入院检查  90004_a         NaN   NaN   NaN   NaN

#### 入院检查

In [471]:
# 出入院血常规检测
df_凝血_1_inp=df_凝血_1[df_凝血_1['访视'].str.contains('入院检查')]
df_凝血_1_inp=df_凝血_1_inp.reset_index(drop=True)
df_凝血_2_inp=df_凝血_2[df_凝血_2['访视'].str.contains('入院检查')]
df_凝血_2_inp=df_凝血_2_inp.reset_index(drop=True)
# 合并凝血检查
df_凝血_inp=pd.concat([df_凝血_1_inp,df_凝血_2_inp],axis=0)

In [472]:
df_凝血_inp.shape

(741, 6)

In [473]:
df_凝血_inp.head()

     访视    受试者编号        检查日期    PT   INR  APTT
0  入院检查  90001_a  2018-03-28  10.4  0.96  28.0
1  入院检查  90003_a  2018-01-31  17.6  1.63  42.0
2  入院检查  90004_a         NaN   NaN   NaN   NaN
3  入院检查  90005_a  2018-02-07  11.9  1.10  27.7
4  入院检查  90006_a         NaN   NaN   NaN   NaN

In [474]:
df_凝血_inp.to_excel(project_path+'/data/processed_data/检测数据/df_凝血_入院记录.xlsx')

#### 出院检查

In [475]:
# 出院凝血检查
df_凝血_1_oup=df_凝血_1[df_凝血_1['访视'].str.contains('出院前检查')]
df_凝血_1_oup=df_凝血_1_oup.reset_index(drop=True)
df_凝血_2_oup=df_凝血_2[df_凝血_2['访视'].str.contains('出院前检查')]
df_凝血_2_oup=df_凝血_2_oup.reset_index(drop=True)
# 合并凝血检查
df_凝血_oup=pd.concat([df_凝血_1_oup,df_凝血_2_oup],axis=0)

In [476]:
df_凝血_oup.shape

(617, 6)

In [477]:
df_凝血_oup.head()

      访视    受试者编号        检查日期    PT   INR  APTT
0  出院前检查  90001_a  2018-04-10  11.8  1.07  28.3
1  出院前检查  90003_a         NaN   NaN   NaN   NaN
2  出院前检查  90004_a         NaN   NaN   NaN   NaN
3  出院前检查  90005_a         NaN   NaN   NaN   NaN
4  出院前检查  90006_a  2018-02-19  10.7  0.99  31.9

In [478]:
df_凝血_oup.to_excel(project_path+'/data/processed_data/检测数据/df_凝血_出院记录.xlsx')

#### 修改列名

In [479]:
# 删除访视变量
df_凝血_inp=df_凝血_inp.drop(['访视'],axis=1)
df_凝血_oup=df_凝血_oup.drop(['访视'],axis=1)
# 修改列名
for i in df_凝血_inp.columns[1:]:
    df_凝血_inp.rename(columns={i:i + '_入院'},inplace=True)
for i in df_凝血_oup.columns[1:]:
    df_凝血_oup.rename(columns={i:i+'_出院'},inplace=True)  
df_test_凝血=pd.merge(df_凝血_inp,df_凝血_oup,on='受试者编号',how='outer')

In [480]:
df_test_凝血.head()

,受试者编号,检查日期_入院,PT_入院,INR_入院,APTT_入院,检查日期_出院,PT_出院,INR_出院,APTT_出院
0,90001_a,2018-03-28,10.4,0.96,28.0,2018-04-10,11.8,1.07,28.3
1,90003_a,2018-01-31,17.6,1.63,42.0,NaN,NaN,NaN,NaN
2,90004_a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90005_a,2018-02-07,11.9,1.10,27.7,NaN,NaN,NaN,NaN
4,90006_a,NaN,NaN,NaN,NaN,2018-02-19,10.7,0.99,31.9

In [481]:
df_test_凝血.shape

(741, 9)

In [482]:
df_test_凝血.to_excel(project_path+'/data/processed_data/df_1.10.4.3_凝血_检查.xlsx')

#### 并入凝血检查

In [483]:
df_test_凝血.head()

,受试者编号,检查日期_入院,PT_入院,INR_入院,APTT_入院,检查日期_出院,PT_出院,INR_出院,APTT_出院
0,90001_a,2018-03-28,10.4,0.96,28.0,2018-04-10,11.8,1.07,28.3
1,90003_a,2018-01-31,17.6,1.63,42.0,NaN,NaN,NaN,NaN
2,90004_a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90005_a,2018-02-07,11.9,1.10,27.7,NaN,NaN,NaN,NaN
4,90006_a,NaN,NaN,NaN,NaN,2018-02-19,10.7,0.99,31.9

In [484]:
# 删除检查日期
df_test_凝血=df_test_凝血.drop(['检查日期_入院','检查日期_出院'],axis=1)
# 并入出入院-凝血检查
df_SUP_test=pd.merge(df_SUP_test,df_test_凝血,on='受试者编号',how='left')

In [485]:
df_SUP_test.shape

(298, 93)

### 肿瘤指标

In [486]:
# 其他科-肿瘤检查
df_肿瘤_1 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-其他科1021.xlsx',
                            sheet_name='TM_肿瘤标记物',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第1行
# 标记受试者编号
df_肿瘤_1['受试者编号']=df_肿瘤_1['受试者编号'].apply(lambda x: str(x)+'_a')
# 心内科-肿瘤检查
df_肿瘤_2 = pd.read_excel(project_path+'/data/raw_data/导出全部CRF表数据-心内科1021.xlsx',
                            sheet_name='TM_肿瘤标记物',
                           header=1,)  # 指定第2行作为标题行
#                            skiprows=[1,1,1])  # 跳过第几行)
# 标记受试者编号
df_肿瘤_2['受试者编号']=df_肿瘤_2['受试者编号'].apply(lambda x: str(x)+'_b')

In [487]:
df_肿瘤_1.columns

Index(['方案号', '中心标识', '中心名称', '受试者编号', '访视', '编号', '检查日期', '检查项目', '检查项目_描述',
       '检查结果', '检查结果单位', '检查结果标准值', '检查结果标准单位', '临床意义', '临床意义_描述', '若为异常请描述',
       '原始录入日期', '最后修改日期'],
      dtype='object')

In [488]:
df_肿瘤_2.columns

Index(['方案号', '中心标识', '中心名称', '受试者编号', '访视', '编号', '检查日期', '检查项目', '检查项目_描述',
       '检查结果', '检查结果单位', '检查结果标准值', '检查结果标准单位', '临床意义', '临床意义_描述', '若为异常请描述',
       '原始录入日期', '最后修改日期'],
      dtype='object')

In [489]:
# 提取有效字段
df_肿瘤_1=df_肿瘤_1[['访视','受试者编号','检查日期','检查项目_描述','检查结果']]
# 提取有效字段
df_肿瘤_2=df_肿瘤_2[['访视','受试者编号','检查日期','检查项目_描述','检查结果']]

In [490]:
df_肿瘤_1.shape

(3215, 5)

In [491]:
df_肿瘤_1.head()

      访视    受试者编号        检查日期 检查项目_描述   检查结果
0  出院前检查  90001_a  2018-04-04     AFP   1.48
1   入院检查  90005_a  2018-02-08     AFP   3.00
2   入院检查  90005_a  2018-02-08     CEA   1.45
3   入院检查  90005_a  2018-02-08  CA-199  16.70
4   入院检查  90005_a  2018-02-08    TPSA   7.31

#### 入院检查

In [492]:
# 出入院血常规检测
df_肿瘤_1_inp=df_肿瘤_1[df_肿瘤_1['访视'].str.contains('入院检查')]
df_肿瘤_1_inp=df_肿瘤_1_inp.reset_index(drop=True)
df_肿瘤_2_inp=df_肿瘤_2[df_肿瘤_2['访视'].str.contains('入院检查')]
df_肿瘤_2_inp=df_肿瘤_2_inp.reset_index(drop=True)
# 合并肿瘤检查
df_肿瘤_inp=pd.concat([df_肿瘤_1_inp,df_肿瘤_2_inp],axis=0)

In [493]:
df_肿瘤_inp.shape

(3228, 5)

In [494]:
df_肿瘤_inp.head()

     访视    受试者编号        检查日期 检查项目_描述   检查结果
0  入院检查  90005_a  2018-02-08     AFP   3.00
1  入院检查  90005_a  2018-02-08     CEA   1.45
2  入院检查  90005_a  2018-02-08  CA-199  16.70
3  入院检查  90005_a  2018-02-08    TPSA   7.31
4  入院检查  90005_a  2018-02-08  CA-125  13.40

In [495]:
# 数据透视表-检测项转置为表头
df_肿瘤_inp=df_肿瘤_inp.pivot_table(values='检查结果',index=['受试者编号'],columns='检查项目_描述').reset_index()

In [496]:
df_肿瘤_inp.shape

(488, 13)

In [497]:
df_肿瘤_inp.columns

Index(['受试者编号', 'AFP', 'CA-125', 'CA-153', 'CA-199', 'CA-242', 'CA-50',
       'CA-724', 'CEA', 'Cyfra211', 'FPSA', 'NSE', 'TPSA'],
      dtype='object', name='检查项目_描述')

In [498]:
df_肿瘤_inp.head()

检查项目_描述,受试者编号,AFP,CA-125,CA-153,CA-199,CA-242,CA-50,CA-724,CEA,Cyfra211,FPSA,NSE,TPSA
0,90005_a,3.00,13.40,NaN,16.70,NaN,NaN,NaN,1.45,NaN,1.87,17.10,7.31
1,90005_b,NaN,76.80,14.70,11.40,4.77,NaN,1.50,NaN,NaN,NaN,NaN,NaN
2,90006_a,2.51,11.45,48.16,14.98,4.22,NaN,NaN,1.83,NaN,NaN,13.15,NaN
3,90007_a,3.92,11.63,15.73,20.10,6.51,NaN,2.43,2.75,5.26,NaN,12.57,NaN
4,90008_a,3.05,6.49,5.42,1.79,4.13,NaN,5.22,2.52,1.73,0.21,9.98,0.47

In [499]:
df_肿瘤_inp.to_excel(project_path+'/data/processed_data/检测数据/df_肿瘤_入院检查.xlsx')

#### 出院检查

In [500]:
# 出院肿瘤检查
df_肿瘤_1_oup=df_肿瘤_1[df_肿瘤_1['访视'].str.contains('出院前检查')]
df_肿瘤_1_oup=df_肿瘤_1_oup.reset_index(drop=True)
df_肿瘤_2_oup=df_肿瘤_2[df_肿瘤_2['访视'].str.contains('出院前检查')]
df_肿瘤_2_oup=df_肿瘤_2_oup.reset_index(drop=True)
# 合并肿瘤检查
df_肿瘤_oup=pd.concat([df_肿瘤_1_oup,df_肿瘤_2_oup],axis=0)

In [501]:
df_肿瘤_oup.shape

(14, 5)

In [502]:
df_肿瘤_oup.head()

      访视    受试者编号        检查日期 检查项目_描述   检查结果
0  出院前检查  90001_a  2018-04-04     AFP   1.48
1  出院前检查  90034_a  2018-03-01   CA-50  10.97
2  出院前检查  90037_a  2018-03-01     AFP   2.74
3  出院前检查  90037_a  2018-03-01     CEA   2.62
4  出院前检查  90037_a  2018-03-01  CA-199  25.20

In [503]:
# 数据透视表-检测项转置为表头
df_肿瘤_oup=df_肿瘤_oup.pivot_table(values='检查结果',index=['受试者编号'],columns='检查项目_描述').reset_index()

In [504]:
df_肿瘤_oup.shape

(5, 9)

In [505]:
df_肿瘤_oup.head()

检查项目_描述    受试者编号   AFP  CA-125  CA-153  CA-199  CA-242  CA-50  CA-724   CEA
0        90001_a  1.48     NaN     NaN     NaN     NaN    NaN     NaN   NaN
1        90034_a   NaN     NaN     NaN     NaN     NaN  10.97     NaN   NaN
2        90034_b   NaN  271.00   10.60    14.2    7.89    NaN     1.6   NaN
3        90037_a  2.74    7.63    8.21    25.2   11.05    NaN     NaN  2.62
4        90052_a   NaN     NaN     NaN     NaN     NaN   7.41     NaN   NaN

In [506]:
df_肿瘤_oup.columns

Index(['受试者编号', 'AFP', 'CA-125', 'CA-153', 'CA-199', 'CA-242', 'CA-50',
       'CA-724', 'CEA'],
      dtype='object', name='检查项目_描述')

In [507]:
df_肿瘤_oup.to_excel(project_path+'/data/processed_data/检测数据/df_肿瘤_出院检查.xlsx')

#### 修改列名

In [508]:
# 修改列名
for i in df_肿瘤_inp.columns[1:]:
    df_肿瘤_inp.rename(columns={i:i + '_入院'},inplace=True)
for i in df_肿瘤_oup.columns[1:]:
    df_肿瘤_oup.rename(columns={i:i+'_出院'},inplace=True)

In [509]:
df_test_肿瘤=pd.merge(df_肿瘤_inp,df_肿瘤_oup,on='受试者编号',how='outer').reset_index(drop=True)

In [510]:
df_test_肿瘤.shape

(491, 21)

In [511]:
df_test_肿瘤.columns

Index(['受试者编号', 'AFP_入院', 'CA-125_入院', 'CA-153_入院', 'CA-199_入院', 'CA-242_入院',
       'CA-50_入院', 'CA-724_入院', 'CEA_入院', 'Cyfra211_入院', 'FPSA_入院', 'NSE_入院',
       'TPSA_入院', 'AFP_出院', 'CA-125_出院', 'CA-153_出院', 'CA-199_出院', 'CA-242_出院',
       'CA-50_出院', 'CA-724_出院', 'CEA_出院'],
      dtype='object', name='检查项目_描述')

In [512]:
df_test_肿瘤.head()

检查项目_描述,受试者编号,AFP_入院,CA-125_入院,CA-153_入院,CA-199_入院,CA-242_入院,CA-50_入院,CA-724_入院,CEA_入院,Cyfra211_入院,...,NSE_入院,TPSA_入院,AFP_出院,CA-125_出院,CA-153_出院,CA-199_出院,CA-242_出院,CA-50_出院,CA-724_出院,CEA_出院
0,90005_a,3.00,13.40,NaN,16.70,NaN,NaN,NaN,1.45,NaN,...,17.10,7.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90005_b,NaN,76.80,14.70,11.40,4.77,NaN,1.50,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,90006_a,2.51,11.45,48.16,14.98,4.22,NaN,NaN,1.83,NaN,...,13.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90007_a,3.92,11.63,15.73,20.10,6.51,NaN,2.43,2.75,5.26,...,12.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,90008_a,3.05,6.49,5.42,1.79,4.13,NaN,5.22,2.52,1.73,...,9.98,0.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [513]:
df_test_肿瘤.to_excel(project_path+'/data/processed_data/df_1.10.5.3_肿瘤_检查.xlsx')

#### 并入肿瘤指标

In [514]:
# 并入出入院-肿瘤检查
df_SUP_test=pd.merge(df_SUP_test,df_test_肿瘤,on='受试者编号',how='left')

In [515]:
df_SUP_test.shape

(298, 113)

In [516]:
df_SUP_test.head()

,受试者编号,出院诊断,主要疾病转归_描述,用药开始时间,用药结束时间,用药天数,EXDOSFRQ,EXDSTXT,日剂量,心血管疾病_label,...,NSE_入院,TPSA_入院,AFP_出院,CA-125_出院,CA-153_出院,CA-199_出院,CA-242_出院,CA-50_出院,CA-724_出院,CEA_出院
0,90001_a,大脑动脉狭窄脑梗死 NIHSS评分12分，高血压病（2级，很高危），2型糖尿病，脑梗死个人史...,0,2018-04-07,2018-04-15,9,1.0,30.0,30.0,1.0,...,NaN,NaN,1.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90003_a,I型呼吸衰竭 重症肺炎 肺栓塞(中低危)心功能不全 高血压病I级(高危)肝功能不全 下肢静脉...,1,2018-03-12,2018-03-17,6,1.0,40.0,40.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,90018_b,"急性下壁心肌梗塞,Killip I 级,急诊RCA-PCI术后,冠心病,高血压病(1级,很高危)",0,2019-05-28,2019-06-04,8,1.0,60.0,60.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90021_b,"急性前壁心肌梗塞,killip Ⅰ级,急诊PCI术后,冠心病 2型糖尿病 脑梗个人史",0,2019-04-23,2019-05-05,13,1.0,60.0,60.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,90025_a,"1.大脑动脉狭窄 2.肺部感染 慢支 3.高血压病3级,极高危; 4.2型糖尿病 5.脑梗死个人史",0,2018-02-23,2018-03-02,8,1.0,40.0,40.0,1.0,...,12.43,1.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [517]:
df_SUP_test.to_excel(project_path+'/data/processed_data/df_1.10.5.4_并入检测指标.xlsx')

### 人工删除不重要的列

In [518]:
# 人工删除不重要变量
df_SUP_test=df_SUP_test.drop(['尿蛋白（PRO）_入院'],axis=1)
# # 删除特殊字符
# df_model = filter_spec_character(df_model,'尿蛋白（PRO）_入院')    
# df_model['尿蛋白（PRO）_入院']=df_model['尿蛋白（PRO）_入院'].apply(lambda x: 0.1 if re.match('阴性|隐性', str(x)) else 
#                                                                                 np.nan if x=='nan' else x)

In [519]:
df_SUP_test.shape

(298, 112)

In [520]:
df_SUP_test.to_excel(project_path+'/data/processed_data/df_1.10.6_人工删除不重要列.xlsx')